{% extends 'base.html' %}
{%load static %}
{%block title%}RADIOLOGY RESULT LIST {%endblock%}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'radiology' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>RADIOLOGY RESULT LIST</div>{%endblock%}
{% block content %}
<div class="mt-4">
  <div class="md:mx-20 mx-2 rounded-xl p-4 shadow-black shadow-sm bg-gray-50">
  <div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-500">
    <thead class="bg-gray-100">
      <tr class="text-xs bg-emerald-100 text-left">
        <th class="p-3 font-medium text-gray-500 uppercase tracking-wider">#</th>
        <th class="p-3 font-medium text-gray-500 uppercase tracking-wider">
          Patient
        </th>
        <th class="p-3 font-medium uppercase tracking-wider text-rose-500">
          Test
        </th>
        <th class="p-3 font-medium text-green-700 uppercase tracking-wider">
          comment
        </th>
        <th class="p-3 font-medium text-gray-500 uppercase tracking-wider">
          Requested By
        </th>
        <th class="p-3 font-medium text-gray-500 uppercase tracking-wider">
          Date
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      {% for result in radiology_results %}
      <tr class="text-left text-xs bg-gray-50 hover:bg-gray-200 transition-colors duration-300 uppercase">
        <td class="p-3 whitespace-nowrap">
          {{forloop.counter}}
      </td>
      <td class="p-3 whitespace-nowrap text-blue-500 tex">
          {{ result.patient|default_if_none:'' }}
        </td>
        <td class="p-3 whitespace-nowrap text-rose-400">
            {{ result.test|default_if_none:'' }}
        </td>
        <td class="p-3 whitespace-nowrap text-green-600">
          {{ result.comments|default_if_none:'' }}
          </td>
        <td class="p-3 whitespace-nowrap">
          {{ result.user|default_if_none:'' }}
        </td>
        <td class="p-3 whitespace-nowrap">
          {{ result.updated|default_if_none:'' }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
{% endblock %}