<!DOCTYPE html>
<html>
<head>
    <title>View DICOM File</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/cornerstone-core/dist/cornerstone.js"></script>
    <script src="https://unpkg.com/cornerstone-wado-image-loader/dist/cornerstoneWADOImageLoader.js"></script>
    <script src="https://unpkg.com/dicom-parser/dist/dicomParser.js"></script>
    <script>
        $(document).ready(function() {
            cornerstoneWADOImageLoader.external.cornerstone = cornerstone;
            cornerstoneWADOImageLoader.configure({
                beforeSend: function(xhr) {
                    // Add custom headers here (e.g. auth tokens)
                }
            });

            var element = document.getElementById('dicomImage');
            cornerstone.enable(element);

            var imageId = 'wadouri:' + $('#dicomImage').data('url');
            cornerstone.loadAndCacheImage(imageId).then(function(image) {
                cornerstone.displayImage(element, image);
            });
        });
    </script>
    <style>
        #dicomImage {
            width: 512px;
            height: 512px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>View DICOM File</h1>
    <div id="dicomImage" data-url="{{ dicom_file.file.url }}"></div>
</body>
</html>
