
{% extends 'base.html' %}
{% block title %}ITEMS LIST{% endblock %}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'pharm:list' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>ADD NEW DRUG</div>{%endblock%}
{% block content %}
  <div class="mt-2 mb-6">
    <div class="font-semibold uppercase text-xs shadow-md shadow-cyan-900 md:w-fit md:mx-auto md:p-8 p-4 rounded-2xl bg-white mx-2">
      <section class="text-center p-2 m-2">
                  {% if form.non_field_errors %}
          <div class="text-red-600 text-sm">
            {{ form.non_field_errors.0 }}
          </div>
        {% endif %}
      </section>
      <p class="text-sm md:text-lg font-bold border-b-2 border-cyan-800  text-cyan-800 text-center">add a new drug to the store</p>
      <form action="" method="POST" enctype="multipart/form-data" class="">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-16 text-center">
          <div>
            <div>DRUG NAME</div>
            {{ form.name }}
            {% if form.name.errors %}
            <div class="text-red-600 ">
              {{ form.name.errors.0 }}
            </div>
            {% endif %}
          </div>
          <div>
            <div>GENERIC NAME</div>
            {{ form.generic_name }}
            {% if form.generic_name.errors %}
            <div class="text-red-600">
              {{ form.generic_name.errors.0 }}
            </div>
            {% endif %}
          </div>
          <div>
            <div>BRAND NAME</div>
            {{ form.brand_name }}
            {% if form.brand_name.errors %}
            <div class="text-red-600">
              {{ form.brand_name.errors.0 }}
            </div>
            {% endif %}
          </div>
          <div>
            <div>CATEGORY</div>
            {{ form.category }}
            {% if form.category.errors %}
            <div class="text-red-600">
              {{ form.category.errors.0 }}
            </div>
            {% endif %}
          </div>
          <div>
            <div>SUPPLIER</div>
            {{ form.supplier }}
            {% if form.supplier.errors %}
            <div class="text-red-600">
              {{ form.supplier.errors.0 }}
            </div>
            {% endif %}
          </div>
          <div>
            <div>DOSAGE FORM</div>
            {{ form.dosage_form }}
            {% if form.dosage_form.errors %}
            <div class="text-red-600">
              {{ form.dosage_form.errors.0 }}
            </div>
            {% endif %}
          </div>
          <div>
            <div>PACK SIZE</div>
          {{ form.pack_size }}
          {% if form.pack_size.errors %}
            <div class="text-red-600">
              {{ form.pack_size.errors.0 }}
            </div>
            {% endif %}
          </div>
          <div>
            <div>PACK PRICE</div>
            {{ form.pack_price }}
            {% if form.pack_price.errors %}
            <div class="text-red-600">
              {{ form.pack_price.errors.0 }}
            </div>
            {% endif %}
          </div>
          <div>
            <div>COST PRICE</div>
            {{ form.cost_price }}
            {% if form.cost_price.errors %}
            <div class="text-red-600">
              {{ form.cost_price.errors.0 }}
            </div>
            {% endif %}
          </div>

          <div>
            <div>QUANTITY</div>
            {{ form.total_purchased_quantity }}
            {% if form.total_purchased_quantity.errors %}
            <div class="text-red-600">
              {{ form.total_purchased_quantity.errors.0 }}
            </div>
            {% endif %}
          </div>

          <div>
            <div>EXPRIRY DATE</div>
            {{ form.expiration_date }}
            {% if form.expiration_date.errors %}
            <div class="text-red-600">
              {{ form.expiration_date.errors.0 }}
            </div>
            {% endif %}
          </div>
          <div class="flex justify-center align-middle mt-2 ">
            <input type="submit" value="add item" class="focus:opacity-10 uppercase focus:border-cyan-900 hover:bg-white hover:text-cyan-800 hover:border-2 hover:border-cyan-600
            bg-cyan-800 text-white py-4 md:px-20 px-10 rounded shadow-lg hover:shadow-xl">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
