{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block title %}DRUGS{% endblock %}
{%block page_title%}<div class="enom flex justify-center">LIST OF DRUGS</div>{%endblock%}
{% block content %}
<div class="mx-20 flex justify-center justify-items-center text-center text-gray-800 font-medium text-sm align-middle uppercase items-center p-3 bg-cyan-50 border-b border-gray-100 shadow-md shadow-cyan-900 rounded-b-xl">
    <a href="{%url 'pharm:create_drug'%}" class="focus:opacity-10 bg-cyan-800 p-2 px-4 rounded-2xl m-2 text-white"><i class="text-white fa-solid fa-plus fa-lg mr-2"></i>add new drug</a>
    <a href="{%url 'pharm:drug_report' %}" class="focus:opacity-10 bg-cyan-800 p-2 px-4 rounded-2xl m-2 text-white"><i class="text-white fa-solid fa-file fa-lg mr-2"></i>generate report</a>
</div>
<div class="p-1 text-sm rounded-2xl text-center mt-6 mb-6 ">    
    <table class="table-auto max-sm:flex flex rounded-2xl items-center justify-center ">
        <tbody class="bg-white border-1 rounded-2xl max-sm:p-3 p-2 overflow-x-auto border-cyan-700 shadow-md shadow-cyan-900">
            <tr class="text-xs bg-cyan-800 text-white">
                <th scope="col" class="border-2 border-white p-3">S/N</th>
                <th scope="col" class="border-2 border-white p-3">DATE ADDED/UPDATED</th>
                <th scope="col" class="border-2 border-white p-3">NAME</th>
                <th scope="col" class="border-2 border-white p-3">GENERIC NAME</th>
                <th scope="col" class="border-2 border-white p-3">BRAND NAME</th>
                <th scope="col" class="border-2 border-white p-3">CLASS</th>
                <th scope="col" class="border-2 border-white p-3">SUPPLIER</th>
                <th scope="col" class="border-2 border-white p-3">DOSAGE FORM</th>
                <th scope="col" class="border-2 border-white p-3">PACK SIZE</th>
                <th scope="col" class="border-2 border-white p-3">PACK PRICE</th>
                <th scope="col" class="border-2 border-white p-3">COST PRICE</th>
                <th scope="col" class="border-2 border-white p-3">TOTAL DRUGS</th>
                <th scope="col" class="border-2 border-white p-3">BALANCE</th>
                <th scope="col" class="border-2 border-white p-3">TOTAL VALUE</th>
                <th scope="col" class="border-2 border-white p-3">EXPIRY DATE</th>
                <th scope="col" class="border-2 border-white p-3">ADDED BY</th>
            </tr>
            {% for i in po %}
        <tr class="text-xs {% cycle 'bg-white hover:bg-cyan-200' 'bg-cyan-100 hover:bg-cyan-200' %} border-b border-cyan-700 uppercase">
            <td class="border-1 border-cyan-700 p-3 text-center">
            {{forloop.counter}}
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
            {{i.updated_at|default_if_none:''}}
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
            {{i.name|default_if_none:''}}
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
            {{i.generic_name|default_if_none:''}}
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
            {{i.brand_name|default_if_none:''}}
            </td>
            <td class="border-1 border-cyan-700 p-1 text-center">
            {{i.category|default_if_none:''}} 
            </td>
            <td class="border-1 border-cyan-700 p-1 text-center">
            {{i.supplier|default_if_none:''}} 
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
            {{i.dosage_form|default_if_none:''}}
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
            {{i.pack_size|default_if_none:''}}
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
            {{i.pack_price|default_if_none:''}}
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
            {{i.cost_price|default_if_none:''}}
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
                {{i.total_purchased_quantity|default_if_none:''}}
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
                {{i.current_balance}}
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
            {{i.total_value|default_if_none:''}}
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
            {{i.expiration_date|default_if_none:''}}
            </td>
            <td class="border-1 border-cyan-700 p-3 text-center">
            {{i.added_by}}
            </td>
            </tr>
            {%endfor%} 
        <tr class="">
            <td class="p-3 text-center">        
       <div class="pagination flex justify-between ">
            <span class="flex items-center">
                {% if po.has_previous %}
                <a href="?page=1" class="p-2 px-2 rounded-lg bg-cyan-800 text-white mr-2"><i class="fa-solid fa-angle-double-left fa-lg"></i></a>
                <a href="?page={{po.previous_page_number}}" class="p-2 px-2 rounded-lg bg-cyan-800 text-white"><i class="fa-solid fa-angle-left fa-lg"></i></a>
                {% endif %}
            </span>
                <span class="text-sm text-gray-700 m-2 font-semibold">
                    {{po.number}}-{{po.paginator.num_pages}}
                </span>
                <span class="flex item-center">
                    {% if po.has_next %}
                    <a href="?page={{po.next_page_number}}" class="p-2 px-2 rounded-lg bg-cyan-800 text-white mr-2"><i class="fa-solid fa-angle-right fa-lg"></i></a>
                    <a href="?page={{po.paginator.num_pages}}" class="p-2 px-2 rounded-lg bg-cyan-800 text-white"><i class="fa-solid fa-angle-double-right fa-lg"></i></a>
                    {% endif %}
                </span>
            </div>

        </td>
        </tr>
</tbody>
</table>
</div>     
{% endblock %}
