{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block title %}RECORD{% endblock %}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'pharm:pharm_inventory' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>DRUGS ISSUED RECORD</div>{%endblock%}
{% block content %}
<div class="md:mx-20 mx-2 flex justify-center justify-items-center text-center text-gray-800 font-medium text-sm align-middle items-center bg-amber-50 border-b uppercase border-gray-100 shadow-sm shadow-amber-600 rounded-b-xl">
    <a href="{%url 'pharm:create_record' %}" class="focus:opacity-10 bg-amber-500 p-2 rounded-2xl m-1 text-white text-xs"><i class="text-white fa-solid fa-plus fa-xl mr-2"></i>issued drug</a>
    <a href="{%url 'pharm:record_report' %}" class="focus:opacity-10 bg-amber-500 p-2 rounded-2xl m-1 text-white text-xs"><i class="text-white fa-solid fa-file fa-xl mr-2"></i>generate report</a>
</div>
<div class="text-xs md:mx-20 mx-2 rounded-2xl text-center p-1">    
    <table class="table-auto max-sm:flex flex rounded-2xl items-center justify-center">
        <tbody class="bg-white rounded-2xl p-2 overflow-x-auto border-amber-700 shadow-sm shadow-amber-600">
            <tr class="text-xs bg-amber-500 text-white">
                <th scope="col" class="border-2 border-white">#</th>
                <th scope="col" class="border-2 border-white p-1">DATE ISSUED</th>
                <th scope="col" class="border-2 border-white p-1">DRUG</th>
                <th scope="col" class="border-2 border-white p-1">CLASS</th>
                <th scope="col" class="border-2 border-white p-1">GENERIC NAME</th>
                <th scope="col" class="border-2 border-white p-1">BRAND NAME</th>
                <th scope="col" class="border-2 border-white p-1">SUPPLIER</th>
                <th scope="col" class="border-2 border-white p-1">UNIT ISSUED TO</th>
                <th scope="col" class="border-2 border-white p-1">ISSUED BY</th>
                <th scope="col" class="border-2 border-white p-1">PACK PRICE</th>
                <th scope="col" class="border-2 border-white p-1">QUANITITY</th>
                <th scope="col" class="border-2 border-white p-1">BALANCE</th>
                <th scope="col" class="border-2 border-white p-1">REMARK</th>
            </tr>
            {% for r in po %}
        <tr class="text-xs {% cycle 'bg-white hover:bg-amber-200' 'bg-amber-100 hover:bg-amber-200' %} border-b border-amber-700 uppercase">
            <td class="border-amber-700 p-1 text-center">
                {{forloop.counter}}
            </td>    
            <td class="border-amber-700 p-2 text-center">
                {{r.updated_at|default_if_none:''}}
            </td>    
            <td class="border-amber-700 p-2 text-center">
                {{r.drug|default_if_none:''}}
            </td>
            <td class="border-amber-700 p-2 text-center">
                {{r.drug.category|default_if_none:''}}
            </td>
            <td class="border-amber-700 p-2 text-center">
                {{r.drug.generic_name|default_if_none:''}}
            </td>
            <td class="border-amber-700 p-2 text-center">
                {{r.drug.brand_name|default_if_none:''}}
            </td>
            <td class="border-amber-700 p-2 text-center">
                {{r.drug.supplier|default_if_none:''}}
            </td>
            <td class="border-amber-700 p-2 text-center">
            {{r.unit_issued_to|default_if_none:''}}
            </td>
            <td class="border-amber-700 p-1 text-center">
            {{r.issued_by|default_if_none:''}}
            </td>
            <td class="border-amber-700 p-2 text-center">
                {{r.drug.pack_price|default_if_none:''}}
                </td>
            <td class="border-amber-700 p-2 text-center">
            {{r.quantity|default_if_none:''}}
            </td>
            <td class="border-amber-700 p-2 text-center">
            {{r.drug.current_balance|default_if_none:''}}
            </td>
            <td class="border-amber-700 p-2 text-center">
            {{r.remark|default_if_none:''}}
            </td>

            </tr>
            {%endfor%} 
        <tr class="">
            <td class="p-1 text-center">        
        <div class="pagination flex justify-between">
            <span class="flex items-center">
                {% if po.has_previous %}
                <a href="?page=1" class="p-2 px-2 rounded-lg bg-amber-600 text-white mr-2"><i class="fa-solid fa-angle-double-left fa-md"></i></a>
                <a href="?page={{po.previous_page_number}}" class="p-2 px-2 rounded-lg bg-amber-600 text-white"><i class="fa-solid fa-angle-left fa-md"></i></a>
                {% endif %}
            </span>
                <span class="text-xs text-gray-700 m-1">
                    {{po.number}}-{{po.paginator.num_pages}}
                </span>
                <span class="flex item-center">
                    {% if po.has_next %}
                    <a href="?page={{po.next_page_number}}" class="p-1 rounded-lg bg-amber-600 text-white mr-2"><i class="fa-solid fa-angle-right fa-md"></i></a>
                    <a href="?page={{po.paginator.num_pages}}" class="p-1 rounded-lg bg-amber-600 text-white"><i class="fa-solid fa-angle-double-right fa-md"></i></a>
                    {% endif %}
                </span>
            </div>
        </td>
        </tr>
</tbody>
</table>

</div>     

{% endblock %}
