{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block title %}WORTH{% endblock %}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'pharm:pharm_inventory' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>PHARMACY STORE WORTH</div>{%endblock%}
{% block content %}
<div class="text-center shadow-md shadow-black rounded-xl mt-10 md:mt-20 w-fit flex mx-auto justify-center bg-white">
    <div>
        <div class="rounded">
            <h3 class="uppercase md:text-2xl text-lg p-4  text-zinc-700">
                <p class="md:text-xl text-lg bg-green-700 text-white rounded p-4"> {{ today }} <p>
                    Live Inventory Worth</h3>
                </div>
                <div class="md:p-20 bg-gray-100 rounded-xl">
                    <h1 class="text-green-700 md:text-6xl text-4xl font-bold md:p-5 p-14 mx-auto">
                        &#x20A6;{{ total_store_value|floatformat:2 }}
                    </h1>
                </div>
        </div>
</div>
  {% endblock %}
