{% extends "base.html" %}
{%load static %}
{% block title %}Store Inventory{% endblock %}
{%block page_title%}<div class="flex justify-center uppercase"><a href="{%url 'inventory:store_inventory' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>store inventory management</div>{%endblock%}
{% block content %}
<div class="mt-4 w-1/2 text-center mx-auto">
    <div class="p-10 bg-white uppercase text-white text-center mx-auto shadow-2xl rounded-2xl ">
        <div class="">
<div class="flex flex-row border-zinc-700 p-4 mx-auto justify-center items-center gap-6">
    <a href="{% url "inventory:list" %}" class="">
        <div class="text-xs p-8 bg-zinc-600 rounded-xl shadow-2xl hover:text-zinc-700 hover:bg-white hover:border-2 hover:border-zinc-600 focus:opacity-10 text-white">items</div>
    </a>
    <a href="{% url "inventory:record" %}" class="">
        <div class="text-xs p-8 bg-amber-600 rounded-xl shadow-2xl hover:text-zinc-700 hover:bg-white hover:border-2 hover:border-amber-600 focus:opacity-10 text-white">record</div>
    </a>
    <a href="{% url "inventory:worth" %}" class="">
        <div class="text-xs p-8 bg-green-600 rounded-xl shadow-2xl hover:text-zinc-700 hover:bg-white hover:border-2 hover:border-green-600 focus:opacity-10 text-white">worth</div>
    </a>
</div>
    </div>
</div>
</div>  
{% endblock %}
