{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
{% tailwind_css %} 
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="{%static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{%static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{%static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{%static 'favicon/site.webmanifest' %}">
<link rel="stylesheet" href="{% static 'fonts/fontstyle.css' %}" type='text/css'>
<link rel="stylesheet" href="{% static 'uikit/css/uikit.min.css' %}" type="text/css">
<!-- <link rel="stylesheet" href="{% static 'images/style.css' %}" type="text/css"> -->
<script src="{%static 'js/_hyperscript.js' %}"></script>
<script src="{%static 'js/htmx.min.js'%}"></script>
<script src="{% static 'uikit/js/uikit.min.js' %}"></script>
<script src="{% static 'uikit/js/uikit-icons.js' %}"></script>

</head>

<body>
{% block content %}
<header class="">
	<nav class="">

	</nav>
</header>
{% endblock %}
</body>
</html>
