{% extends 'base.html' %}
{% load static %}
{% block title %}{{clinic.name}}{% endblock %}
{% block page_title %}
<div class="flex justify-center">
 {%if request.user.profile.department.name == 'record'%} <a href="{% url 'patient_movement' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>{{clinic.name}} DASHBOARD {%else%}
  <a href="{% url 'clinic_list' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>{{clinic.name}} DASHBOARD {%endif%} 
</div>
{% endblock %}
{% block content %}
<div class="mt-2">
  <div class="container mx-auto px-4">
    <div class="rounded-xl p-4">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
          <!-- Main statistics -->
          <div class="md:col-span-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <a href="{% url 'waiting_list' clinic.id %}" class="transform transition duration-500 hover:scale-105">
              <div class="bg-sky-50 rounded-lg shadow-md overflow-hidden h-full">
                <div class="p-6 flex flex-col items-center justify-center h-full">
                  <i class="fas fa-clock text-4xl sm:text-5xl text-sky-500 mb-4"></i>
                  <h2 class="text-lg sm:text-sm font-semibold text-sky-800 mb-2">Waiting</h2>
                  <p class="text-3xl sm:text-4xl font-bold text-sky-600">{{ waiting_count }}</p>
                  <div class="w-full mt-4 bg-sky-200 rounded-full overflow-hidden">
                    <div class="bg-sky-500 text-xs leading-none py-1 text-center text-white" 
                        style="width: {% widthratio waiting_count 50 100 %}%">
                    </div>
                  </div>
                  <div class="bg-sky-600 px-6 py-2 text-center mt-2 rounded-full">
                    <span class="text-white text-sm">View details</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="{% url 'seen_list' clinic.id %}" class="transform transition duration-500 hover:scale-105">
              <div class="bg-emerald-50 rounded-lg shadow-md overflow-hidden h-full">
                <div class="p-6 flex flex-col items-center justify-center h-full">
                  <i class="fas fa-check-circle text-4xl sm:text-5xl text-emerald-500 mb-4"></i>
                  <h2 class="text-lg sm:text-sm font-semibold text-emerald-800 mb-2">Finished</h2>
                  <p class="text-3xl sm:text-4xl font-bold text-emerald-600">{{ seen_count }}</p>
                  <div class="w-full mt-4 bg-emerald-200 rounded-full overflow-hidden">
                    <div class="bg-emerald-500 text-xs leading-none py-1 text-center text-white" 
                        style="width: {% widthratio seen_count 50 100 %}%">
                    </div>
                  </div>
                  <div class="bg-emerald-600 px-6 py-2 text-center mt-2 rounded-full">
                    <span class="text-white text-sm">View details</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="{% url 'review_list' clinic.id %}" class="transform transition duration-500 hover:scale-105">
              <div class="bg-amber-50 rounded-lg shadow-md overflow-hidden h-full" style="min-height: 250px;">
                <div class="p-6 flex flex-col items-center justify-center h-full">
                  <i class="fas fa-eye text-4xl sm:text-5xl text-amber-500 mb-4"></i>
                  <h2 class="text-lg sm:text-sm font-semibold text-amber-800 mb-2">For Review</h2>
                  <p class="text-3xl sm:text-4xl font-bold text-amber-600">{{ review_count }}</p>
                  <div class="w-full mt-4 bg-amber-200 rounded-full overflow-hidden">
                    <div class="bg-amber-500 text-xs leading-none py-1 text-center text-white" 
                        style="width: {% widthratio review_count 50 100 %}%">
                    </div>
                  </div>
                  <div class="bg-amber-600 px-6 py-2 text-center mt-2 rounded-full">
                    <span class="text-white text-sm">View details</span>
                  </div>
                </div>
              </div>
            </a>
          </div>

        <!-- Rooms -->
        <div class="md:col-span-1">
          <div class="bg-white rounded-lg shadow-md p-6 h-full">
            <h2 class="text-sm font-medium mb-4 text-sky-800 text-center uppercase border-b-2 border-gray-300">Consultation Rooms</h2>
            <div class="md:grid md:grid-cols-2 gap-2">
              {% for r in rooms %}
                <a href="{% url 'room' r.id %}" class="block">
                  <div class="bg-white rounded-lg p-4 transition duration-300 transform hover:scale-105 hover:bg-sky-100">
                    <div class="flex flex-col items-center">
                      <span class="text-sm font-medium text-sky-800 mb-2">{{r.name}}</span>
                      <span class="bg-gradient-to-r from-sky-600 to-emerald-500 text-white rounded-full px-3 py-1 text-xs mb-2">
                        {{r.waiting_count}} waiting
                      </span>
                      <div class="w-full bg-sky-200 rounded-full overflow-hidden">
                        <div class="bg-sky-500 text-xs leading-none py-1 text-center text-white" 
                             style="width: {% widthratio r.waiting_count 10 100 %}%">
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}