{% extends 'base.html' %}
{% load static %}
{%block title%}{{clinic.name}} CLINIC{%endblock%}
{%block page_title%}<div class="enom flex justify-center">{{clinic.name}} DASHBOARD</div>{%endblock%}
{% block content %}
<div class="md:mt-8 mt-4 md:grid md:grid-cols-6 md:mx-20">
    <div class="md:col-span-5 md:max-w-7xl  bg-white rounded-md shadow-black h-fit shadow-2xl">
        <div class=" grid grid-cols-4 gap-6 uppercase text-center rounded-xl p-8 md:p-14 ">
            <div>
                <a href="{% url 'nursing_station' %}">
            <div class="hover:bg-slate-600 hover:text-white bg-white text-slate-800 rounded-2xl shadow-2xl p-2 md:p-16 border-2 border-white-400 transition duration-300">
              <div class="font-semibold text-xs md:text-sm">WAITING FOR VITAL SIGNS</div>
            </div>
          </a> 
        </div>
            <div>
                <a href="{% url 'waiting_for_consultation' %}">
            <div class="hover:bg-slate-600 hover:text-white bg-white text-slate-800 rounded-2xl shadow-2xl p-2 md:p-16 border-2 border-white-400 transition duration-300">
              <div class="font-semibold text-xs md:text-sm">WAITING FOR CONSULTATION</div>
            </div>
          </a> 
        </div>
        <div>
          <a href="{%url 'consultation_finished' %}">
            <div class="hover:bg-emerald-500 hover:text-white bg-white text-emerald-700 rounded-2xl shadow-2xl p-2 md:p-16 border-2 border-white-400 transition duration-300">
              <div class="font-semibold text-xs md:text-sm">CONSULTATION FINISHED</div>
            </div>
          </a>
        </div>
        <div>
          <a href="{%url 'waiting_for_review' %}">
            <div class="hover:bg-emerald-500 hover:text-white bg-white text-emerald-700 rounded-2xl shadow-2xl p-2 md:p-16 border-2 border-white-400 transition duration-300">
              <div class="font-semibold text-xs md:text-sm">WAITING FOR REVIEW</div>
            </div>
          </a>
        </div>
    </div>
      </div>

    <div class="md:col-span-1 bg-white rounded-xl shadow-black shadow-2xl m-2">
        <div class="grid grid-cols-1 gap-6 uppercase text-center rounded-xl p-8 md:p-14 bg-gray-50">
            {%for r in rooms %}
            <div>
                <a href="{{r.get_absolute_url}}" >
                    <div class="hover:bg-slate-600 hover:text-white bg-white text-slate-800 rounded-2xl shadow-2xl p-2 md:p-6 border-2 border-white-400 transition duration-300">
                        <div class="font-semibold text-xs md:text-sm">{{r.name}}</div>
                    </div>
                </a>
            </div>
            {%endfor%}
          
    </div>
</div>
</div>

{% endblock %}