{% extends 'base.html' %}
{% load static %}
{% block title %}{{clinic.name}}{% endblock %}
{% block page_title %}
<div class="flex justify-center">
    <a href="{% url 'clinic_list' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>{{clinic.name}} DASHBOARD
</div>
{% endblock %}
{% block content %}
<div class="md:mt-8 mt-4 md:grid md:grid-cols-6 md:mx-20 mx-2">
    <div class="md:col-span-5 md:max-w-7xl bg-zinc-200 rounded-md shadow-black h-fit shadow-md">
        <div class="grid md:grid-cols-3 grid-cols-1 gap-6 uppercase text-center rounded-xl p-6 md:p-12">
            <div>
                <a href="{% url 'pt_list' clinic.id 'waiting for consultation' %}">
                    <div class="hover:bg-slate-600 hover:text-white bg-white text-slate-800 rounded-2xl shadow-2xl p-4 md:p-8 border-2 border-white-400 transition duration-300">
                        <div class="text-xs">WAITING FOR CONSULTATION</div>
                        <div class="mt-2 text-lg font-bold">{{ waiting_count }}</div>
                    </div>
                </a>
            </div>
            <div>
                <a href="{% url 'pt_list' clinic.id 'seen' %}">
                    <div class="hover:bg-emerald-500 hover:text-white bg-white text-emerald-700 rounded-2xl shadow-2xl p-4 md:p-8 border-2 border-white-400 transition duration-300">
                        <div class="text-xs">CONSULTATION FINISHED</div>
                        <div class="mt-2 text-lg font-bold">{{ seen_count }}</div>
                    </div>
                </a>
            </div>
            <div>
                <a href="{% url 'pt_list' clinic.id 'awaiting review' %}">
                    <div class="hover:bg-emerald-500 hover:text-white bg-white text-emerald-700 rounded-2xl shadow-2xl p-4 md:p-8 border-2 border-white-400 transition duration-300">
                        <div class="text-xs">WAITING FOR REVIEW</div>
                        <div class="mt-2 text-lg font-bold">{{ review_count }}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="md:col-span-1 bg-white rounded-xl shadow-md mt-4 md:mt-0 md:mx-2 mx-20">
        <div class="grid grid-cols-1 gap-3 uppercase text-center rounded-xl p-4 md:p-8 bg-gray-50">
            {% for r in rooms %}
            <div class="">
                <a href="{% url 'room' r.id %}">
                    <div class="hover:bg-slate-600 hover:text-white bg-green-600 text-white rounded-2xl shadow-2xl p-4 border-2 border-white-400 transition duration-300">
                        <div class="text-xs">{{r.name}}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}