{% extends 'base.html' %}
{% load static %}
{%block title%}PATIENT REPORT{%endblock%}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'visit_stat_card' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>PATIENT REPORT</div>{%endblock%}
{%block content %}
<div class="p-1">
  <div class="m-1 flex justify-center items-center space-x-4 text-xs font-medium">
    <span class="uppercase bg-sky-100 text-sky-800 text-xs py-1 px-3 rounded">
      Total patients Registered: <span class=" shadow-white text-white text-xs p-1 rounded-full bg-blue-800 ">{{ total_patient }}</span>
    </span>
    {% if request.GET %}
      <span class="uppercase text-xs bg-white text-green-800 py-1 px-3 rounded">
        Filtered results: <span class=" shadow-white text-white text-xs p-1 rounded-full bg-green-800 ">{{ filtered_count }}</span>
      </span>
    {% endif %}
  </div>
    <div class="mx-2 md:mx-20 rounded-b-xl p-2 shadow-black shadow-sm bg-white">
      <div class="text-sky-900">
        <form method="get" class="text-xs">
          <div class="text-center sm:flex md:flex-row sm:flex-wrap gap-2 sm:justify-center">
              {% for field in visitFilter.form %}
              <div class="sm:flex sm:justify-center sm:items-start sm:flex-col x">
                  <div class="text-xs">
                      <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                  </div>
                  {% if field.field.widget.input_type == 'select' %}
                      {{ field }}
                  {% else %}
                  <input type="{{field.field.widget.input_type}}" name="{{field.name}}" value="{{ field.value|default_if_none:'' }}" class="text-center text-xs focus:outline-none border border-sky-400 p-2 rounded shadow-lg focus:shadow-xl focus:border-sky-500 uppercase">

                  {% endif %}
                  <span class="form-error">{{ field.errors }}</span>
              </div>
              {% endfor %}
              <div class="flex justify-center align-middle ">
                  <button type="submit" class="text-xs shadow-sm shadow-sky-900 w-fit p-1 focus:opacity-10 uppercase border-gray-500 focus:border-sky-600 bg-sky-600 text-white rounded hover:border-sky-700 ">
                      <i class="fa-solid fa-search mr-1 fa-2"></i>search
                  </button>
                  {% if request.GET.urlencode %}
                  <div class="m-3">
                      <a href="?" class="text-xs p-2 focus:opacity-10 bg-orange-500 text-white rounded w-fit"><i class="fa-solid fa-rotate fa-xl"></i></a>
                      <a class="text-xs text-white focus:opacity-10  bg-green-600 p-2 rounded w-fit" href="{% url 'visit_pdf' %}?{{request.GET.urlencode}}">
                          <i class="fa-solid fa-file-pdf fa-xl"></i></a>
                  </div>
                  {% endif %}
              </div>
          </div>
      </form>
    </div>
        <div class="overflow-x-auto bg-white rounded-b-xl shadow-lg mt-2">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-sky-600">
              <tr class="text-xs">
                <th scope="col" class="p-3 text-left  font-medium text-white uppercase tracking-wider">#</th>
                <th scope="col" class="p-3 text-left  font-medium text-white uppercase tracking-wider">File No</th>
                <th scope="col" class="p-3 text-left  font-medium text-white uppercase tracking-wider">Name</th>
                <th scope="col" class="p-3 text-left  font-medium text-white uppercase tracking-wider">Gender</th>
                <th scope="col" class="p-3 text-left  font-medium text-white uppercase tracking-wider">Phone</th>
                <th scope="col" class="p-3 text-left  font-medium text-white uppercase tracking-wider">Age</th>
                <th scope="col" class="p-3 text-left  font-medium text-white uppercase tracking-wider">Status</th>
                <th scope="col" class="p-3 text-left  font-medium text-white uppercase tracking-wider">Clinic</th>
                <th scope="col" class="p-3 text-left  font-medium text-white uppercase tracking-wider">Team</th>
                <th scope="col" class="p-3 text-left  font-medium text-white uppercase tracking-wider">Diagnosis</th>
                <th scope="col" class="p-3 text-left  font-medium text-white uppercase tracking-wider">Date</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-sky-100">
              {% for p in visits %}
                <tr class="hover:bg-sky-100 uppercase text-xs">
                  <td class="p-3 text-left whitespace-nowrap  text-gray-500">{{ forloop.counter }}</td>
                  <td class="p-3 text-left whitespace-nowrap  font-medium text-gray-900">{{ p.patient.file_no }}</td>
                  <td class="p-3 text-left whitespace-nowrap  text-gray-500">
                    <a href="{{ p.patient.get_absolute_url }}" class="text-indigo-600 hover:text-indigo-900">{{ p.patient.full_name }}</a>
                  </td>
                  <td class="p-3 text-left whitespace-nowrap  text-gray-500">{{ p.patient.gender }}</td>
                  <td class="p-3 text-left whitespace-nowrap  text-gray-500">{{ p.patient.phone }}</td>
                  <td class="p-3 text-left whitespace-nowrap  text-gray-500">{{ p.patient.age }}</td>
                  <td class="p-3 text-left whitespace-nowrap">
                    <span class="px-2 inline-flex leading-5 rounded-full
                        {% if not p.vitals %}bg-blue-100 text-blue-800
                        {% elif not p.seen and not p.review %}bg-yellow-100 text-yellow-800
                        {% elif p.seen and not p.review %}bg-green-100 text-green-800
                        {% elif p.review %}bg-orange-100 text-orange-800
                        {% else %}bg-gray-100 text-gray-800{% endif %}">
                        {% if not p.vitals %}Waiting for nurse
                        {% elif not p.seen and not p.review %}Waiting for doctor
                        {% elif p.seen and not p.review %}Seen
                        {% elif p.review %}Waiting for review
                        {% else %}Completed{% endif %}
                    </span>
                </td>
                    <td class="p-3 text-left whitespace-nowrap  text-gray-500">{{ p.clinic.name }}</td>
                    <td class="p-3 text-left whitespace-nowrap  text-gray-500">{{ p.team.name }}</td>
                    <td class="p-3 text-left whitespace-nowrap  text-gray-500">
                      {{ p.latest_diagnosis|default_if_none:"No Diagnosis" }}
                  </td>
                  <td class="p-3 text-left whitespace-nowrap  text-gray-500">{{ p.updated }}</td>
                </tr>
              {% empty %}
            <tr class="bg-white">
              <td colspan="11" class="p-3 text-center text-sky-500">
                Not found
              </td>
            </tr>
            {% endfor %}
            <tr class="">
              <td class="p-1" colspan='11'>        
          <div class="pagination flex justify-center">
              <span class="flex items-center">
                  {% if page_obj.has_previous %}
                  <a href="?page=1" class="p-1 rounded-lg bg-sky-600 text-white mr-2"><i class="fa-solid fa-angle-double-left fa-md"></i></a>
                  <a href="?page={{page_obj.previous_page_number}}" class="p-1 rounded-lg bg-sky-600 text-white"><i class="fa-solid fa-angle-left fa-md"></i></a>
                  {% endif %}
              </span>
                  <span class="flex item-center"> 
                      {% if page_obj.has_next %}
                      <a href="?page={{page_obj.next_page_number}}" class="p-1 rounded-lg bg-sky-600 text-white mr-2"><i class="fa-solid fa-angle-right fa-md"></i></a>
                      <a href="?page={{page_obj.paginator.num_pages}}" class="p-1 rounded-lg bg-sky-600 text-white"><i class="fa-solid fa-angle-double-right fa-md"></i></a>
                      {% endif %}
                  </span>
              </div>
          </td>
        </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{%endblock%}