{% extends 'base.html'%}
{% load static %}
{%block title%}WAITING FOR CONSULTATION{%endblock%}
{%block page_title%}<div class="enom flex justify-center">WAITING FOR CONSULTATION(SOPD ROOM 2)</div>{%endblock%}
{%block content %}
<div class="mt-5 p-4">
  <section class="max-w-xl mx-auto text-center border-cyan-700 p-4 m-2">
    {% for message in messages %}
    <div class="">
      <div class="bg-green-100 rounded-2xl text-sm p-4" uk-alert>
        <a href class="uk-alert-close font-bold" uk-close></a>
        <p class="text-green-700 font-semibold">{{ message }}</p>
      </div>
    </div>
    {% endfor %}
  </section>
  <div class="mx-20 rounded-xl p-4 shadow-black shadow-sm bg-emerald-50">
  <div class="overflow-x-auto uppercase">
  <table class="min-w-full divide-y divide-emerald-500">
    <thead class="bg-emerald-100">
      <tr class="text-sm">
        <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">#</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">FILE NUMBER</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
          PATIENT NAME
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
          PHONE NUMBER
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
          CLINIC
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
          ROOM
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
          PROCESS
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-emerald-200">
      {% for h in handovers %}
      <tr class="bg-emerald-50 hover:bg-emerald-200 transition-colors duration-300 text-xs">
        <td class="px-6 py-4 whitespace-nowrap">
          {{forloop.counter}}
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        {{ h.patient.file_no|default_if_none:'' }}
      </td>
        <td class="px-6 py-4 whitespace-nowrap">
          {{ h.patient.full_name|default_if_none:'' }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          {{ h.patient.phone|default_if_none:'' }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          {{ h.clinic|default_if_none:'' }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          {{ h.room|default_if_none:'' }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <a href="{{h.patient.get_absolute_url}}" class="text-green-500"><i class="fa-solid fa-folder-closed fa-2xl"></i></a>
        </td>        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

</div>
{% endblock %}