{% load static %}
<section id="about" class="py-24 bg-gray-50 rounded-2xl">
  <div class="container mx-auto px-6 lg:px-6">
    <h2 class="text-2xl font-extrabold text-center mb-12 text-gray-800" data-aos="fade-up">
      About
    </h2>
    <div class="flex flex-col md:flex-row items-center md:space-x-12">
      <!-- Image Section -->
      <div class="w-full md:w-1/2 mb-12 md:mb-0 flex justify-center" data-aos="fade-right">
        <div class="w-64 h-64 md:w-80 md:h-80 relative overflow-hidden rounded-full shadow-lg">
          <img
            src="{% static 'images/2.jpeg' %}"
            alt="Dr. Mamman Muhammad Lawal"
            class="absolute inset-0 w-full h-full object-cover object-center"
          >
        </div>
      </div>
      
      <!-- Text Section -->
      <div class="w-full md:w-1/2 space-y-6 text-sm" data-aos="fade-left" data-aos-delay="200">
        <p class=" text-gray-700 leading-relaxed">
            Dr. Mamman is an orthopaedic spine surgeon known for his hard work and determination. Despite his leadership responsibilities, he remains humble and focused on delivering the best care possible.            
        </p>
        <p class=" text-gray-700 leading-relaxed">
            Passionate about his work, Dr. Mamman consistently completes tasks efficiently. He values fairness and treats everyone with respect, qualities that have earned him a reputation for honesty and integrity.
        </p>
        <p class=" text-gray-700 leading-relaxed">
            Over his decade-long career, Dr. Mamman has successfully performed thousands of complex surgeries. He currently serves as Chief Consultant Spine and Orthopaedic Surgeon, as well as Deputy Head of Spine at the National Orthopaedic Hospital, Kano.
        </p>
        <p class=" text-gray-700 leading-relaxed">
        And a trainer who is presently a part time lecturer in the department of surgery Bayero University Kano, and the head of purple spine team of National Orthopaedic Hospital Dala, Kano.
        </p>
      </div>
    </div>
  </div>
</section>
