<section id="contact" class="bg-blue-500 text-white py-12 rounded-xl">
    <div class="container mx-auto px-6">
        <div class="max-w-2xl mx-auto">
            <!-- Contact Information -->
            <div class="text-center mb-6">
                <h2 class="text-3xl font-extrabold mb-4" data-aos="fade-up">Contact Me</h2>
                <p class="text-white text-lg mb-2">
                    <i class="fas fa-phone-alt mr-2"></i> Tel: +234 806 527 2106
                </p>
                <p class="text-white text-lg mb-2">
                    <i class="fas fa-envelope mr-2"></i> Email: mammanuhud@gmail.com
                </p>
                <p class="text-white text-lg">
                    <i class="fas fa-map-marker-alt mr-2"></i> Address: Behind Alaj Filling Station, Kofar Ruwa Kano.
                </p>
            </div>
            <div class="text-center">
                <a href="{%url 'get_started' %}" class="py-3 px-6 h-20 uppercase bg-gradient-to-r from-emerald-600 to-sky-600 text-white rounded focus:opacity-10 text-xs">get started</a>

                <a href="{% url 'page:contact_us' %}" class="inline-block bg-gradient-to-r from-blue-100 to-blue-50 text-blue-700 font-bold py-2 px-4 rounded-md hover:from-blue-600 hover:to-blue-700 hover:text-white transition duration-300">
                    send me a message
                </a>
            </div>
        </div>
    </div>
</section>
