<!-- New Experience section -->
<section id="experience" class="bg-blue-100 py-20 rounded-2xl">
	<div class="container mx-auto px-6">
		<h2 class="text-2xl font-medium text-center mb-2 text-gray-600">Professional Experience</h2>
		<!-- Add 'gap-6' and use flex properties for equal height -->
		<div class="grid grid-cols-1 md:grid-cols-4 gap-6">
			{% for exp in experience %}
				<!-- Flex and min-height ensures equal box sizes -->
				<div class="bg-gray-100 p-4 rounded-lg shadow-md flex flex-col justify-between h-full" data-aos="fade-up" data-aos-delay="{{ forloop.counter }}">
					<div>
						<h3 class="text-lg font-medium text-blue-600 mb-2">{{ exp.position }}</h3>
						<p class="text-gray-600 text-sm">{{ exp.company }}</p>
					</div>
					<p class="text-gray-500 text-xs">{{ exp.year_start|date:'Y' }} - {{ exp.year_end|date:'Y'|default:"Present" }}</p>
				</div>
			{% empty %}
				<p class="text-center text-gray-500">No professional experience information available.</p>
			{% endfor %}
		</div>
	</div>
</section>
