<!-- Services section -->
<section id="services" class="bg-blue-100 py-20 rounded-2xl">
	<div class="container mx-auto px-6">
		<!-- Section Title -->
		<h2 class="text-2xl font-medium text-center text-gray-600 mb-6">Services</h2>
		
		<!-- Services List -->
		<div class="flex justify-center">
			<div class="w-full md:w-2/3">
				<ol class="text-center">
					<!-- Iterate over services and number them -->
					{% for service in services %}
						<li class="text-sm text-blue-600 hover:text-gray-600 transition duration-300 ease-in-out uppercase mb-4" data-aos="flip-left" data-aos-delay="{{ forloop.counter }}">
							{{ service.title }}
						</li>
					{% empty %}
						<p class="text-center text-gray-500">No services information available.</p>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
</section>
