		<!-- Statistics section -->
        <section id="stats" class="bg-blue-600 text-white py-20 rounded-2xl">
            <div class="container mx-auto px-6">
                <h2 class="text-3xl font-medium text-center mb-2 ">Impact</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                    <div class="text-center" data-aos="fade-right">
                        <div class="text-2xl font-medium mb-2" id="surgeryCount">{{ surgery_count }}</div>
                        <p class="text-lg">Successful Surgeries Performed</p>
                    </div>
                    <div class="text-center" data-aos="fade-left">
                        <div class="text-2xl font-medium mb-2" id="blogCount">{{ blog_post_count }}</div>
                        <p class="text-lg">Informative Blog Posts Published</p>
                    </div>
                </div>
            </div>
        </section>
