{% extends 'base.html' %}
{% load static %}
{%block title%}PATHOLOGY TRANSACTION HISTORY{%endblock%}
{%block page_title%}
<div class="flex justify-center text-xs">
  <div class=""><a href="{%url 'revenue' %}"><i class="fa-solid fa-backward fa-2xl m-4"></i></a>PATHOLOGY TRANSACTION HISTORY</div>
  <div class="text-green-700 uppercase text-xs font-bold p-2 text-center">
    <span class="shadow-white text-xs uppercase p-2 rounded-full bg-stone-600 text-white m-1">
      Net Total transactions: 
    </span>&#x20A6;{{ combined_total_worth|floatformat:2 }}
  </div>
</div>
{%endblock%}
{%block content %}
<div class="">
    <section class="text-center border-purple-700 m-1">
        {% for message in messages %}
        <div class="">
          <div class="uk-alert-success rounded-2xl text-xs w-fit mx-auto" uk-alert>
              <a href class="uk-alert-close font-bold" uk-close></a>
              <p class="text-green-700 font-semibold uppercase p-4">{{ message }}</p>
          </div>
      </div>
        {% endfor %}
      </section>
      <div class="gap-0 grid md:grid-cols-2 mt-4">
      <!-- hematology payment -->
    <div class=" mx-2 md:mx-20 rounded-xl p-2 shadow-black shadow-sm bg-purple-50 m-2">
      <span class=" shadow-white text-xs uppercase p-2 rounded-full bg-purple-600 text-white">{{hema_pay_total}} &nbsp;hematology transactions</span> 
      <span class="uppercase text-xs font-semibold text-purple-700">
        Total:<span class="text-green-700 uppercase text-sm font-bold">
          &#x20A6;{{ hema_total_worth|floatformat:2 }}
        </span>
      </span>
      <div class="overflow-x-auto overflow-y-auto p-2 uppercase">
        <table class="min-w-full divide-y divide-purple-200">
          <thead class="bg-purple-50">
            <tr class="text-xs text-center">
                <th class="p-1 text-purple-500 uppercase tracking-wider">
                  #
                </th>
              <th class="p-1   text-purple-500 uppercase tracking-wider">
              REVENUE OFFICER
              </th>
              <th class="p-1   text-purple-500 uppercase tracking-wider">
                DETAILS
              </th>
              <th class="p-1   text-purple-500 uppercase tracking-wider">
                PAYMENT STATUS
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-purple-200">
            {% for p in hematology_pays %}
            <tr class="text-xs text-center bg-purple-100 hover:bg-purple-200 transition-colors duration-300 uppercase">
                <td class="p-1 whitespace-nowrap">
                    {{forloop.counter}}
                </td>
                <td class="p-1 whitespace-nowrap">
                  {{request.user}}
                </td>
              <td class="p-1 whitespace-nowrap">
                <a href="{{p.patient.get_absolute_url}}" class="text-blue-500 hover:text-blue-700">
                  {{ p.patient}}
                </a> <br>
                {{ p.service }} -
                &#x20A6;{{p.price}} <br>
                {{ p.updated }}
              </td>
              {% if p.status == False %}
              <td class="p-1 whitespace-nowrap text-red-700">
            <i class="fa-solid fa-x text-red-700 fa-2xl"></i>
            <span class="space-x-4">
              <a href="{% url 'update_pay' p.id %}?next={% url 'pathology_pay_list' %}" class="text-blue-500 hover:text-blue-700"><i class="fa-solid fa-cash-register fa-2xl text-green-600"></i></a>
          </span>
              </td>
          {% else %}
              <td class="p-1 whitespace-nowrap text-green-700">
               <i class="fa-solid fa-thumbs-up fa-2xl"></i>
             </td>
          {% endif %}
            </tr>
            {% empty %}
            <tr class="bg-white">
              <td colspan="2" class="p-1 text-center text-purple-500">
                No hematology transactions found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  
     <!-- Chempath Payments -->
     <div class="mx-2 md:mx-20 rounded-xl p-2 shadow-black shadow-sm bg-orange-50 m-2">
      <span class=" shadow-white text-xs uppercase p-2 rounded-full bg-orange-600 text-white">{{chem_pay_total}} &nbsp;Chemapath transactions</span> 
      <span class="uppercase text-xs font-semibold text-orange-500">
        Total:<span class="text-green-700 uppercase text-sm font-bold">
          &#x20A6;{{ chem_total_worth|floatformat:2 }}
        </span>
      </span>
      <div class="overflow-x-auto overflow-y-auto p-2 uppercase">
        <table class="min-w-full divide-y divide-orange-200">
          <thead class="bg-orange-50">
            <tr class="text-xs text-center">
                <th class="p-1   text-orange-600 uppercase tracking-wider">
                  #
                </th>
              <th class="p-1   text-orange-600 uppercase tracking-wider">
              REVENUE OFFICER
              </th>
              <th class="p-1   text-orange-600 uppercase tracking-wider">
                DETAILS
              </th>
              <th class="p-1   text-orange-600 uppercase tracking-wider">
                PAYMENT
              </th>
            </tr>
          </thead>
            <tbody class="bg-white divide-y divide-orange-200">
            {% for p in chempath_pays %}
            <tr class="text-xs text-center bg-orange-100 hover:bg-orange-200 transition-colors duration-300 uppercase">
              <td class="p-1 whitespace-nowrap">
                  {{forloop.counter}}
              </td>
              <td class="p-1 whitespace-nowrap">
                {{request.user}}
              </td>
            <td class="p-1 whitespace-nowrap">
              <a href="{{p.patient.get_absolute_url}}" class="text-blue-500 hover:text-blue-700">
              {{ p.patient}}
              </a> <br>
              {{ p.service }} -
              &#x20A6;{{p.price}} <br>
              {{ p.updated }}
            </td>
            {% if p.status == False %}
            <td class="p-1 whitespace-nowrap text-red-700">
          <i class="fa-solid fa-x text-red-700 fa-2xl"></i>
          <span class="space-x-4">
            <a href="{% url 'update_pay' p.id %}?next={% url 'pathology_pay_list' %}" class="text-blue-500 hover:text-blue-700"><i class="fa-solid fa-cash-register fa-2xl text-green-600"></i></a>                  
        </span>
            </td>
        {% else %}
            <td class="p-1 whitespace-nowrap text-green-700">
             <i class="fa-solid fa-thumbs-up fa-2xl"></i>
           </td>
        {% endif %}
          </tr>
            {% empty %}
            <tr class="bg-white">
              <td colspan="8" class="p-1 text-center text-orange-600">
                No chempath transactions found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>

    <!-- microbiology Payments -->
     <div class="mx-2 md:mx-20 rounded-xl p-2 shadow-black shadow-sm bg-cyan-50 m-2">
      <span class=" shadow-white text-xs uppercase p-2 rounded-full bg-cyan-600 text-white">{{micro_pay_total}} &nbsp;microbiology transactions</span> 
      <span class="uppercase text-xs font-semibold text-cyan-600">
        Total:<span class="text-green-700 uppercase text-sm font-bold">
           &#x20A6;{{ micro_total_worth|floatformat:2 }}
         </span>
       </span>
      <div class="overflow-x-auto overflow-y-auto p-2 uppercase">
        <table class="min-w-full divide-y divide-cyan-200">
          <thead class="bg-cyan-50">
            <tr class="text-xs text-center">
                <th class="p-1   text-cyan-600 uppercase tracking-wider">
                  #
                </th>
              <th class="p-1   text-cyan-600 uppercase tracking-wider">
              REVENUE OFFICER
              </th>
              <th class="p-1   text-cyan-600 uppercase tracking-wider">
                DETAILS
              </th>
              <th class="p-1   text-cyan-600 uppercase tracking-wider">
                PAYMENT STATUS
              </th>
            </tr>
          </thead>
            <tbody class="bg-white divide-y divide-cyan-200">
            {% for p in micro_pays %}
            <tr class="text-xs text-center bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300 uppercase">
              <td class="p-1 whitespace-nowrap">
                  {{forloop.counter}}
              </td>
              <td class="p-1 whitespace-nowrap">
                {{request.user}}
              </td>
            <td class="p-1 whitespace-nowrap">
              <a href="{{p.patient.get_absolute_url}}" class="text-blue-500 hover:text-blue-700">
              {{ p.patient}}
              </a> <br>
              {{ p.service }} -
              &#x20A6;{{p.price}} <br>
              {{ p.updated }}
            </td>
            {% if p.status == False %}
            <td class="p-1 whitespace-nowrap text-red-700">
          <i class="fa-solid fa-x text-red-700 fa-2xl"></i>
          <span class="space-x-4">
            <a href="{% url 'update_pay' p.id %}?next={% url 'pathology_pay_list' %}" class="text-blue-500 hover:text-blue-700"><i class="fa-solid fa-cash-register fa-2xl text-green-600"></i></a>
        </span>
            </td>
        {% else %}
            <td class="p-1 whitespace-nowrap text-green-700">
             <i class="fa-solid fa-thumbs-up fa-2xl"></i>
           </td>
        {% endif %}
        </tr>
            {% empty %}
            <tr class="bg-white">
              <td colspan="8" class="p-1 text-center text-cyan-600">
                No microbiology transactions found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- serology Payments -->
     <div class="mx-2 md:mx-20 rounded-xl p-2 shadow-black shadow-sm bg-fuchsia-50 m-2">
      <span class=" shadow-white text-xs uppercase p-2 rounded-full bg-fuchsia-600 text-white">{{serology_pay_total}} &nbsp;Serology transactions</span> 
      <span class="uppercase text-xs font-semibold text-fuchsia-600">
        Total:<span class="text-green-700 uppercase text-sm font-bold">
          &#x20A6;{{ serology_total_worth|floatformat:2 }}
        </span>
      </span>
      <div class="overflow-x-auto overflow-y-auto p-2 uppercase">
        <table class="min-w-full divide-y divide-fuchsia-200">
          <thead class="bg-fuchsia-50">
            <tr class="text-xs text-center">
                <th class="p-1   text-fuchsia-600 uppercase tracking-wider">
                  #
                </th>
              <th class="p-1   text-fuchsia-600 uppercase tracking-wider">
              REVENUE OFFICER
              </th>
              <th class="p-1   text-fuchsia-600 uppercase tracking-wider">
                DETAILS
              </th>
              <th class="p-1   text-fuchsia-600 uppercase tracking-wider">
                PAYMENT STATUS
              </th>
            </tr>
          </thead>
            <tbody class="bg-white divide-y divide-fuchsia-200">
            {% for p in serology_pays %}
            <tr class="text-xs text-center bg-fuchsia-100 hover:bg-fuchsia-200 transition-colors duration-300 uppercase">
              <td class="p-1 whitespace-nowrap">
                  {{forloop.counter}}
              </td>
              <td class="p-1 whitespace-nowrap">
                {{request.user}}
              </td>
            <td class="p-1 whitespace-nowrap">
              <a href="{{p.patient.get_absolute_url}}" class="text-blue-500 hover:text-blue-700">
              {{ p.patient}}
              </a> <br>
              {{ p.service }} -
              &#x20A6;{{p.price}} <br>
              {{ p.updated }}
            </td>
            {% if p.status == False %}
            <td class="p-1 whitespace-nowrap text-red-700">
          <i class="fa-solid fa-x text-red-700 fa-2xl"></i>
          <span class="space-x-4">
            <a href="{% url 'update_pay' p.id %}?next={% url 'pathology_pay_list' %}" class="text-blue-500 hover:text-blue-700"><i class="fa-solid fa-cash-register fa-2xl text-green-600"></i></a>                  
        </span>
            </td>
        {% else %}
            <td class="p-1 whitespace-nowrap text-green-700">
             <i class="fa-solid fa-thumbs-up fa-2xl"></i>
           </td>
        {% endif %}            
          </tr>
            {% empty %}
            <tr class="bg-white">
              <td colspan="8" class="p-1 text-center text-fuchsia-600">
                No serology transactions found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- General Payments -->
     <!-- <div class="mx-2 md:mx-20 rounded-xl p-2 shadow-black shadow-sm bg-stone-50 m-2">
      <span class=" shadow-white text-xs uppercase p-2 rounded-full bg-stone-600 text-white">{{general_pay_total}} &nbsp;General transactions</span> 

      <div class="overflow-x-auto overflow-y-auto p-2 uppercase">
        <table class="min-w-full divide-y divide-stone-200">
          <thead class="bg-stone-50">
            <tr class="text-xs text-center">
                <th class="p-1   text-stone-600 uppercase tracking-wider">
                  #
                </th>
              <th class="p-1   text-stone-600 uppercase tracking-wider">
              REVENUE OFFICER
              </th>
              <th class="p-1   text-stone-600 uppercase tracking-wider">
                PATIENT
              </th>
              <th class="p-1   text-stone-600 uppercase tracking-wider">
                SERVICE
              </th>
              <th class="p-1   text-stone-600 uppercase tracking-wider">
                PRICE
              </th>
              <th class="p-1   text-stone-600 uppercase tracking-wider">
                PAYMENT STATUS
              </th>
              <th class="p-1   text-stone-600 uppercase tracking-wider">
                date 
              </th>
              <th class="p-1   text-stone-600 uppercase tracking-wider">
                PROCESS
              </th>
            </tr>
          </thead>
            <tbody class="bg-white divide-y divide-stone-200">
            {% for p in general_pays %}
            <tr class="text-xs text-center bg-stone-100 hover:bg-stone-200 transition-colors duration-300 uppercase">
              <td class="p-1 whitespace-nowrap">
                  {{forloop.counter}}
              </td>
              <td class="p-1 whitespace-nowrap">
                {{request.user}}
              </td>
            <td class="p-1 whitespace-nowrap">
              <a href="{{p.patient.get_absolute_url}}" class="text-blue-500 hover:text-blue-700">
              {{ p.patient}}
              </a>
            </td>
            <td class="p-1 whitespace-nowrap">
              {{ p.service }}
            </td>
            <td class="p-1 whitespace-nowrap">
              &#x20A6;{{p.price}}
            </td>

            {% if p.status == False %}
            <td class="p-1 whitespace-nowrap text-red-700">
          <i class="fa-solid fa-x text-red-700 fa-2xl"></i>
            </td>
        {% else %}
            <td class="p-1 whitespace-nowrap text-green-700">
             <i class="fa-solid fa-thumbs-up fa-2xl"></i>
           </td>
        {% endif %}
              <td class="p-1 whitespace-nowrap">
              {{ p.updated }}
            </td>
          <td class="p-1 whitespace-nowrap">
            
              <span class="space-x-4">
                  <a href="{% url 'update_pay' p.id %}?next={% url 'pathology_pay_list' %}" class="text-blue-500 hover:text-blue-700"><i class="fa-solid fa-cash-register fa-2xl text-green-600"></i></a>
                  
              </span>
            </td>
            <td>
              
            </td>
          </tr>
            {% empty %}
            <tr class="bg-white">
              <td colspan="8" class="p-1 text-center text-stone-600">
                No general transactions found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>
    </div> -->



</div>
</div>
{%endblock%}