{% extends 'base.html'%}
{% load static %}
{%block title%}FOLLOW UP PAYMENT{%endblock%}
{%block page_title%}<div class="flex justify-center enom">FOLLOW UP PAYMENT</div>{%endblock%}
{%block content %}
<div class="">
    <div class="uk-overlay rounded-3xl bg-white uk-position-center">
      <h3 class="flex justify-center text-green-700">Payment Details</h3>
      <p>Patient: <span class="text-green-800">{{patient}}</span></p>    
      <p>Service: <span class="text-green-800">{{service_name}}</span></p>    
      <p>Price: <span class="text-green-800">{{service_price}}</span></p>
        <section class="text-center border-cyan-700 p-4 m-2">
            {% for message in messages %}
          <div class="mt-2">
               <div class="uk-alert-success rounded-2xl text-sm" uk-alert>
                <a href class="uk-alert-close font-bold" uk-close></a>
                <p class="text-green-700 font-semibold">{{ message }}</p>
                </div>
          </div>
              {% endfor %}
        </section>
        {% if form.errors %}
        <div class="uk-alert-danger block text-xs uppercase text-rose-700 rounded-xl" uk-alert>
            <a href class="uk-alert-close font-bold" uk-close></a>
            <p>{{form.errors}}</p>
        </div>
            {% endif %}
  <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="mb-2 uppercase text-cyan-900 px-10">
      {% for field in form %}
      <div class="flex justify-center">
       <label for="{{field.id_for_label}}" class="block">{{ field.label_tag }}</label>
       </div>
       <div class="flex justify-center mb-6">
       {{ field }}
      </div>
      {%endfor%}
    </div>
    <div class="gap-4 flex justify-center align-middle">
      <input type="submit" value="submit" class="focus:opacity-10 uppercase focus:border-green-900 hover:bg-white hover:text-green-600 hover:border-2 hover:border-green-600
  bg-green-700 text-white py-4 px-8 rounded shadow-lg hover:shadow-xl">
    </div>
    </form>
    </div>
    </div>
{%endblock%}