{% extends 'base.html' %}
{% block title %}Bill Detail{% endblock %}
{% block page_title %}
<div class="flex justify-center items-center">
    <span>BILL DETAILS</span>
</div>

{% endblock %}
{% block content %}
<div class="p-2">
    <div class="max-w-6xl mx-auto bg-gray-100 rounded-lg shadow-md p-2">
 <div class="bg-gray-200 rounded-md p-2 text-xs uppercase text-center">
    <p class="text-xs border-b border-gray-400 p-2">
        <span class="font-semibold">Patient:</span> {{ private_bill.patient }} &nbsp;
        <strong>NO:</strong> {{ private_bill.patient.file_no }}&nbsp;
        <strong>GENDER:</strong> {{ private_bill.patient.gender }}&nbsp;
        <strong>AGE:</strong> {{ private_bill.patient.age }}&nbsp;
</p>
        <p class="text-xs border-b border-gray-400">
    {% if theatre_booking %}
        <strong>DIAGNOSIS:</strong> {{ theatre_booking.diagnosis }}&nbsp;
        <strong>OPERATION PLANNED:</strong> {{ theatre_booking.operation_planned }}&nbsp;</p>
        <p class="text-xs border-b border-gray-400">
        <strong>TEAM:</strong> {{ theatre_booking.team }}
        <strong>SURGERY DATE:</strong> {{ theatre_booking.date }}</p>
    {% endif %}
            <div class="flex justify-between">
                <div>
                    <a href="{% url 'private_bill_pdf' private_bill.id %}" class="text-green-600 hover:text-green-800" target="_blank">
                        <i class="fas fa-file-pdf fa-2xl"></i>
                            print bill
                    </a>
                </div>
                <div>
                    <span class="ml-10 text-black text-xs">Total Amount:</span> <span class=" text-green-600 text-sm font-semibold">
                        &#x20A6;{{ private_bill.total_amount }}&nbsp;
                    </span>
                </div>
            </div>
        </div>
        {% if private_billing_items %}
        <div class="max-h-[50vh] overflow-y-auto p-2"> <!-- Added this container -->
        <div class="overflow-x-auto">
            <table class="w-full table-auto">
                <thead class="bg-blue-600 text-white">
                    <tr class="text-xs text-center uppercase">
                        <th class="px-4 py-2 ">#</th>
                        <th class="px-4 py-2 ">Item</th>
                        <th class="px-4 py-2 ">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for billing in private_billing_items %}
                    <tr class="{% cycle 'bg-white' 'bg-gray-50' %} text-xs text-center uppercase">
                        <td class="px-4 py-2">{{ forloop.counter }}</td>
                        <td class="px-4 py-2"> {%if billing.item.name == 'YES' %} <i class="fa fa-solid fa-check text-green-500 fa-xl"></i>{%else%} {{ billing.item.name }} {%endif%}</td>
                        <td class="px-4 py-2">&#x20A6;{{ billing.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="text-gray-600">No items associated with this bill.</p>
        {% endif %}
        <div class="text-xs m-4 gap-4">
         
            <span class="uppercase">Bill Generated on:</span>
            <span class="text-gray-600 font-semibold">
                {{ private_bill.created|date:"d-M-Y" }}&nbsp;
            </span>
            <span class="uppercase">by:</span>
            <span class="text-gray-600 font-semibold uppercase">
             {{ private_bill.user }}&nbsp;
             </span>
            <span class="uppercase">Status:</span>
            <span class="{% if bill.items.first.payment.status %}text-green-600{% else %}text-red-600{% endif %} font-bold uppercase">
                {% if private_bill.items.first.payment.status %}Paid{% else %}Unpaid{% endif %}
            </span>
        </div>

    </div>
</div>
</div>
{% endblock %}