{% extends "base.html" %}
{% load static %}
{% block title %}All Wallet Transactions{% endblock %}
{%block page_title%}
  <div class="flex justify-center"> <a href="{% url 'revenue' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>WALLET TRANSACTIONS</div>
  {%endblock%}
{% block content %}
<div class="mt-4">
    <div class="uppercase md:mx-20 mx-2 rounded-xl  bg-gray-50 p-4">
<div class="overflow-x-auto ">
                    <table class="min-w-full">
                        <thead class="">
                            <tr class="text-xs text-left">                      
                                    <th class="p-3 border-b-2 border-gray-200   text-xs  text-gray-600 uppercase tracking-wider">
                                    #
                                  </th>
                  
                                <th class="p-3 border-b-2 border-gray-200   text-xs  text-gray-600 uppercase tracking-wider">
                                    Patient
                                </th>
                                <th class="p-3 border-b-2 border-gray-200   text-xs  text-gray-600 uppercase tracking-wider">
                                    Amount
                                </th>
                                <th class="p-3 border-b-2 border-gray-200   text-xs  text-gray-600 uppercase tracking-wider">
                                    Type
                                </th>
                                <th class="p-3 border-b-2 border-gray-200   text-xs  text-gray-600 uppercase tracking-wider">
                                    Date
                                </th>
                                <th class="p-3 border-b-2 border-gray-200   text-xs  text-gray-600 uppercase tracking-wider">
                                    Description
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                            <tr class=" text-xs text-left uppercase bg-orange-50">
                                <td class="p-3 border-b border-gray-200 ">
                                    {{forloop.counter}}

                                </td>                  
                                <td class="p-3 border-b border-gray-200   text-xs">
                                                {{ transaction.wallet.patient }}
                                </td>
                                <td class="p-3 border-b border-gray-200  ">
                                        &#x20A6;{{ transaction.amount }}
                                </td>
                                <td class="p-3 border-b border-gray-200  ">
                                    {% if transaction.transaction_type == 'CREDIT' %}
                                    <span class="relative inline-block px-3 py-1  text-green-600 leading-tight">
                                        <span aria-hidden class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                        <span class="relative"><i class="fas fa-plus-circle mr-1"></i>Credit</span>
                                    </span>
                                    {% else %}
                                    <span class="relative inline-block px-3 py-1  text-red-600 leading-tight">
                                        <span aria-hidden class="absolute inset-0 bg-red-200 opacity-50 rounded-full"></span>
                                        <span class="relative"><i class="fas fa-minus-circle mr-1"></i>Debit</span>
                                    </span>
                                    {% endif %}
                                </td>
                                <td class="p-3 border-b border-gray-200  ">
                                        {{ transaction.created_at|date:"M d, Y" }}
                                </td>
                                <td class="p-3 border-b border-gray-200  ">
                                        {{ transaction.description|truncatechars:30|default:'N/A' }}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr class="">
                                <td class="p-1 text-left" colspan="8">        
                            <div class="pagination flex justify-center">
                                <span class="flex items-center">
                                    {% if page_obj.has_previous %}
                                    <a href="?page=1" class="p-1 rounded-lg bg-orange-600 text-white mr-2"><i class="fa-solid fa-angle-double-left fa-md"></i></a>
                                    <a href="?page={{page_obj.previous_page_number}}" class="p-1 rounded-lg bg-orange-600 text-white"><i class="fa-solid fa-angle-left fa-md"></i></a>
                                    {% endif %}
                                </span>
                                    <span class="flex item-center"> 
                                        {% if page_obj.has_next %}
                                        <a href="?page={{page_obj.next_page_number}}" class="p-1 rounded-lg bg-orange-600 text-white mr-2"><i class="fa-solid fa-angle-right fa-md"></i></a>
                                        <a href="?page={{page_obj.paginator.num_pages}}" class="p-1 rounded-lg bg-orange-600 text-white"><i class="fa-solid fa-angle-double-right fa-md"></i></a>
                                        {% endif %}
                                    </span>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                </div>
    </div>
{%endblock%}