{% extends 'base.html' %}
{% load static %}
{%block title%}ANAESTHESIA CHECKLIST LIST{%endblock%}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'theatre_details' theatre.pk %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a> {{theatre}} ANAESTHESIA CHECKLIST RECORD</div>{%endblock%}
{%block content %}
<div class="">
    <section class="text-center border-zinc-700 p-2 m-1">
        {% for message in messages %}
        <div class=""> 
          <div class="bg-green-100 rounded-2xl text-sm p-4" uk-alert>
            <a href class="uk-alert-close font-bold" uk-close></a>
            <p class="text-green-700 font-semibold">{{ message }}</p>
          </div>
        </div>
        {% endfor %}
      <div class="">
          <span class="shadow-m shadow-zinc-900 gap-4 bg-zinc-900 text-white uppercase text-xs border-b-2 border-zinc-900 py-2 px-4 rounded-xl mx-2 w-fit">
            <span class=" shadow-white text-xs p-1 rounded-full bg-white text-zinc-900">{{total_operations}}</span>&nbsp; patients operated
                {% if request.GET.urlencode %}
                <span>
                    <a href="?" class=" p-2 focus:opacity-10  focus:border-zinc-800 bg-orange-500 text-white rounded shadow-lg hover:shadow-xl text-center w-fit">
                        <i class="fa-solid fa-rotate fa-lg text-white"></i></a>
                      </span>
                    {%endif%}
                  </span>
                </div>
              </section>
    <div class="mx-2 md:mx-20 rounded-xl p-4 shadow-black shadow-sm bg-zinc-50">
              <div class="text-zinc-900">
        <form method="get" class="text-xs text-center">
          {% for field in anaesthesia_checklistFilter.form %}
          {{field.errors}}
          {% endfor %}
          <div class="text-center flex flex-row flex-wrap gap-1 justify-center">
                {% for field in anaesthesia_checklistFilter.form %}
                <div class="flex justify-center items-start flex-col">
                <label for="{{field.id_for_label}}">{{ field.label_tag }}</label>
                <input type="{{field.field.widget.input_type}}" name="{{field.name}}"
                {%if field.value%} value="{{field.value}}"{%endif%}
                class="text-center text-xs focus:outline-none w-fit text-zinc-950 p-2
                rounded shadow-sm shadow-zinc-900 border-zinc-900 border">
                <span class="form-error">{{ field.errors }}</span>
                </div>
                {% endfor %}
                <div class="mt-4 flex justify-center align-middle ">
                    <button type="submit" class="shadow-sm shadow-zinc-900 w-fit p-2 focus:opacity-10 uppercase border-gray-500 focus:border-zinc-800 bg-zinc-900 text-white rounded hover:border-zinc-700 ">
                    <i class="fa-solid fa-search fa-xl "></i>
                </button>
                </div>
            </div>
        </form>
    </div>
      <div class="overflow-x-auto p-4 uppercase">
        <table class="min-w-full divide-y divide-zinc-200">
          <thead class="bg-zinc-300">
            <tr class="text-xs">
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">#</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">concurrent medical illness</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">past medical history</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">past surgical history</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">trasnfussion</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">drug history</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">social history</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">denctures</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">permanent</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">temporary</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">loose teeth</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">last meal</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">comment</th>
                <th class=" p-3  text-xs font-medium text-zinc-800 uppercase tracking-wider">Date</th>
    
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-zinc-200">
            {% for a in anaesthesia_checklist %}
            <tr class="uppercase text-xs bg-zinc-100 hover:bg-zinc-200 transition-colors duration-300">
                <td class="p-3 whitespace-nowrap">
                    {{forloop.counter}}
                </td>

              <td class="p-3 whitespace-nowrap">
                <a href="{{o.patient.get_absolute_url}}" class="text-blue-500 hover:text-blue-700">
                {{ a.patient }}
                </a>
              </td>
              <td class=" p-3 whitespace-nowrap">{{ a.current_medical_illness }}</td>
              <td class=" p-3 whitespace-nowrap">{{ a.past_medical_history }}</td>
              <td class=" p-3 whitespace-nowrap">{{ a.past_surgical_history }}</td>
              <td class=" p-3 whitespace-nowrap">{{ a.transfussion }}</td>
              <td class=" p-3 whitespace-nowrap">{{ a.drug_history }}</td>
              <td class=" p-3 whitespace-nowrap">{{ a.social_history }}</td>
              <td class=" p-3 whitespace-nowrap">{{ a.denctures }}</td>
              <td class=" p-3 whitespace-nowrap">{{ a.permanent }}</td>
              <td class=" p-3 whitespace-nowrap">{{ a.temporary }}</td>
              <td class=" p-3 whitespace-nowrap">{{ a.lose_teeth }}</td>
              <td class=" p-3 whitespace-nowrap">{{ a.last_meal }}</td>
              <td class=" p-3 whitespace-nowrap">{{ a.comment }}</td>
              <td class="p-3 whitespace-nowrap">
                {{ a.updated }}
              </td>
            </tr>
            {% empty %}
            <tr class="bg-white">
              <td colspan="2" class="p-3 text-center text-zinc-800">
                not found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{%endblock%}