{% extends 'base.html' %}
{% load static %}
{%block title%}OPERATED PATIENTS{%endblock%}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'theatre_details' theatre.pk %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>{{theatre}} OPERATED PATIENTS</div>{%endblock%}
{%block content %}
<div class="">
    <section class="text-center border-emerald-700 p-2 m-1">
      <div class="">
          <span class="shadow-m shadow-emerald-900 gap-4 bg-emerald-900 text-white uppercase text-xs border-b-2 border-emerald-900 py-2 px-4 rounded-xl mx-2 w-fit">
            <span class=" shadow-white text-xs p-1 rounded-full bg-white text-emerald-900">{{total_operations}}</span>&nbsp; patients operated
                {% if request.GET.urlencode %}
                <span>
                    <a href="?" class=" p-2 focus:opacity-10  focus:border-emerald-600 bg-orange-500 text-white rounded shadow-lg hover:shadow-xl text-center w-fit">
                        <i class="fa-solid fa-rotate fa-lg text-white"></i></a>
                      </span>
                    {%endif%}
                  </span>
                </div>
              </section>
    <div class="mx-2 md:mx-20 rounded-b-xl p-4 shadow-black shadow-sm bg-emerald-100">
              <div class="text-emerald-900">
        <form method="get" class="text-xs text-center">
          {% for field in theatreFilter.form %}
          {{field.errors}}
          {% endfor %}
          <div class="text-center flex flex-row flex-wrap gap-1 justify-center">
                {% for field in theatreFilter.form %}
                <div class="flex justify-center items-start flex-col">
                <!-- <label for="{{field.id_for_label}}">{{ field.label_tag }}</label> -->
                <input type="{{field.field.widget.input_type}}" name="{{field.name}}"placeholder="{{field.name}}"
                {%if field.value%} value="{{field.value}}"{%endif%}
                class="text-center text-xs focus:outline-none border border-indigo-400 p-2 rounded shadow-lg focus:shadow-xl focus:border-indigo-200 uppercase w-full">
                <span class="form-error">{{ field.errors }}</span>
                </div>
                {% endfor %}
                <div class="flex justify-center align-middle ">
                    <button type="submit" class="shadow-sm shadow-emerald-900 w-fit p-2 focus:opacity-10 uppercase border-gray-500 focus:border-emerald-600 bg-emerald-900 text-white rounded hover:border-emerald-700 ">
                    <i class="fa-solid fa-search fa-xl "></i>
                </button>
                </div>
            </div>
        </form>
    </div>
      <div class="overflow-x-auto p-4 uppercase">
        <table class="min-w-full divide-y divide-emerald-200">
          <thead class="bg-emerald-300">
            <tr class="text-xs">
                <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                    S/N
                </th>
              <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
              PATIENT
              </th>
              <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
              FILE NO
              </th>
              <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                FINDINGS
              </th>
              <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                ANAESTHESIA USED
              </th>
              <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                POST OP-ORDER
              </th>
              <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                DATE OPERATE
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-emerald-200">
            {% for o in operated %}
            <tr class="uppercase text-xs bg-emerald-50 hover:bg-emerald-200 transition-colors duration-300">
                <td class="p-3 whitespace-nowrap">
                    {{forloop.counter}}
                </td>
              <td class="p-3 whitespace-nowrap">
                <a href="{{o.patient.get_absolute_url}}" class="text-blue-500 hover:text-blue-700">
                {{ o.patient }}
                </a>
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ o.patient.file_no }}
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ o.findings }}
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ o.type_of_anaesthesia }}
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ o.post_op_order }}
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ o.updated }}
              </td>
            </tr>
            {% empty %}
            <tr class="bg-white">
              <td colspan="6" class="p-3 text-center text-gray-700">
                not found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{%endblock%}