{% extends 'base.html' %}
{% load static %}
{% block title %}OPERATION RECORD{% endblock %}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'theatre_details' theatre.pk %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>{{theatre}} OPERATION RECORD</div>{%endblock%}

{% block content %}
<section class="text-center border-sky-700 p-2 m-1">
  <div class="">
    <span class="shadow-sm shadow-sky-900 gap-4 bg-sky-600 text-white uppercase text-xs border-b-2 border-sky-900 py-2 px-4 rounded-xl mx-2 w-fit">
      <span class=" shadow-white text-xs p-1 rounded-full bg-white text-sky-600">{{total_operations}}</span>&nbsp; patients operated
    {% if request.GET.urlencode %}
  <span>
    <a href="?" class=" p-2 focus:opacity-10  focus:border-sky-600 bg-orange-500 text-white rounded shadow-lg hover:shadow-xl text-center w-fit">
      <i class="fa-solid fa-rotate fa-lg text-white"></i></a>
    </span>
  {%endif%}
</span>
</div>
</section>
<div class="bg-sky-50 shadow-md rounded-b-xl overflow-hidden md:mx-20 sm:mx-4 my-2 max-h-[calc(100vh-6rem)] overflow-y-auto p-4">
  <div class="text-slate-900">
    <form method="get" class="text-xs text-center">
      {% for field in theatreOpFilter.form %}
      {{field.errors}}
      {% endfor %}
      <div class="text-center flex flex-row flex-wrap gap-1 justify-center">
        {% for field in theatreOpFilter.form %}
        <div class="flex justify-center items-start flex-col">
          <!-- <label for="{{field.id_for_label}}">{{ field.label_tag }}</label> -->
            <input type="{{field.field.widget.input_type}}" name="{{field.name}}" placeholder="{{field.name}}"
            {%if field.value%} value="{{field.value}}"{%endif%}
            class="text-center text-xs focus:outline-none border border-indigo-400 p-2 rounded shadow-lg focus:shadow-xl focus:border-indigo-200 uppercase w-full">
            <span class="form-error">{{ field.errors }}</span>
            </div>
            {% endfor %}
            <div class=" flex justify-center align-middle ">
            <button type="submit" class="shadow-sm shadow-sky-900 w-fit p-2 focus:opacity-10 uppercase border-gray-500 focus:border-sky-600 bg-sky-600 text-white rounded hover:border-sky-700 ">
                <i class="fa-solid fa-search fa-xl "></i>
            </button>
            </div>
        </div>
    </form>
</div>
  <div class="p-4">
    <div class="overflow-x-auto">
      <table class="w-full uppercase">
        <thead>
          <tr class="bg-sky-300 text-gray-700 uppercase text-xs">
            <th class="py-2 px-3 text-left">#</th>
            <th class="py-2 px-3 text-left">Patient</th>
            <th class="py-2 px-3 text-left">Theatre</th>
            <th class="py-2 px-3 text-left">Ward</th>
            <th class="py-2 px-3 text-left">DIAGNOSIS</th>
            <th class="py-2 px-3 text-left">Operation</th>
            <th class="py-2 px-3 text-left">Surgeon</th>
            <th class="py-2 px-3 text-left">Instrument Nurse</th>
            <th class="py-2 px-3 text-left">Circulating Nurse</th>
            <th class="py-2 px-3 text-left">Date</th>
            <th class="py-2 px-3 text-left">Details</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-xs">
          {% for record in surgical_records %}
            <tr class=" border-b border-sky-200 hover:bg-sky-50 transition duration-150 bg-white">
              <td class="py-2 px-3 whitespace-nowrap">
                <span class="font-medium">{{ forloop.counter }}</span>
              </td>
              <td class="py-2 px-3 whitespace-nowrap">
                <span class="font-medium">{{ record.patient }} <br>{{ record.patient.file_no }}</span>
              </td>
              <td class="py-2 px-3">{{ record.theatre|default:'N/A' }}</td>
              <td class="py-2 px-3">{{ record.ward|default:'N/A' }}</td>
              <td class="py-2 px-3">{{ record.diagnosis|default:'N/A' }}</td>
              <td class="py-2 px-3">{{ record.operation|default:'N/A' }}</td>
              <td class="py-2 px-3">{{ record.surgeon|default:'N/A' }}</td>
              <td class="py-2 px-3">{{ record.instrument_nurse|default:'N/A' }}</td>
              <td class="py-2 px-3">{{ record.circulating_nurse|default:'N/A' }}</td>
              <td class="py-2 px-3">{{ record.date_of_operation|default:'N/A' }}</td>
              <td class="py-2 px-3"><a href="{{record.get_absolute_url}}" class="text-blue-500 hover:text-blue-700"><i class="fa fa-solid fa-eye fa-2xl"></i></a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="py-4 px-3 text-center text-gray-500">No records found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
  </div>
</div>
{% endblock %}