{% extends 'base.html' %}
{% load static %}
{%block title%}THEATRE BOOKINGS{%endblock%}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'theatre_details' theatre.pk %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a> {{theatre}} BOOKINGS</div>{%endblock%}
{%block content %}
    <section class="text-center border-amber-700 p-2 m-1">
        <div class="">
          <span class="shadow-sm shadow-amber-900 gap-4 bg-amber-600 text-white uppercase text-xs border-b-2 border-amber-900 py-2 px-4 rounded-xl mx-2 w-fit">
            <span class=" shadow-white text-xs p-1 rounded-full bg-white text-amber-600">{{total_bookings}}</span>&nbsp; patients booked
          {% if request.GET.urlencode %}
        <span>
          <a href="?" class=" p-2 focus:opacity-10  focus:border-amber-600 bg-orange-500 text-white rounded shadow-lg hover:shadow-xl text-center w-fit">
            <i class="fa-solid fa-rotate fa-lg text-white"></i></a>
          </span>
        {%endif%}
      </span>
    </div>
  </section>
  <div class="mx-2 md:mx-20 rounded-b-xl p-4 shadow-black shadow-sm bg-amber-100">
      <div class="text-amber-900">
        <form method="get" class="text-xs text-center">
          {% for field in theatreBookingFilter.form %}
          {{field.errors}}
          {% endfor %}
          <div class="text-center flex flex-row flex-wrap gap-1 justify-center">
            {% for field in theatreBookingFilter.form %}
            <div class="flex justify-center items-start flex-col">
              <!-- <label for="{{field.id_for_label}}">{{ field.label_tag }}</label> -->
                <input type="{{field.field.widget.input_type}}" name="{{field.name}}" placeholder="{{field.name}}"
                {%if field.value%} value="{{field.value}}"{%endif%}
                class="text-center text-xs focus:outline-none border border-indigo-400 p-2 rounded shadow-lg focus:shadow-xl focus:border-indigo-200 uppercase w-full">
                <span class="form-error">{{ field.errors }}</span>
                </div>
                {% endfor %}
                <div class=" flex justify-center align-middle ">
                <button type="submit" class="shadow-sm shadow-amber-900 w-fit p-2 focus:opacity-10 uppercase border-gray-500 focus:border-amber-600 bg-amber-600 text-white rounded hover:border-amber-700 ">
                    <i class="fa-solid fa-search fa-xl "></i>
                </button>
                </div>
            </div>
        </form>
    </div>
      <div class="overflow-x-auto p-3 uppercase">
        <table class="min-w-full divide-y divide-amber-200">
          <thead class="bg-amber-300">
            <tr class="text-xs">
                <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                    S/N
                </th>
              <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
              PATIENT
              </th>
              <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
              FILE NO
              </th>
              <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                THEATRE
              </th>
              <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                TEAM
              </th>
              <th class="p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                DATE 
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-amber-200">
            {% for b in bookings %}
            <tr class="uppercase text-xs bg-amber-50 hover:bg-amber-200 transition-colors duration-300">
                <td class="p-3 whitespace-nowrap">
                    {{forloop.counter}}
                </td>
              <td class="p-3 whitespace-nowrap">
                <a href="{{b.patient.get_absolute_url}}" class="text-blue-500 hover:text-blue-700">
                {{ b.patient }}
                </a>
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ b.patient.file_no }}
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ b.theatre }}
              </td>

              <td class="p-3 whitespace-nowrap">
                {{ b.team }}
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ b.date }}
              </td>
            </tr>
            {% empty %}
            <tr class="bg-white">
              <td colspan="5" class="p-3 text-center text-gray-700">
                Patient not found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
{%endblock%}