{% extends 'base.html' %}
{% load static %}

{% block title %}{{ theatre.name }}{% endblock %}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'theatre' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>{{ theatre.name }} DASHBOARD
</div>{%endblock%}
{% block content %}
<div class="mx-2 md:mx-20 bg-gray-100 rounded-xl mt-4 p-2">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 p-2">
        <a href="{% url 'surgery_wait_list' %}" class="block transform hover:-translate-y-1 transition duration-300">
            <div class="bg-white rounded-xl shadow-xl overflow-hidden">
                <div class="bg-amber-600 text-white p-6 h-40 flex items-center justify-center ">
                    <h2 class="text-sm text-white text-center uppercase">Patient Booked for Surgery</h2>
                </div>
                <div class="bg-gray-100 p-4">
                    <p class="text-sm text-gray-600 text-center"><i class="fa fa-solid fa-table-list fa-xl text-gray-500"></i><span class="uppercase ml-2 text-sm">view list</span></p>
                </div>
            </div>
        </a>

        <a href="{% url 'operated_list' %}" class="block transform hover:-translate-y-1 transition duration-300">
            <div class="bg-white rounded-xl shadow-xl overflow-hidden">
                <div class="bg-emerald-600 text-white p-6 h-40 flex items-center justify-center">
                    <h2 class="text-sm text-white text-center uppercase">Operated Patients</h2>
                </div>
                <div class="bg-gray-100 p-4">
                    <p class="text-sm text-gray-600 text-center"><i class="fa fa-solid fa-table-list fa-xl text-gray-500"></i><span class="uppercase ml-2 text-sm">view list</span></p>
                </div>
            </div>
        </a>

        <a href="{% url 'operating_theatre_list' %}" class="block transform hover:-translate-y-1 transition duration-300">
            <div class="bg-white rounded-xl shadow-xl overflow-hidden">
                <div class="bg-blue-600 text-white p-6 h-40 flex items-center justify-center">
                    <h2 class="text-sm text-white text-center uppercase">Operating Theatre</h2>
                </div>
                <div class="bg-gray-100 p-4">
                    <p class="text-sm text-gray-600 text-center"><i class="fa fa-solid fa-table-list fa-xl text-gray-500"></i><span class="uppercase ml-2 text-sm">view list</span></p>
                </div>
            </div>
        </a>

        <a href="{% url 'theatre_operation_list' %}" class="block transform hover:-translate-y-1 transition duration-300">
            <div class="bg-white rounded-xl shadow-xl overflow-hidden">
                <div class="bg-rose-600 text-white p-6 h-40 flex items-center justify-center">
                    <h2 class="text-sm text-white text-center uppercase">Theatre Operation Record</h2>
                </div>
                <div class="bg-gray-100 p-4">
                    <p class="text-sm text-gray-600 text-center"><i class="fa fa-solid fa-table-list fa-xl text-gray-500"></i><span class="uppercase ml-2 text-sm">view list</span></p>
                </div>
            </div>
        </a>

        <a href="{% url 'anaesthesia_checklist_list' %}" class="block transform hover:-translate-y-1 transition duration-300">
            <div class="bg-white rounded-xl shadow-xl overflow-hidden">
                <div class="bg-zinc-600 text-white p-6 h-40 flex items-center justify-center">
                    <h2 class="text-sm text-white text-center uppercase">Anaesthesia Checklists</h2>
                </div>
                <div class="bg-gray-100 p-4">
                    <p class="text-sm text-gray-600 text-center"><i class="fa fa-solid fa-table-list fa-xl text-gray-500"></i><span class="uppercase ml-2 text-sm">view list</span></p>
                </div>
            </div>
        </a>

        <a href="{% url 'peri_op_nurse_list' %}" class="block transform hover:-translate-y-1 transition duration-300">
            <div class="bg-white rounded-xl shadow-xl overflow-hidden">
                <div class="bg-purple-600 text-white p-6 h-40 flex items-center justify-center">
                    <h2 class="text-sm text-white text-center uppercase">Peri-Op Nurse List</h2>
                </div>
                <div class="bg-gray-100 p-4">
                    <p class="text-sm text-gray-600 text-center"><i class="fa fa-solid fa-table-list fa-xl text-gray-500"></i><span class="uppercase ml-2 text-sm">view list</span></p>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}