{% extends 'base.html' %}
{% load static %}
{% block title %}OPERATION RECORD{% endblock %}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'theatre_details' theatre.pk %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>{{theatre}} OPERATION RECORD</div>{%endblock%}

{% block content %}
<div class="bg-white shadow-md rounded-lg overflow-hidden md:mx-20 sm:mx-4 my-2 max-h-[calc(100vh-6rem)] overflow-y-auto">
  <div class="p-4">
    <div class="overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr class="bg-gray-100 text-gray-600 uppercase text-xs">
            <th class="py-2 px-3 text-left">#</th>
            <th class="py-2 px-3 text-left">Patient</th>
            <th class="py-2 px-3 text-left">Theatre</th>
            <th class="py-2 px-3 text-left">Ward</th>
            <th class="py-2 px-3 text-left">Operation</th>
            <th class="py-2 px-3 text-left">Date</th>
            <th class="py-2 px-3 text-left">Surgeon</th>
            <th class="py-2 px-3 text-left">Consumables</th>
            <th class="py-2 px-3 text-left">Implants</th>
            <th class="py-2 px-3 text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-xs">
          {% for record in surgical_records %}
            <tr class="border-b border-gray-200 hover:bg-gray-50 transition duration-150">
              <td class="py-2 px-3 whitespace-nowrap">
                <span class="font-medium">{{ forloop.counter }}</span>
              </td>
              <td class="py-2 px-3 whitespace-nowrap">
                <span class="font-medium">{{ record.patient }}</span>
              </td>
              <td class="py-2 px-3">{{ record.theatre }}</td>
              <td class="py-2 px-3">{{ record.ward }}</td>
              <td class="py-2 px-3">{{ record.operation }}</td>
              <td class="py-2 px-3">{{ record.date_of_operation }}</td>
              <td class="py-2 px-3">{{ record.surgeon }}</td>
              <td class="py-2 px-3">
                <ul class="list-disc list-inside">
                  {% for usage in record.consumableusage_set.all %}
                    <li>{{ usage.consumable.name }} ({{ usage.quantity }})</li>
                  {% endfor %}
                </ul>
              </td>
              <td class="py-2 px-3">
                <ul class="list-disc list-inside">
                  {% for usage in record.implantusage_set.all %}
                    <li>{{ usage.implant.name }} ({{ usage.quantity }})</li>
                  {% endfor %}
                </ul>
              </td>
              <td class="py-2 px-3 text-center">
                <a href="#" class="text-blue-500 hover:text-blue-600 transition duration-300">
                  <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="py-4 px-3 text-center text-gray-500">No records found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
  </div>
</div>
{% endblock %}