{% extends "base.html" %}
{% block title %}{{ unit.name }} | RETURNED DRUGS {% endblock %}
{%block page_title%}<div class="flex justify-center uppercase"><a href="{% url 'pharm:unit_dashboard' unit.id %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>{{ unit.name }} RETURNED DRUGS</div>{%endblock%}
{% block content %}
<section class="text-center border-cyan-700 p-1 m-1">
    {% for message in messages %}
    <div class="">
      <div class="bg-yellow-100 rounded-2xl text-sm p-4 w-fit mx-auto" uk-alert>
        <a href class="uk-alert-close font-bold" uk-close></a>
        <p class="text-green-700">{{ message }}</p> 
      </div>
    </div>
    {% endfor %}
  </section>
<div class="p-2 mx-auto w-fit shadow-2xl overflow-hidden mt-4 rounded-xl bg-white">
    <div class="flex justify-end items-center m-2 space-x-2">
        <a href="{% url 'pharm:return_drug' unit.id %}"
       class="inline-flex items-center px-4 py-2 border border-transparent text-xs font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
        <i class="fas fa-plus mr-2"></i> RETURN
        </a>
        <a href="{% url 'pharm:return_report' unit.id %}"
        class="inline-flex items-center px-4 py-2 border border-transparent text-xs font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            <i class="fas fa-file-pdf mr-2 fa-2xl"></i>RETURN DRUGS REPORT
            </a>
                                   <!-- Search Form -->
                                   <form method="get" class="flex flex-col sm:flex-row items-center space-y-2 sm:space-y-0 sm:space-x-2 ">
                                    <div class="flex items-center w-full sm:w-auto">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="text" name="q" id="q" value="{{ query|default_if_none:'' }}" placeholder="Search Drugs or Patient Info..."
                                            class="focus:ring-amber-500 focus:border-amber-500 block shadow-sm text-xs border-gray-300 rounded-md w-full sm:w-60">
                                    </div>
                                    <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    {% if request.GET.urlencode %}
                                    <a href="?" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-amber-500 hover:bg-amber-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500">
                                        <i class="fas fa-rotate"></i>
                                    </a>
                                    {% endif %}
                        
                                </form>
        </div>

    <div class="rounded-xl shadow-lg bg-white uppercase">
        <div class="overflow-x-auto rounded-lg">
            <table class="min-w-full divide-y divide-purple-200">
                <thead class="bg-purple-500">
                    <tr class="text-center text-xs text-white">
                        <th class="p-3 text-xs font-medium text-white uppercase tracking-wider">#</th>
                        <th class="px-4 py-2">Patient Info</th>
                        <th class="px-4 py-2">Category</th>
                        <th class="px-4 py-2">Drug</th>
                        <th class="px-4 py-2">Quantity</th>
                        <th class="px-4 py-2">Date</th>
                        <th class="px-4 py-2">Received By</th>
                                        </tr>
                </thead>
                <tbody class="bg-white divide-y divide-purple-100">
                    {% for drug in returned_drugs %}
                    <tr class="hover:bg-purple-50 transition-colors duration-300 text-xs text-center">
                        <td class="p-3 whitespace-nowrap text-gray-700">{{ forloop.counter }}</td>
                        <td class=" px-4 py-2">{{ drug.patient_info }}</td>
                        <td class=" px-4 py-2">{{ drug.category.name }}</td>
                        <td class=" px-4 py-2">{{ drug.drug.name }}</td>
                        <td class=" px-4 py-2">{{ drug.quantity }}</td>
                        <td class=" px-4 py-2">{{ drug.updated }}</td>
                        <td class=" px-4 py-2">{{ drug.received_by.username }}</td>
                                        </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10" class="p-3 text-center text-gray-500">No records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-4 flex items-center justify-between">
        <div>
            <p class="text-sm text-gray-700">
                Showing page <span class="font-medium">{{ page_obj.number }}</span> of <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
            </p>
        </div>
        {% if is_paginated %}
        <div class="flex-1 flex justify-end">
            {% if page_obj.has_previous %}
            <a href="?{% if request.GET.urlencode %}{{ request.GET.urlencode }}&{% endif %}page=1" 
               class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 mr-3">
                <i class="fas fa-angle-double-left"></i>
            </a>
            <a href="?{% if request.GET.urlencode %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}" 
               class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 mr-3">
                <i class="fas fa-angle-left"></i>
            </a>
            {% endif %}
    
            {% if page_obj.has_next %}
            <a href="?{% if request.GET.urlencode %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.next_page_number }}" 
               class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                <i class="fas fa-angle-right"></i>
            </a>
            <a href="?{% if request.GET.urlencode %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.paginator.num_pages }}" 
               class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 ml-3">
                <i class="fas fa-angle-double-right"></i>
            </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}