{% extends "base.html" %}
{%load static %}
{% block title %}DISPENSARY{% endblock %}
{%block page_title%}<div class="flex justify-center uppercase"><a href="{%url 'pharmacy' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>pharmacy dispensary</div>{%endblock%}
{% block content %}
    
<div class="w-fit mx-auto  mt-4 rounded-xl  p-2 shadow-black shadow-2xl bg-zinc-200 text-center">
<div class=" grid grid-cols-1 md:flex md:flex-row p-4 md:justify-center md:items-center gap-6 md:gap-10 uppercase">
    <a href="{%url 'pharm:prescription_list' %}" class="">
        <div class="text-xs text-white px-16 py-8 bg-amber-600 rounded-xl shadow-2xl hover:text-zinc-700 hover:bg-white hover:border-2 hover:border-zinc-600 focus:opacity-10">incoming prescriptions</div>
    </a>
    <a href="{%url 'pharm:dispensed_list' %}" class="">
        <div class="text-xs text-white px-16 py-8 bg-green-600 rounded-xl shadow-2xl hover:text-zinc-700 hover:bg-white hover:border-2 hover:border-green-600 focus:opacity-10">dispensed list</div>
    </a>
</div>
    </div>
{% endblock %}
