{% extends 'base.html' %}
{% load static %}
{%block title%}DISPENSARY DIRECTORY{%endblock%}
{%block page_title%}<div class="flex justify-center items-end"><a href="{%url 'pharm:dispensary' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>DISPENSARY DIRECTORY</div>{%endblock%}

{%block content %}
<div class="mt-2 p-1">
    <section class="text-center border-cyan-700 p-4 m-2">
        {% for message in messages %}
        <div class="">
          <div class="bg-green-100 rounded-2xl text-sm p-4" uk-alert>
            <a href class="uk-alert-close font-bold" uk-close></a>
            <p class="text-green-700 font-semibold">{{ message }}</p> 
          </div>
        </div>
        {% endfor %}
      </section>
    <div class="md:mx-20 rounded-xl p-4 shadow-black shadow-sm bg-emerald-50">
      <div class="flex justify-center m-1">
        <div class="mt-2 mx-4">
                    {% if request.GET.urlencode %}
                    <span>
                        <a href="?" class=" p-2 focus:opacity-10  focus:border-cyan-600 bg-orange-500text-white rounded shadow-sm hover:shadow-xl text-center w-fit">
                            <i class="fa-solid fa-rotate fa-lg text-cyan"></i></a>
                        </span>
                        {%endif%}
                </div>
      <div class="text-cyan-900">
        <form method="get" class="text-xs text-center">
          {% for field in DispenseFilter.form %}
          {{field.errors}}
          {% endfor %}
            <div class="text-center md:flex md:justify-center gap-1">
                {% for field in DispenseFilter.form %}
                <div>
                  <!-- <label for="{{field.id_for_label}}">{{ field.label_tag }}</label> -->
                  <input type="{{field.field.widget.input_type}}" name="{{field.name}}"placeholder="{{field.name}}"
                  {%if field.value%} value="{{field.value}}"{%endif%}
                class="text-center text-sm focus:outline-none w-fit text-cyan-950 p-2
                rounded shadow-sm shadow-cyan-900 border-cyan-900 border">
                </div>
                <span class="form-error">{{ field.errors }}</span>
                {% endfor %}
                <button type="submit" class="shadow-sm shadow-cyan-900 w-fit p-3 focus:opacity-10 uppercase border-gray-500 focus:border-cyan-600 bg-emerald-700 text-white rounded hover:border-cyan-700 ">
                    <i class="fa-solid fa-search fa-xl "></i>
                </button>
            </div>
        </form>
    </div>
    </div>
      <div class="overflow-x-auto px-4 md:px-10 m-4 uppercase">
        <table class="min-w-full divide-y divide-emerald-200">
          <thead class="bg-emerald-50">
            <tr class="text-sm">
                <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
                    #
                </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
                FILE NUMBER
              </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
                NAME
              </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
                DISPENSED DRUG
              </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
                QUANTITY
              </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
                CLINIC
              </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
                PRICE
              </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
                PAYMENT STATUS
              </th>
              <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
                DATE
              </th>
              <!-- <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
                EDIT
              </th> -->
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-emerald-200">
            {% for d in dispensed %}
            <tr class="bg-emerald-100 hover:bg-emerald-200 transition-colors duration-300 text-xs">
                <td class="px-6 py-4 whitespace-nowrap">
                    {{forloop.counter}}
                </td>
                
                <td class="px-6 py-4 whitespace-nowrap">
                  {{ d.patient.file_no|default_if_none:'' }}
                </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <a href="{{p.patient.get_absolute_url}}" class="text-blue-500 hover:text-blue-700">
                {{ d.patient|default_if_none:'' }}
                </a>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ d.drug|default_if_none:'' }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ d.quantity|default_if_none:'' }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ d.patient.clinic|default_if_none:'' }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                &#x20A6;{{ d.payment.price|default_if_none:'' }}
              </td>
              {% if d.payment.status == False %}
              <td class="px-6 py-4 whitespace-nowrap text-red-700">
            <i class="fa-solid fa-x text-red-700 fa-2xl"></i>
              </td>
          {% else %}
              <td class="px-6 py-4 whitespace-nowrap text-green-700">
               <i class="fa-solid fa-thumbs-up fa-2xl"></i>
             </td>
          {% endif %}
              <td class="px-6 py-4 whitespace-nowrap">
                {{ d.dispensed_date|default_if_none:'' }}
              </td>
            <!-- <td class="px-6 py-4 whitespace-nowrap">
                <span class="space-x-4">
                    <a href="#" class="text-blue-500 hover:text-blue-700"><i class="fa-solid fa-pen-nib "></i></a>
                    
                </span>
              </td> -->
            </tr>
            {% empty %}
            <tr class="bg-white">
              <td colspan="2" class="px-6 py-4 text-center text-emerald-500">
                No patients found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{%endblock%}