{% extends 'base.html' %}
{% block title %}DRUG DISPENSARY{% endblock %}

  {%block page_title%}<div class="flex justify-center items-end"><a href="{%url 'pharm:prescription_list' %}" class=""><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>DISPENSE DRUGS</div>{%endblock%}
{% block content %}
  <div class="flex justify-center mb-4">
    <div class="justify-center items-center  uppercase text-xs shadow-sm shadow-amber-500 mx-auto rounded-xl bg-amber-50 mt-4 p-2">
      <form id="recordForm" action="" method="POST" enctype="multipart/form-data" class="text-center text-xs">
        <p class="text-xs text-center border-b border-amber-500 text-amber-600">SELECT DRUGS TO DISPENSE</p>
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
          <div class="md:flex md:flex-row justify-center gap-2 p-2 ">
            {% if form.non_field_errors %}
              <div class="text-red-600">
                {{ form.non_field_errors.0 }}
              </div>
            {% endif %}
            <div class="flex flex-col md:w-1/4">
              <span>CLASS</span>
              {{ form.category }}
              {% if form.category.errors %}
                <div class="text-red-600 ">
                  {{ form.category.errors.0 }}
                </div>
              {% endif %}
            </div>
            <div class="flex flex-col md:w-1/4">
              <span>DRUG</span>
              {{ form.drug }}
              {% if form.drug.errors %}
                <div class="text-red-600 ">
                  {{ form.drug.errors.0 }}
                </div>
              {% endif %}
            </div>
            <div class="flex flex-col md:w-1/4">
              <span>QUANTITY</span>
              {{ form.quantity }}
              {% if form.quantity.errors %}
                <div class="text-red-600">
                  {{ form.quantity.errors.0 }}
                </div>
              {% endif %}
            </div>
            <div class="flex flex-col md:w-1/4">
              <span>Dispensed</span>
              {{ form.dispensed }}
              {% if form.dispensed.errors %}
                <div class="text-red-600">
                  {{ form.dispensed.errors.0 }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <div class="flex justify-center align-middle m-1">
          <input type="submit" value="DISPENSE"
                 class="focus:opacity-10 uppercase focus:border-amber-600 hover:bg-white hover:text-amber-600 hover:border-2 hover:border-amber-600
                        bg-amber-500 text-white py-2 px-3 rounded shadow-lg hover:shadow-xl">
        </div>
      </form>
    </div>
  </div>
<script>

// Your main JavaScript function
function initializePage() {
    // Other JavaScript code

function load_drugs(index) {
    const categoryId = document.getElementsByName(`form-${index}-category`)[0].value;
    const url = `/pharm/get_drugs_by_category/${categoryId}/`;

    fetch(url)
        .then(response => response.json())
        .then(data => {
            const drugSelect = document.getElementsByName(`form-${index}-drug`)[0];
            drugSelect.innerHTML = '';  // Clear existing options

            data.drugs.forEach(drug => {
                const option = document.createElement('option');
                option.value = drug.id;
                option.text = drug.name;
                drugSelect.add(option);
            });
        })
        .catch(error => console.error('Error:', error));
}    
    // Event listener for category select elements in formset
    {% for form in formset %}
    document.getElementsByName('{{ form.category.html_name }}')[0].addEventListener('change', function() {
        load_drugs('{{ forloop.counter0 }}');
    });
    {% endfor %}
}

// Call the initializePage function when the page loads
window.addEventListener('load', initializePage);

</script>

        {%endblock%}