{% extends 'base.html' %}
{% load static %}
{%block title%}PRESCRIPTION LIST{%endblock%}
{%block page_title%}<div class="flex justify-center items-end "><a href="{%url 'pharm:unit_dashboard' store.pk %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>{{store.name}} PRESCRIPTION DIRECTORY</div>{%endblock%}

{% block content %}
<div class="">
    <section class="text-center border-cyan-700 p-1 m-1">
        {% for message in messages %}
        <div class="">
          <div class="bg-yellow-100 rounded-2xl text-sm p-4 w-fit mx-auto" uk-alert>
            <a href class="uk-alert-close font-bold" uk-close></a>
            <p class="text-green-700 font-semibold">{{ message }}</p> 
          </div>
        </div>
        {% endfor %}
      </section>
    <div class="md:mx-20 mx-2 rounded-xl p-4 shadow-black shadow-sm bg-amber-50 mt-4">
      <div class="flex justify-center m-1">
        <div class="m-2 text-emerald-900 text-center flex-1">
            <form method="get" class="text-xs text-center">
                <div class="flex justify-center items-center gap-2">
                    <input 
                        type="field.field.widget.input_type" 
                        name="q" 
                        placeholder="Search by: Name, File No, Phone No, or Title"
                        class="md:text-center text-xs focus:outline-none w-1/3 md:w-1/2 text-emerald-950 p-2
                               rounded shadow-sm shadow-emerald-900 border-emerald-900 border"
                        value="{{query|default:''}}"
                    >
                    <button 
                        type="submit" 
                        class="shadow-sm shadow-emerald-700 h-full p-2 focus:opacity-10 uppercase 
                               border-gray-500 focus:border-emerald-600 bg-emerald-700 text-white 
                               rounded hover:border-emerald-700"
                    >
                        <i class="fa-solid fa-search fa-xl"></i>
                    </button>
                    {% if request.GET.urlencode %}
                        <a href="?" 
                           class="py-4 px-2 focus:opacity-10 focus:border-cyan-600 bg-orange-500 
                                  text-white rounded shadow-sm hover:shadow-xl inline-flex 
                                  items-center justify-center"
                        >
                            <i class="fa-solid fa-rotate fa-xl text-cyan"></i>
                        </a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
      <div class="overflow-x-auto p-4 uppercase">
        {% if object_list %}
        <table class="min-w-full divide-y divide-amber-200">
          <thead class="bg-amber-300">
            <tr class="text-xs">
                <th class=" p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                    #
                </th>
              <th class=" p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                FILE NUMBER
              </th>
              <th class=" p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                NAME
              </th>
              <th class=" p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                PRESCRIPTION INFO
              </th>
              <th class=" p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                DATE
              </th>
              <th class=" p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                payment
              </th>
              <th class=" p-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                costing
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-amber-200">
            {% for p in object_list %}
            <tr class="text-xs bg-amber-50 hover:bg-amber-200 transition-colors duration-300 text-left">
                <td class="p-3 whitespace-nowrap">
                    {{ forloop.counter }}
                </td>
                
                <td class="p-3 whitespace-nowrap">
                    {{ p.patient.file_no|default_if_none:'' }}
                </td>
                <td class="p-3 whitespace-nowrap">
                    <a href="{{ p.patient.get_absolute_url }}" class="text-blue-500 hover:text-blue-700">
                        {{ p.patient|default_if_none:'' }}
                    </a>
                </td>
                <td class="p-3 whitespace-nowrap">
                    {% for drug in p.prescription_drugs.all %}
                        <li class="text-left list-none text-green-700">{{ drug.drug.name }} - {{ drug.dosage }}</li>
                    {% endfor %}
                </td>
                <td class="p-3 whitespace-nowrap">
                    {{ p.prescribed_date|default_if_none:'' }}
                </td>
                {% if not p.payment.status %}
                <td class="p-3 whitespace-nowrap">
                    <span class="space-x-4">
                        <a href="#" class="text-blue-500 hover:text-blue-700 open-modal" data-id="{{ p.id }}">
                            <i class="fa-solid fa-xmark-circle fa-xl text-rose-600"></i>
                        </a>
                    </span>
                </td>
                {% else %}
                <td class="p-3 whitespace-nowrap text-green-700">
                    <i class="fa-solid fa-check-circle fa-xl text-green-600"></i>
                </td>
                {% endif %}
                {% if not p.payment.status %}
                <td class="p-3 whitespace-nowrap">
                    <a href="{% url 'pharm:update_prescription' p.id %}" class="text-xs text-green-600 hover:text-green-700 uppercase">
                        <i class="fa-solid fa-edit fa-xl"></i>
                    </a>
                </td>
                {% else %}
                <td class="p-3 whitespace-nowrap text-blue-700">
                    <a href="{% url 'pharm:dispense' store.dispensary_locker.id p.patient.id %}?next={% url 'pharm:prescription_list' store.pk %}" class="text-xs text-blue-600 hover:text-blue-700 uppercase" target="_blank">
                        <i class="fa-solid fa-prescription-bottle-medical fa-xl"></i>
                    </a>
                </td>
                {% endif %}
            </tr>        
            {% empty %}
            <tr class="bg-white">
                <td colspan="9" class="p-3 text-center text-gray-700">
                    No prescriptions found
                </td>
            </tr>
            {% endfor %}
            <tr class="">
              <td colspan="10" class="p-1 text-center">        
          <div class="pagination flex justify-center">
              <span class="flex items-center">
                  {% if page_obj.has_previous %}
                  <a href="?page=1" class="p-1 rounded-lg bg-amber-600 text-white mr-2"><i class="fa-solid fa-angle-double-left fa-md"></i></a>
                  <a href="?page={{page_obj.previous_page_number}}" class="p-1 rounded-lg bg-amber-600 text-white"><i class="fa-solid fa-angle-left fa-md"></i></a>
                  {% endif %}
              </span>
                  <span class="flex item-center"> 
                      {% if page_obj.has_next %}
                      <a href="?page={{page_obj.next_page_number}}" class="p-1 rounded-lg bg-amber-600 text-white mr-2"><i class="fa-solid fa-angle-right fa-md"></i></a>
                      <a href="?page={{page_obj.paginator.num_pages}}" class="p-1 rounded-lg bg-amber-600 text-white"><i class="fa-solid fa-angle-double-right fa-md"></i></a>
                      {% endif %}
                  </span>
              </div>
          </td>
        </tr>
          </tbody>
        </table>
        {% else %}
        <p>No prescriptions found.</p>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
