<tr class="text-xs bg-amber-100 hover:bg-amber-200 transition-colors duration-300">
    <td class="p-3 whitespace-nowrap">{{forloop.counter}}</td>
    <td class="p-3 whitespace-nowrap">{{ p.patient.file_no|default_if_none:'' }}</td>
    <td class="p-3 whitespace-nowrap">
        <a href="{{p.patient.get_absolute_url}}" class="text-blue-500 hover:text-blue-700">
            {{ p.patient|default_if_none:'' }}
        </a>
    </td>
    <td class="p-3 whitespace-nowrap">{{ p.drug|default_if_none:'' }}</td>
    <td class="p-3 whitespace-nowrap">{{ p.dose|default_if_none:'' }}</td>
    <td class="p-3 whitespace-nowrap">
        {% if p.payment %}
            {{ p.payment.price|default_if_none:'' }}
        {% else %}
            Not priced
        {% endif %}
    </td>
    <td class="p-3 whitespace-nowrap">{{ p.prescribed_date|default_if_none:'' }}</td>
    <td class="p-3 whitespace-nowrap">
        <div class="rounded-xl p-2">
            {% if p.payment and p.payment.status %}
            <a href="{% url 'pharm:dispense' store.dispensary_locker.id p.patient.id %}?next={% url 'pharm:prescription_list' store.pk %}" class="text-xs text-amber-500 hover:text-green-700 uppercase">
                <i class="fa-solid fa-file-prescription fa-2xl"></i>
            </a>
            {% elif p.payment %}
            <i class="fa-solid fa-money-bill text-yellow-500 fa-2xl" title="Payment pending"></i>
            {% else %}
            <i class="fa-solid fa-xmark-square text-red-700 fa-2xl" title="Not priced"></i>
            {% endif %}
        </div>
    </td>
    <td class="text-center p-3 whitespace-nowrap">
        {% if not p.payment %}
        <div hx-trigger="click" 
             hx-get="{% url 'pharm:update_prescription' p.id %}?inline=true" 
             hx-swap="outerHTML"
             class="cursor-pointer text-blue-500 hover:text-blue-700">
            <i class="fa-solid fa-edit fa-2xl"></i>
        </div>
        {% endif %}
    </td>
</tr>