{%extends "base.html" %}
{%load static%}
{% block title %}UPDATED PRESCRIPTION{% endblock%}
{% block content %}
  <div class="rounded-xl bg-white mt-32 mx-2 md:w-fit md:mx-auto">
      <section class="text-center border-cyan-700 p-4 m-2">
          {% for message in messages %}
        <div class="">
             <div class="uk-alert-success rounded-2xl text-sm" uk-alert>
              <a href class="uk-alert-close font-bold" uk-close></a>
              <p class="text-green-700 font-semibold">{{ message }}</p>
              </div>
        </div>
        {% endfor %}
      </section>
      {% if form.errors %}
      <div class="uk-alert-danger block text-xs uppercase text-rose-700 rounded-xl" uk-alert>
          <a href class="uk-alert-close font-bold" uk-close></a>
          <p>{{form.errors}}</p>
      </div>
          {% endif %}
<form method="post" enctype="multipart/form-data" class="text-center">
  {% csrf_token %}
  <div class="mb-2 uppercase text-cyan-900 px-10">
    <div class="md:flex justify-center p-2 gap-4 grid grid-cols-2">
      {% for field in form %}
        <div>
            <div class="">
                <label for="{{field.id_for_label}}" class="text-xs">{{ field.label_tag }}</label>
            </div>
            <div class="">
                {{ field }}
            </div>
            </div>
            {%endfor%}
        </div>
  <div class="md:flex md:justify-center grid grid-cols-2 align-middle gap-4 p-2">
    <input type="submit" value="cost" class="text-xs focus:opacity-10 uppercase focus:border-green-900 hover:bg-white hover:text-green-600 hover:border-2 hover:border-green-600
bg-green-700 text-white p-2 rounded shadow-lg hover:shadow-xl">
<a href="{% url 'pharm:prescription_list' store_pk=prescription.unit.pk %}" 
   class="text-xs focus:opacity-10 uppercase focus:border-green-900 hover:bg-white hover:text-green-600 hover:border-2 hover:border-green-600
   bg-rose-700 text-white p-2 rounded shadow-lg hover:shadow-xl">
   Cancel
</a>

  </div>
  </form>
  </div>
  {% endblock %}