{% extends 'base.html' %}
{% load static %}

{% block title %}DASHBOARD{% endblock %}

{% block page_title %}
<div class="flex justify-center gap-10 my-2">
    <a href="{% url 'patient_list' %}" class="text-xs font-medium text-emerald-600 hover:text-emerald-800 transition duration-300">
        <i class="fa-solid fa-user-injured fa-lg mr-2"></i>PATIENT
    </a>
    <a href="{% url 'staff' %}" class="text-xs font-medium text-blue-500 hover:text-blue-700 transition duration-300">
        <i class="fa-solid fa-user-group fa-lg mr-2"></i>STAFF
    </a>
    <a href="{% url 'hospital_services' %}" class="text-xs font-medium text-orange-500 hover:text-orange-700 transition duration-300">
        <i class="fa-solid fa-list-check fa-lg mr-2"></i>SERVICES
    </a>
</div>
{% endblock %}

{% block content %}
<div class="mx-4 mt-8 md:mx-20">
    <div class="bg-gradient-to-r from-emerald-600 to-sky-600 h-1"></div>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-6 uppercase text-center rounded-b-xl p-6 bg-gray-100 shadow-sm">
        <div>
            <a href="{%url 'medical_record' %}" class="text-xs font-medium  text-sky-800">
                <div class="bg-white rounded-t-xl shadow-sm p-6  hover:border-white hover:bg-emerald-600 hover:text-white">
                    <i class="fa-solid fa-book fa-2x mb-2"></i><br>
                    MEDICAL RECORD</div>
            </a>
        </div>
        <div>
            <a href="{%url 'revenue' %}" class="text-xs  font-medium text-orange-600">
                <div class="bg-white rounded-t-xl shadow-sm p-6  hover:border-white hover:bg-emerald-600 hover:text-white">
                    <i class="fa-solid fa-cash-register fa-2x mb-2"></i><br>
                    REVENUE</div>
            </a>
        </div>
        <div>
            <a href="{%url 'nursing_desks_list' %}" class="text-xs  font-medium text-blue-600">
                <div class="bg-white rounded-t-xl shadow-sm p-6  hover:border-white hover:bg-emerald-600 hover:text-white">
                    <i class="fa-solid fa-stethoscope fa-2x mb-2"></i><br>
                    NURSING</div>
            </a>
        </div>
        <div>
            <a href="{%url 'clinic_list' %}" class="text-xs  font-medium text-green-800">
                <div class="bg-white rounded-t-xl shadow-sm p-6  hover:border-white hover:bg-emerald-600 hover:text-white">
                    <i class="fa-solid fa-user-doctor fa-2x mb-2"></i><br>
                    CLINIC</div>
            </a>
        </div>
        <div>
            <a href="{%url 'pharmacy' %}" class="text-xs  font-medium text-indigo-600">
                <div class="bg-white rounded-t-xl shadow-sm p-6  hover:border-white hover:bg-emerald-600 hover:text-white">
                    <i class="fa-solid fa-prescription fa-2x mb-2"></i><br>
                    PHARMACY</div>
            </a>
        </div>
        <div>
            <a href="{%url 'pathology:dashboard' %}" class="text-xs  font-medium text-fuchsia-600">
                <div class="bg-white rounded-t-xl shadow-sm p-6  hover:border-white hover:bg-emerald-600 hover:text-white">
                    <i class="fa-solid fa-microscope fa-2x mb-2"></i><br>
                    PATHOLOGY</div>
            </a>
        </div>
        <div>
            <a href="{%url 'radiology' %}" class="text-xs  font-medium text-amber-600">
                <div class="bg-white rounded-t-xl shadow-sm p-6  hover:border-white hover:bg-emerald-600 hover:text-white">
                    <i class="fa-solid fa-x-ray fa-2x mb-2"></i><br>
                    RADIOLOGY</div>
            </a>
        </div>
        <div>
            <a href="{%url 'ward_list' %}" class="text-xs  font-medium text-purple-600">
                <div class="bg-white rounded-t-xl shadow-sm p-6  hover:border-white hover:bg-emerald-600 hover:text-white">
                    <i class="fa-solid fa-bed-pulse fa-2x mb-2"></i><br>
                    WARD</div>
            </a>
        </div>

        <div>
            <a href="{%url 'theatre' %}" class="text-xs  font-medium text-pink-600">
                <div class="bg-white rounded-t-xl shadow-sm p-6  hover:border-white hover:bg-emerald-600 hover:text-white">
                    <i class="fa-solid fa-head-side-mask fa-2x mb-2"></i><br>
                    THEATRE</div>
            </a>
        </div>

        <div>
            <a href="{%url 'physio' %}" class="text-xs  font-medium text-gray-600">
                <div class="bg-white rounded-t-xl shadow-sm p-6  hover:border-white hover:bg-emerald-600 hover:text-white">
                    <i class="fa-solid fa-wheelchair-move fa-2x mb-2"></i><br>
                    PHYSIO</div>
            </a>
        </div>

        <div>
            <a href="{%url 'inventory:store_inventory' %}" class="text-xs  font-medium text-rose-600">
                <div class="bg-white rounded-t-xl shadow-sm p-6  hover:border-white hover:bg-emerald-600 hover:text-white">
                    <i class="fa-solid fa-warehouse fa-2x mb-2"></i><br>
                    STORE</div>
            </a>
        </div>
        <div>
            <a href="{%url 'visit_report' %}" class="text-xs  font-medium text-emerald-600">
                <div class="bg-white rounded-t-xl shadow-sm p-6  hover:border-white hover:bg-emerald-600 hover:text-white">
                    <i class="fa-solid fa-bar-chart fa-2x mb-2"></i><br>
                    CLINIC ACTIVITY</div>
            </a> 
        </div>

    </div>
</div>
{% endblock %}
