{% extends 'base.html' %}
{% load static %}
{%block title%}get started{%endblock%}

{%block content %}
<div class="uk-container mt-10 p-3 ">
    <div>
        <h1 class="enom  md:text-7xl text-center bg-gradient-to-r from-green-600 via-stone-500 to-indigo-600 text-transparent bg-clip-text font-semibold">EHR NOW</h1>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 uppercase text-center rounded-xl p-4 md:p-10 shadow-black shadow-2xl bg-gray-50">
        <div>
            <a href="" class="text-xs md:text-sm font-semibold text-white">
                <div class="bg-slate-600 rounded-2xl shadow-2xl p-4 md:p-10 border-2 hover:border-white border-white-400 hover:bg-white">HMS</div>
            </a>
        </div>
        <div>
            <a href="" class="  text-xs md:text-sm font-semibold text-white">
                <div class="bg-green-600 rounded-2xl shadow-2xl p-4 md:p-10 border-2 hover:border-white border-white-400 hover:bg-white">REVENUE</div>
            </a>
        </div>
        <div>
            <a href="" class="  text-xs md:text-sm font-semibold text-white">
                <div class="bg-blue-600 rounded-2xl shadow-2xl p-4 md:p-10 border-2 hover:border-white border-white-400 hover:bg-white">NURSING</div>
            </a>
        </div>
        <div>
            <a href="" class="  text-xs md:text-sm font-semibold text-gray-800">
                <div class="bg-white rounded-2xl shadow-2xl p-4 md:p-10 border-2 hover:border-white border-green-400 hover:bg-white">CLINIC</div>
            </a>
        </div>
        <div>
            <a href="" class="  text-xs md:text-sm font-semibold text-white">
                <div class="bg-amber-600 rounded-2xl shadow-2xl p-4 md:p-10 border-2 hover:border-white border-white-400 hover:bg-white">RADIOLOGY</div>
            </a>
        </div>
        <div>
            <a href="" class="  text-xs md:text-sm font-semibold text-white">
                <div class="bg-stone-600 rounded-2xl shadow-2xl p-4 md:p-10 border-2 hover:border-white border-white-400 hover:bg-white">PHATOLOGY</div>
            </a>
        </div>
        <div>
            <a href="" class="  text-xs md:text-sm font-semibold text-white">
                <div class="bg-indigo-600 rounded-2xl shadow-2xl p-4 md:p-10 border-2 hover:border-white border-white-400 hover:bg-white">PHARMACY</div>
            </a>
        </div>
        <div>
            <a href="" class="  text-xs md:text-sm font-semibold text-white">
                <div class="bg-gray-600 rounded-2xl shadow-2xl p-4 md:p-10 border-2 hover:border-white border-white-400 hover:bg-white">PHYSIO</div>
            </a>
        </div>
        <div>
            <a href="" class="  text-xs md:text-sm font-semibold text-white">
                <div class="bg-pink-600 rounded-2xl shadow-2xl p-4 md:p-10 border-2 hover:border-white border-white-400 hover:bg-white">THEATRE</div>
            </a>
        </div>
        <div>
            <a href="" class="  text-xs md:text-sm font-semibold text-white">
                <div class="bg-purple-600 rounded-2xl shadow-2xl p-4 md:p-10 border-2 hover:border-white border-white-400 hover:bg-white">WARD</div>
            </a>
        </div>
        <div>
            <a href="" class="  text-xs md:text-sm font-semibold text-white">
                <div class="bg-red-600 rounded-2xl shadow-2xl p-4 md:p-10 border-2 hover:border-white border-white-400 hover:bg-white">ICU</div>
            </a>
        </div>
        <div>
            <a href="" class="  text-xs md:text-sm font-semibold text-white">
                <div class="bg-emerald-700 rounded-2xl shadow-2xl p-4 md:p-10 border-2 hover:border-white border-white-400 hover:bg-white">AUDIT</div>
            </a>
        </div>
    </div>
</div>

{%endblock%}