{% extends 'base.html' %}
{% load static %}
{%block title%}HOME{%endblock%}

{%block content %}
    <div class="uk-background-cover uk-background-fixed uk-height-viewport uk-panel uk-flex uk-flex-right uk-flex-top">
        <div class="rounded-3xl md:flex md:justify-items-end md:mx-20">
            <div class="flex justify-items-center justify-center items-center flex-col md:mt-32 mt-32">
                <div>
                    <h1 class="md:text-7xl text-center text-green-700 text-7xl mb-4 drop-shadow-xl enom">EHR-NOW</h1>
                    <p class="text-zinc-700 text-center text-lg md:text-xl mt-2 drop-shadow-xl ">
                        Your reliable partner for Electronic Health Records
                      </p>
                </div>
                <div class="uk-margin">
                    <a href="{%url 'get_started' %}" class="py-4 px-8 h-20 uppercase bg-green-600 text-white rounded focus:opacity-10">get started</a>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
{% endblock %}
