{%extends "base.html" %}
{% block title %}profile{% endblock%}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'stafflist' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>{{profile.user.get_full_name|default_if_none:''|upper}} PROFILE PAGE</div>{%endblock%}
{% block content %}
<div class="text-black text-center p-2 rounded-xl mt-2 bg-white shadow-2xl shadow-black w-fit mx-auto">
  <span class="text-xs uppercase"> <a href="{%url 'update_user' profile.user.pk %}">update user</a></span>
    {%if not profile.department %}
    <a href="{%url 'doc' profile.user.pk %}" class="text-green-800 text-sm uppercase">start documentation</a>
    {%endif%}
</div>

     <div class="flex justify-center text-md text-blue-500">
        {% for message in messages %}
      <div class="mt-4">
        {%if message %}
           <div class="uk-alert-success rounded-2xl text-sm" uk-alert>
            <a href class="uk-alert-close font-bold" uk-close></a>
            <p class="text-green-700 ">{{ message }}</p>
            </div>
        {% endif %}
      </div>
      {% endfor %}
            </div>
      <ul class="uk-flex-center mt-8 text-xs text-white rounded-xl" uk-tab>

      <li>
        <a class="p-2 shadow-lg shadow-black justify-center bg-teal-700 m-2 rounded-xl" href="#">
      <i class="fa-solid fa-circle-info fa-xl text-white"></i>&nbsp;<span class="text-white text-xs">PERSONAL INFO</span></a>
      </li>

      <li><a class="p-2 shadow-lg shadow-black justify-center bg-orange-600 m-2  rounded-xl text-white" href="#">
      <i class="fa-solid fa-file-contract fa-xl text-white"></i>&nbsp;<span class="text-white text-xs">POSTING</span></a>
       </li>


    </ul>

  
  <ul class="uk-switcher uk-margin-medium-top">
    <!-- bio data start -->
    <li class="">
  <div class="text-gray-800 rounded-xl">
    <table class="table-auto  mx-2 md:mx-20 justify-center flex">
      <h1 class="text-teal-800 text-xs text-center">PERSONAL INFORMATION</h1>
<tbody class="shadow-2xl shadow-black text-center text-gray-800 rounded-lg p-4 border-t border-cyan-800 overflow-x-auto  uppercase bg-white">
  <tr class="text-xs bg-teal-800 text-white">
  <th scope="col" class="border border-cyan-800 p-2">FILE NUMBER</th>
  <th scope="col" class="border border-cyan-800 p-2 ">SEX</th>
  <th scope="col" class="border border-cyan-800 p-2 ">DATE OF BIRTH</th>
  <th scope="col" class="border border-cyan-800 p-2 ">PHONE NUMBER</th>
  <th scope="col" class="border border-cyan-800 p-2 ">MARITAL STATUS</th>
  <th scope="col" class="border border-cyan-800 p-2 ">STATE OF ORIGIN</th>
  <th scope="col" class="border border-cyan-800 p-2 ">LGA</th>
  <th scope="col" class="border border-cyan-800 p-2 ">SENATORIAL DISTRICT</th>
  <th scope="col" class="border border-cyan-800 p-2 ">RELIGION</th>
  <th scope="col" class="border border-cyan-800 p-2 ">RESIDENTIAL ADDRESS</th>
  <th scope="col" class="border border-cyan-800 p-2 ">PERMANENT HOME ADDRESS</th>
  <th scope="col" class="border border-cyan-800 p-2 ">GEO-POLITICAL ZONE</th>
  <th scope="col" class="border border-cyan-800 p-2 ">UPDATE</th>  
</tr>
<tr class="text-xs text-gray-800">
<td scope="col" class="border border-cyan-800 p-2">{{profile.file_no|default_if_none:''|upper}}</td>
<td class="border p-2 border-cyan-800 text-center">{{profile.gender|default_if_none:''|upper}}</td>
<td class="border p-2 border-cyan-800 text-center">{{profile.dob|date:'d-M-Y'|default_if_none:''|upper}}</td>
<td class="border p-2 border-cyan-800 text-center">{{profile.phone|default_if_none:''|upper}}</td>
<td class="border p-2 border-cyan-800 text-center">{{profile.marital_status|default_if_none:''|upper}}</td>
<td class="border p-2 border-cyan-800 text-center">{{profile.state|default_if_none:''|upper}}</td>
<td class="border p-2 border-cyan-800 text-center">{{profile.lga|default_if_none:''|upper}}</td>
<td class="border p-2 border-cyan-800 text-center">{{profile.sen_dist|default_if_none:''|upper}}</td>
<td class="border p-2 border-cyan-800 text-center">{{profile.religion|default_if_none:''|upper}}</td>
<td class="border p-2 border-cyan-800 text-center">{{profile.res_add|default_if_none:''|upper}}</td>
<td class="border p-2 border-cyan-800 text-center">{{profile.per_res_addr|default_if_none:''|upper}}</td>
<td class="border p-2 border-cyan-800 text-center">{{profile.zone|default_if_none:''|upper}}</td>
<td class="border border-cyan-800 border-b  p-2 gap-2"> 
  <a class="justify-center text-cyan-900 " href ="{% url 'update_profile' profile.pk %}"><i class="fa-solid fa-square-pen fa-2xl"></i></a>
  <a class="justify-center text-blue-800 " href="{%url 'update_user' profile.user.pk %}"><i class="fa-solid fa-user-circle fa-2xl"></i></a>
</td>
</tr>
</tbody>
</table>
    </div>
    </li>
<!-- bio data end -->

<!-- government appointment start -->
    <li class="">
      <div class="text-gray-800 rounded-xl">
        <table class="table-auto  mx-2 md:mx-20 justify-center flex">
           <h1 class="text-teal-800 text-xs text-center p-2 mt-2">POSTING</h1>
<tbody class="shadow-2xl shadow-black text-center text-gray-800 rounded-lg p-4 border-t border-orange-800 overflow-x-auto mx-0 uppercase bg-white">
  <tr class="text-xs bg-orange-600 text-white">
    <th scope="col" class="border border-orange-800 p-2">department</th>
    <th scope="col" class="border border-orange-800 p-2 ">unit</th>
</tr>
<tr class="text-xs">
<td class="border border-orange-800 p-2 text-center">{{profile.department|default_if_none:''}}</td>
<td class="border border-orange-800 p-2 text-center">{{profile.unit|default_if_none:''}}</td>
</tr>
</tbody>
</table>
</div>
    </li>
<!-- government appointment end -->


  </ul>
  </div>
{% endblock %}