{% extends 'base.html' %}
{% load static %}
{%block title%}CLINIC{%endblock%}
{%block page_title%}<div class="enom flex justify-center">CONSULTATION ROOM LIST</div>{%endblock%}
{%block content %}
<div class="flex justify-center m-10">
    <div class=" grid grid-cols-3 gap-6 uppercase text-center rounded-xl p-8 md:p-14 bg-gray-50">
        <div>
            <a href="{% url 'waiting_for_consultation' %}">
        <div class="hover:bg-slate-600 hover:text-white bg-white text-slate-800 rounded-2xl shadow-2xl p-2 md:p-6 border-2 border-white-400 transition duration-300">
          <div class="font-semibold text-xs md:text-sm">WAITING FOR CONSULTATION</div>
        </div>
      </a>
    </div>
    <div>
      <a href="#" >
        <div class="hover:bg-emerald-500 hover:text-white bg-white text-emerald-700 rounded-2xl shadow-2xl p-2 md:p-6 border-2 border-white-400 transition duration-300">
          <div class="font-semibold text-xs md:text-sm">CONSULTATION FINISHED</div>
        </div>
      </a>
    </div>
    <div>
      <a href="#" >
        <div class="hover:bg-emerald-500 hover:text-white bg-white text-emerald-700 rounded-2xl shadow-2xl p-2 md:p-6 border-2 border-white-400 transition duration-300">
          <div class="font-semibold text-xs md:text-sm">WAITING FOR REVIEW</div>
        </div>
      </a>
    </div>
</div>
    <div>
</div>
</div>
{%endblock%}