{% extends 'base.html' %}
{% load static %}
{%block title%}MEDICAL RECORD{%endblock%}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'get_started' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>HEALTH INFORMATION MANAGEMENT</div>{%endblock%}
{%block content%}    
<section class="text-center border-cyan-700 p-1 m-1">
    {% for message in messages %}
    <div class="mt-1">
        <div class="uk-alert-success rounded-xl text-xs w-fit mx-auto" uk-alert>
            <a href class="uk-alert-close" uk-close></a>
            <p class="text-green-700 uppercase p-4">{{ message }}</p>
        </div>
    </div>
    {% endfor %}
</section>
<div class="md:mx-20 mx-auto lg:py-8 px-6 lg:px-12 py-4">
    <div class="bg-gray-100 rounded-lg shadow-xl overflow-hidden mt-1">
        <div class="bg-gradient-to-r from-emerald-600 to-sky-600 p-2 text-center">
            <span class="text-sm text-white  uppercase">manage patient</span>
        </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-8 p-12 bg-gray-100 uppercase">
        <a href="{% url 'new_patient' %}" class="group">
          <div class="bg-white rounded-xl shadow-md hover:shadow-xl transition duration-300 p-6 text-center hover:bg-emerald-50 transform hover:-translate-y-1">
            <i class="fas fa-user-plus fa-2x text-emerald-500 mb-4 group-hover:scale-110 transition-all duration-300"></i>
            <div class="text-xs font-medium text-gray-800 group-hover:text-emerald-700">New Registration</div>
          </div>
        </a>
        <a href="{% url 'appointments' %}" class="group">
          <div class="bg-white rounded-xl shadow-md hover:shadow-xl transition duration-300 p-6 text-center hover:bg-purple-50 transform hover:-translate-y-1">
            <i class="fas fa-calendar-alt fa-2x text-fuchsia-500 mb-4 group-hover:scale-110 transition-all duration-300"></i>
            <div class="text-xs font-medium text-gray-800 group-hover:text-fuchsia-700">Appointment Schedule</div>
          </div>
        </a>
        <a href="{% url 'patient_list' %}" class="group">
          <div class="bg-white rounded-xl shadow-md hover:shadow-xl transition duration-300 p-6 text-center hover:bg-amber-50 transform hover:-translate-y-1">
            <i class="fas fa-list-ol fa-2x text-amber-500 mb-4 group-hover:scale-110 transition-all duration-300"></i>
            <div class="text-xs font-medium text-gray-800 group-hover:text-amber-700">List of Patients</div>
          </div>
        </a>
        <a href="{% url 'patient_report' %}" class="group">
          <div class="bg-white rounded-xl shadow-md hover:shadow-xl transition duration-300 p-6 text-center hover:bg-indigo-50 transform hover:-translate-y-1">
            <i class="fas fa-file-medical-alt fa-2x text-indigo-500 mb-4 group-hover:scale-110 transition-all duration-300"></i>
            <div class="text-xs font-medium text-gray-800 group-hover:text-indigo-700">Patient Report</div>
          </div>
        </a>
        <a href="{% url 'patient_stats' %}" class="group">
          <div class="bg-white rounded-xl shadow-md hover:shadow-xl transition duration-300 p-6 text-center hover:bg-rose-50 transform hover:-translate-y-1">
            <i class="fas fa-chart-pie fa-2x text-rose-500 mb-4 group-hover:scale-110 transition-all duration-300"></i>
            <div class="text-xs font-medium text-gray-800 group-hover:text-rose-700">Patient Statistics</div>
          </div>
        </a>
      </div>
  
  </div>
{%endblock%}