{% extends 'base.html' %}
{% load static %}
{%block title%}MEDICAL RECORD{%endblock%}
{%block content%}    
<section class="text-center border-cyan-700 p-1 m-1">
    {% for message in messages %}
    <div class="mt-1">
        <div class="uk-alert-success rounded-xl text-xs w-fit mx-auto" uk-alert>
            <a href class="uk-alert-close" uk-close></a>
            <p class="text-green-700 uppercase p-4">{{ message }}</p>
        </div>
    </div>
    {% endfor %}
</section>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-2">
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <div class="bg-gradient-to-r from-green-500 to-blue-500 text-center p-3">
            <span class="text-sm uppercase text-white">Patient Management</span>
        </div>
        
        <div class="grid grid-cols-3 gap-4 p-10 bg-gray-50">
            <a href="{% url 'new_patient' %}" class="group">
                <div class="bg-white rounded-lg shadow-xl hover:shadow-md transition duration-300 p-4 text-center">
                    <i class="fa-solid fa-folder-plus fa-2x text-emerald-500 mb-2 group-hover:scale-110 transition-transform duration-300"></i>
                    <div class="text-xs font-medium text-gray-800">NEW REGISTRATION</div>
                </div>
            </a>
            <a href="{% url 'follow_up_list' %}" class="group">
                <div class="bg-white rounded-lg shadow-xl hover:shadow-md transition duration-300 p-4 text-center">
                    <i class="fa-solid fa-recycle fa-2x text-purple-500 mb-2 group-hover:scale-110 transition-transform duration-300"></i>
                    <div class="text-xs font-medium text-gray-800">FOLLOW UP VISIT</div>
                </div>
            </a>
            <a href="{% url 'patient_movement' %}" class="group">
                <div class="bg-white rounded-lg shadow-xl hover:shadow-md transition duration-300 p-4 text-center">
                    <i class="fa-solid fa-walking fa-2x text-cyan-500 mb-2 group-hover:scale-110 transition-transform duration-300"></i>
                    <div class="text-xs font-medium text-gray-800">PATIENT MOVEMENT</div>
                </div>
            </a>
        </div>

        <div class="p-4 border-t border-gray-200">
            <a href="{% url 'appt_dashboard' %}" class="group">
                <div class="bg-white rounded-lg shadow-xl mx-auto hover:shadow-md transition duration-300 p-4 text-center w-fit">
                    <i class="fa-solid fa-calendar-days fa-3x text-fuchsia-500 mb-2 group-hover:scale-110 transition-transform duration-300"></i>
                    <div class="text-sm font-medium text-gray-800 uppercase">Appointment Schedule</div>
                </div>
            </a>
        </div>

        <div class="grid grid-cols-3 gap-4 p-10 bg-gray-50">
            <a href="{% url 'patient_list' %}" class="group">
                <div class="bg-amber-500 rounded-lg shadow-xl hover:shadow-md transition duration-300 p-4 text-center group-hover:bg-white">
                    <i class="fa-solid fa-list-ol fa-2x text-white mb-2 group-hover:text-amber-500 transition-colors duration-300"></i>
                    <div class="text-xs font-medium text-white group-hover:text-amber-500">LIST OF PATIENTS</div>
                </div>
            </a>
            <a href="{% url 'patient_report' %}" class="group">
                <div class="bg-indigo-500 rounded-lg shadow-xl hover:shadow-md transition duration-300 p-4 text-center group-hover:bg-white">
                    <i class="fa-solid fa-print fa-2x text-white mb-2 group-hover:text-indigo-500 transition-colors duration-300"></i>
                    <div class="text-xs font-medium text-white group-hover:text-indigo-500">PATIENT REPORT</div>
                </div>
            </a>
            <a href="{% url 'patient_stats' %}" class="group">
                <div class="bg-stone-500 rounded-lg shadow-xl hover:shadow-md transition duration-300 p-4 text-center group-hover:bg-white">
                    <i class="fa-solid fa-chart-pie fa-2x text-white mb-2 group-hover:text-stone-500 transition-colors duration-300"></i>
                    <div class="text-xs font-medium text-white group-hover:text-stone-500">PATIENT STATISTICS</div>
                </div>
            </a>
        </div>
    </div>
</div>


</div>

{%endblock%}