{% extends 'base.html' %}
{% load static %}
{%block title%}PHARMACY{%endblock%}

{%block page_title%}<div class="flex justify-center"><a href="{%url 'get_started' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>PHARMACY DASHBOARD</div>{%endblock%}
{%block content %}
<section class="text-center border-cyan-700 p-4 m-2">
  {% for message in messages %}
  <div class="mt-2">
      <div class="uk-alert-success rounded-2xl text-sm" uk-alert>
          <a href class="uk-alert-close font-bold" uk-close></a>
          <p class="text-green-700 font-semibold">{{ message }}</p>
      </div>
  </div>
  {% endfor %}
</section>
<div class="md:gap-10 mx-20 mt-10 rounded-xl p-10 shadow-black shadow-2xl  bg-white">
  <div class=" md:p-8 text-center flex justify-center gap-6">
              <div>
                <a href="{%url 'pharm:dispensary' %}">
                  <div class="bg-blue-500 hover:bg-white text-white hover:text-gray-600 rounded-xl shadow-lg md:p-16 border-2 border-white transition duration-300">
                    <div class="font-semibold uppercase text-sm md:text-base">
                      <i class="fa-solid fa-prescription fa-4x"></i><br>
                      DISPENSARY</div>
                  </div>
                </a>
              </div>
              <div>
                <a href="{%url 'pharm:pharm_inventory' %}">
                  <div class="bg-purple-600 border-2 hover:bg-white text-white hover:text-gray-600 rounded-xl shadow-lg md:p-16 transition duration-300">
                    <div class="font-semibold uppercase text-sm md:text-base">
                    <i class="fa-solid fa-box-archive fa-4x"></i><br>
                      INVENTORY</div>
                  </div>
                </a>
              </div>
              </div>
              <div class=" m-4  border-t-2 bg-zinc-200 flex justify-center gap-4 uppercase text-center p-2 md:p-16 mt-10">
               
              <div>
                <a href="{%url 'record_revenue'%}">
                  <div class="bg-white hover:bg-blue-600 hover:text-white text-blue-600  rounded-2xl shadow-sm shadow-black p-8 border-2 border-white transition duration-300">
                    <div class=" font-semibold uppercase text-sm md:text-base">GENERATE REPORT</div>
                  </div>
                </a>
              </div>
              <div>
                <a href="{%url 'record_revenue'%}">
                  <div class="bg-white hover:bg-rose-600 hover:text-white text-rose-600  rounded-2xl shadow-sm shadow-black p-8 border-2 border-white transition duration-300">
                    <div class=" font-semibold uppercase text-sm md:text-base">STATISTICS</div>
                  </div>
                </a>
              </div>
              <div>
                <a href="{%url 'pharm:pharmacy_transaction' %}">
                  <div class="bg-white hover:bg-emerald-600 hover:text-white text-emerald-600  rounded-2xl shadow-sm shadow-black p-8 border-2 border-white transition duration-300">
                    <div class=" font-semibold uppercase text-sm md:text-base">TRANSCATIONS</div>
                  </div>
                </a>
              </div>


      </div>
      
    </div>    
{%endblock%}
