{% extends 'base.html' %}
{% load static %}
{%block title%}SERVICE DIRECTORY{%endblock%}
{%block page_title%}<div class="enom flex justify-center">HOSPITAL SERVICES DIRECTORY</div>{%endblock%}
{%block content %}
<div class="mt-2 p-4">
    <div class="uppercase mx-20 rounded-xl p-2 shadow-black shadow-sm bg-orange-50">
      <div class="overflow-x-auto px-4 md:px-10 m-4">
        <h5>GENERAL SERIVCES</h5>
          <!-- <a href="{%url 'add_service' %}">ADD SERVICE</a>  -->
        <table class="min-w-full divide-y divide-orange-200">
          <thead class="bg-orange-50">
            <tr class="text-sm ">
                <th class="px-6 py-3 text-center text-xs font-medium text-orange-500 uppercase tracking-wider">
                    #
                </th>
              <th class="px-6 py-3 text-center text-xs font-medium text-orange-500 uppercase tracking-wider">
                SERVICE
              </th>
              <th class="px-6 py-3 text-center text-xs font-medium text-orange-500 uppercase tracking-wider">
                PRICE
              </th>
              <th class="px-6 py-3 text-center text-xs font-medium text-orange-500 uppercase tracking-wider">
                DATE ADDED
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-orange-200">
            {% for s in services %}
            <tr class="text-xs bg-orange-100 hover:bg-orange-200 transition-colors duration-300 text-center">
                <td class="px-6 py-4 whitespace-nowrap">
                    {{forloop.counter}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  {{ s.name}}
                </td>
              <td class="px-6 py-4 whitespace-nowrap">
                &#x20A6;{{ s.price }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ s.updated }}
              </td>
            </tr>
            {% empty %}
            <tr class="bg-white">
              <td colspan="2" class="px-6 py-4 text-center text-orange-500">
                No service found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="overflow-x-auto px-4 md:px-10 m-4">
        <h5>MEDICAL RECORD</h5>
        <table class="min-w-full divide-y divide-orange-200">
          <thead class="bg-orange-50">
            <tr class="text-sm ">
                <th class="px-6 py-3 text-center text-xs font-medium text-orange-500 uppercase tracking-wider">
                    #
                </th>
              <th class="px-6 py-3 text-center text-xs font-medium text-orange-500 uppercase tracking-wider">
                SERVICE
              </th>
              <th class="px-6 py-3 text-center text-xs font-medium text-orange-500 uppercase tracking-wider">
                PRICE
              </th>
              <th class="px-6 py-3 text-center text-xs font-medium text-orange-500 uppercase tracking-wider">
                DATE ADDED
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-orange-200">
            {% for s in medical_record %}
            <tr class=" text-xs bg-orange-100 hover:bg-orange-200 transition-colors duration-300 text-center">
                <td class="px-6 py-4 whitespace-nowrap text-center">
                    {{forloop.counter}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  {{ s.name}}
                </td>
              <td class="px-6 py-4 whitespace-nowrap">
                &#x20A6;{{ s.price }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ s.updated }}
              </td>
            </tr>
            {% empty %}
            <tr class="bg-white">
              <td colspan="2" class="px-6 py-4 text-center text-orange-500">
                No service found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="overflow-x-auto px-4 md:px-10 m-4">
        <h5>HEMATOLOGY</h5>
        <table class="min-w-full divide-y divide-orange-200">
          <thead class="bg-orange-50">
            <tr class="text-sm">
                <th class="px-6 py-3 text-center text-xs font-medium text-orange-500 uppercase tracking-wider">
                    #
                </th>
              <th class="px-6 py-3 text-center text-xs font-medium text-orange-500 uppercase tracking-wider">
                SERVICE
              </th>
              <th class="px-6 py-3 text-center text-xs font-medium text-orange-500 uppercase tracking-wider">
                PRICE
              </th>
              <th class="px-6 py-3 text-center text-xs font-medium text-orange-500 uppercase tracking-wider">
                DATE ADDED
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-orange-200">
            {% for s in hematology %}
            <tr class="text-xs bg-orange-100 hover:bg-orange-200 transition-colors duration-300 text-center">
                <td class="px-6 py-4 whitespace-nowrap">
                    {{forloop.counter}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  {{ s.name}}
                </td>
              <td class="px-6 py-4 whitespace-nowrap">
                &#x20A6;{{ s.price }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ s.updated }}
              </td>
            </tr>
            {% empty %}
            <tr class="bg-white">
              <td colspan="2" class="px-6 py-4 text-center text-orange-500">
                No service found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
{%endblock%}