{% extends 'base.html' %}
{% load static %}
{%block title%}THEATRES{%endblock%}

{%block page_title%}
<div class="flex justify-center">
    <a href="{%url 'get_started' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>THEATRES
</div>
{%endblock%}
{%block content %}
    <section class="text-center border-cyan-700 p-2 m-2">
        {% for message in messages %}
        <div class="">
            <div class="uk-alert-success rounded-2xl text-xs w-fit mx-auto" uk-alert>
                <a href class="uk-alert-close " uk-close></a>
                <p class="text-green-700 uppercase p-4">{{ message }}</p>
            </div>
        </div>
      {% endfor %}
    </section>
    <div class="md:mx-20 mx-2 mt-2">
        <div class="md:flex md:justify-center grid grid-cols-1 gap-6 uppercase text-center rounded-xl p-12 md:p-16 bg-zinc-200">
            {%for t in theatres %}
            <div>
            <a href="{%url 'theatre_details' t.id %}" class="text-xs text-slate-600">
                <div class="bg-white rounded-2xl shadow-2xl p-4 md:p-8 border hover:border-white border-green-400 hover:bg-green-600 hover:text-white">
                    {{t.name}}</div>
                </a>
            </div>
            {%endfor%}
    </div>
    </div>
{%endblock%}