{% extends 'base.html' %}
{% load static %}
{%block title%}THEATRE DASHBOARD{%endblock%}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'get_started' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>THEATRE DASHBOARD</div>{%endblock%}
{% block content %}
    <div class="mx-2 md:mx-20  bg-white rounded-md shadow-black h-fit shadow-2xl mt-4">
        <div class=" grid grid-cols-2 gap-6 uppercase text-center rounded-xl p-8 md:p-6 ">
            <div>
                <a href="{% url 'surgery_wait_list' %}">
            <div class="hover:bg-white hover:text-amber-700 bg-amber-600 text-white rounded-2xl shadow-2xl p-4 md:p-8 border-2 border-white-400 transition duration-300">
              <div class="text-xs">PATIENT BOOKED FOR SURGERY</div>
            </div>
          </a> 
        </div>
            <div>
                <a href="{% url 'operated_list' %}">
            <div class="hover:bg-white hover:text-emerald-700 bg-emerald-600 text-white rounded-2xl shadow-2xl p-4 md:p-8 border-2 border-white-400 transition duration-300">
              <div class="text-xs">OPERATED PATIENTS</div>
            </div>
          </a> 
        </div>
            <div>
                <a href="{% url 'operating_theatre' %}">
            <div class="hover:bg-white hover:text-blue-700 bg-blue-600 text-white rounded-2xl shadow-2xl p-4 md:p-8 border-2 border-white-400 transition duration-300">
              <div class="text-xs">OPERATING THEATRE</div>
            </div>
          </a> 
        </div>
            <div>
                <a href="{% url 'theatre_op_record' %}">
            <div class="hover:bg-white hover:text-purple-700 bg-purple-600 text-white rounded-2xl shadow-2xl p-4 md:p-8 border-2 border-white-400 transition duration-300">
              <div class="text-xs">THEATRE OPERATION RECORD</div>
            </div>
          </a> 
        </div>

    </div>
</div>
{% endblock %}