{% extends 'base.html' %}
{% load static %}
{%block title%}WARD DASHBOARD{%endblock%}

{%block page_title%}<div class="enom flex justify-center">WARDS</div>{%endblock%}
{%block content %}
    <section class="text-center border-cyan-700 p-4 m-2">
        {% for message in messages %}
        <div class="">
            <div class="uk-alert-success rounded-2xl text-sm w-fit mx-auto" uk-alert>
                <a href class="uk-alert-close font-bold" uk-close></a>
                <p class="text-green-700 font-semibold uppercase p-4">{{ message }}</p>
            </div>
        </div>
      {% endfor %}
    </section>
    <div class="flex justify-center gap-6 uppercase text-center rounded-xl p-8 ">
        <div>
            <a href="{%url 'male_ward' %}" class="text-xs md:text-sm font-semibold text-slate-600">
                <div class="bg-white rounded-2xl shadow-2xl p-2 md:p-6 border hover:border-white border-green-400 hover:bg-green-600 hover:text-white">
                    MALE WARD</div>
                </a>
            </div>
        <div>
            <a href="{%url 'female_ward' %}" class="text-xs md:text-sm font-semibold text-slate-600">
                <div class="bg-white rounded-2xl shadow-2xl p-2 md:p-6 border hover:border-white border-green-400 hover:bg-green-600 hover:text-white">
                    FEMALE WARD</div>
                </a>
            </div>
        <div>
            <a href="{%url 'childrens_ward' %}" class="text-xs md:text-sm font-semibold text-slate-600">
                <div class="bg-white rounded-2xl shadow-2xl p-2 md:p-6 border hover:border-white border-green-400 hover:bg-green-600 hover:text-white">
                    CHILDRENS WARD</div>
                </a>
            </div>
    </div>
{%endblock%}