{% extends 'base.html' %}
{% load static %}
{%block title%}APPOINTMENT DASHBOARD{%endblock%}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'medical_record' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>APPOINTMENT DASHBOARD</div>{%endblock%}
{% block content %}
<div class="md:mx-20 mx-2 mt-4">
        <div class=" grid grid-cols-2 gap-3 uppercase text-center rounded-xl p-8 bg-white">
            <div>
                <a href="{% url 'new_appt_list' %}">
            <div class="hover:bg-fuchsia-500 hover:text-white bg-white text-slate-800 rounded-2xl shadow-2xl p-2 md:p-8 border-2 border-white-400 transition duration-300">
              <div class="text-xs">NEW APPOINTMENT</div>
            </div>
          </a> 
        </div>
            <div>
                <a href="{% url 'appointments' %}">
            <div class="hover:bg-fuchsia-500 hover:text-white bg-white text-slate-800 rounded-2xl shadow-2xl p-2 md:p-8 border-2 border-white-400 transition duration-300">
              <div class="text-xs">APPOINTMENT LIST</div>
            </div>
          </a> 
        </div>
        
      </div>
</div>

{% endblock %}