{% extends 'base.html' %}
{% load static %}

{% block title %}PATIENT MOVEMENT{% endblock %}

{% block content %}
<div class="py-10">
  <div class="max-w-7xl mx-auto">
    <div class="p-4 bg-white rounded-xl shadow-black shadow-2xl">
              <!-- start -->
<!-- top  -->
<ul class="text-cyan-700 uk-subnav uk-subnav-pill uppercase flex justify-center gap-4" uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
    <li><a href="#">ACCIDENT AND EMERGENCY PATIENT</a></li>
    <li><a href="#">SOPD PATIENT</a></li>
</ul>

<div class="uk-switcher uk-margin">
    <div>
        <div class=" grid grid-cols-4 gap-6 uppercase text-center rounded-xl p-8 md:p-14 ">
            <div>
                <a href="{% url 'nursing_station_ae' %}">
            <div class="hover:bg-slate-600 hover:text-white bg-white text-slate-800 rounded-2xl shadow-2xl p-2 md:p-16 border-2 border-white-400 transition duration-300">
              <div class="font-semibold text-xs md:text-sm">WAITING FOR VITAL SIGNS</div>
            </div>
          </a> 
        </div>
            <div>
                <a href="{% url 'waiting_for_consultation_ae' %}">
            <div class="hover:bg-slate-600 hover:text-white bg-white text-slate-800 rounded-2xl shadow-2xl p-2 md:p-16 border-2 border-white-400 transition duration-300">
              <div class="font-semibold text-xs md:text-sm">WAITING FOR CONSULTATION</div>
            </div>
          </a> 
        </div>
        <div>
          <a href="{%url 'consultation_finished_ae' %}">
            <div class="hover:bg-emerald-500 hover:text-white bg-white text-emerald-700 rounded-2xl shadow-2xl p-2 md:p-16 border-2 border-white-400 transition duration-300">
              <div class="font-semibold text-xs md:text-sm">CONSULTATION FINISHED</div>
            </div>
          </a>
        </div>
        <div>
          <a href="{%url 'waiting_for_review_ae' %}">
            <div class="hover:bg-emerald-500 hover:text-white bg-white text-emerald-700 rounded-2xl shadow-2xl p-2 md:p-16 border-2 border-white-400 transition duration-300">
              <div class="font-semibold text-xs md:text-sm">WAITING FOR REVIEW</div>
            </div>
          </a>
        </div>
    </div>
    </div>
    <!-- break  -->
    <!-- break  -->
    <div>
        <div class=" grid grid-cols-4 gap-6 uppercase text-center rounded-xl p-8 md:p-14 ">
            <div>
                <a href="{% url 'nursing_station_sopd' %}">
            <div class="hover:bg-slate-600 hover:text-white bg-white text-slate-800 rounded-2xl shadow-2xl p-2 md:p-16 border-2 border-white-400 transition duration-300">
              <div class="font-semibold text-xs md:text-sm">WAITING FOR VITAL SIGNS</div>
            </div>
          </a> 
        </div>
            <div>
                <a href="{% url 'waiting_for_consultation_sopd' %}">
            <div class="hover:bg-slate-600 hover:text-white bg-white text-slate-800 rounded-2xl shadow-2xl p-2 md:p-16 border-2 border-white-400 transition duration-300">
              <div class="font-semibold text-xs md:text-sm">WAITING FOR CONSULTATION</div>
            </div>
          </a> 
        </div>
        <div>
          <a href="{%url 'consultation_finished_sopd' %}">
            <div class="hover:bg-emerald-500 hover:text-white bg-white text-emerald-700 rounded-2xl shadow-2xl p-2 md:p-16 border-2 border-white-400 transition duration-300">
              <div class="font-semibold text-xs md:text-sm">CONSULTATION FINISHED</div>
            </div>
          </a>
        </div>
        <div>
          <a href="{%url 'waiting_for_review_sopd' %}">
            <div class="hover:bg-emerald-500 hover:text-white bg-white text-emerald-700 rounded-2xl shadow-2xl p-2 md:p-16 border-2 border-white-400 transition duration-300">
              <div class="font-semibold text-xs md:text-sm">WAITING FOR REVIEW</div>
            </div>
          </a>
        </div>
    </div>
    </div>
</div>
  <!-- break -->
    <!-- break -->

    </div>
  </div>
</div>
{% endblock %}