{% extends 'base.html' %}
{% load static %}
{% block title %}PATIENT MOVEMENT{% endblock %}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'medical_record' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>PATIENT MOVEMENT</div>{%endblock%}
{% block content %}
              <!-- start -->
              <div class="bg-gray-100 rounded-lg shadow-xl overflow-hidden mt-4 max-w-6xl mx-auto" >
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
                    {%for c in clinics %}
                    <a href="{%url 'clinic_details' c.id %}" class="block">
                        <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                            <div class="p-3 text-center">
                                <h3 class="text-lg font-medium text-gray-900">{{ c.name }}</h3>
                                <p class="text-sm text-gray-500">clinic</p>
                            </div>
                            <div class="bg-gradient-to-r from-green-400 to-blue-500 h-1"></div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
  <!-- break -->
    <!-- break -->
{% endblock %}