{% extends 'base.html' %}
{% load static %}
{%block title%}PATIENT LIST{%endblock%}
{%block page_title%}<div class="flex justify-center">PATIENT LIST</div>{%endblock%}
{%block content %}
<div class="p-1 ">
    <section class="text-center border-emerald-700 p-1 m-1">
        {% for message in messages %}
        <div class="mt-2 ">
          <div class="uk-alert-success rounded-2xl text-xs w-fit mx-auto" uk-alert>
              <a href class="uk-alert-close font-bold" uk-close></a>
              <p class="text-green-700  uppercase p-4">{{ message }}</p>
          </div>
      </div>
        {% endfor %}
      </section>
    <div class="mx-2 md:mx-20 rounded-b-xl p-2 shadow-black shadow-sm bg-emerald-50">
      <div class="md:flex justify-between grid grid-cols-1">
        <div class="m-2 md:m-2 text-center flex-1">
          <span class="shadow-sm shadow-emerald-700 gap-4 bg-emerald-700 text-white uppercase text-xs border-b-2 border-emerald-900 py-2 px-2 rounded-xl mx-2 w-fit">
            <span class=" shadow-white text-xs p-1 rounded-full bg-white text-emerald-900">{{total_patient}}</span>&nbsp;patients registered
                    </span>
                </div>
                {% if request.GET.q %}
                <span class="gap-4  text-blue-600 uppercase text-xs font-medium rounded-xl w-fit m-3">
                 <span class="text-sm rounded-full bg-white text-blue-600 font-medium border border-blue-600 p-2">{{ search_count }}</span>&nbsp;{%if search_count <= 1 %}patient {%else%} patients {% endif %}match your search
                        <a href="?" class=" p-2 focus:opacity-10  focus:border-emerald-600 bg-orange-500 text-white rounded shadow-lg hover:shadow-sm text-center w-fit">
                            <i class="fa-solid fa-rotate fa-lg text-white"></i></a>
                        </span>
                        {%endif%}
                <div class="m-2 text-emerald-900 text-center flex-1">
                  <form method="get" class="text-xs text-center">
                    <div class="text-center">
                      <input type="field.field.widget.input_type" name="q" placeholder="Search by: Name, File No, Phone No, or Title"
                             class="md:text-center text-xs focus:outline-none w-1/3 md:w-1/2 text-emerald-950 p-2
                                    rounded shadow-sm shadow-emerald-900 border-emerald-900 border"
                             value="{{query|default:''}}">
                      <button type="submit" class="shadow-sm shadow-emerald-700 w-fit p-2 focus:opacity-10 uppercase border-gray-500 focus:border-emerald-600 bg-emerald-700 text-white rounded hover:border-emerald-700 ">
                        <i class="fa-solid fa-search fa-xl "></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
      <div class="overflow-x-auto p-2 m-1 uppercase">
        <table class="min-w-full divide-y divide-emerald-200">
          <thead class="bg-emerald-50">
            <tr class="text-xs text-left">
                <th class="p-2  text-emerald-500 uppercase tracking-wider">
                    #
                </th>
              <th class="p-2  text-emerald-500 uppercase tracking-wider">
                FILE NO
              </th>
              <th class="p-2 text-emerald-500 uppercase tracking-wider">
                NAME
              </th>
              <th class="p-2  text-emerald-500 uppercase tracking-wider">
                PHONE
              </th>
              <th class="p-2  text-emerald-500 uppercase tracking-wider">
                GENDER
              </th>
              <th class="p-2  text-emerald-500 uppercase tracking-wider">
                AGE
              </th>
              <th class="p-2  text-emerald-500 uppercase tracking-wider text-left">
                NEXT OF KIN INFORMATION
              </th>
              <th class="p-2  text-emerald-500 uppercase tracking-wider">
                DATE REGISTERED
              </th>
              <th class="p-2 text-emerald-500 uppercase tracking-wider">
                EDIT
              </th>
              <th class="p-2 text-emerald-500 uppercase tracking-wider">
                VISIT
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-emerald-200">
            {% for p in patients %}
            <tr class="text-xs bg-emerald-100 hover:bg-emerald-200 transition-colors duration-300">
                <td class="p-2 whitespace-nowrap">
                    {{forloop.counter}}
                </td>
                <td class="p-2 whitespace-nowrap">
                  {{ p.file_no|default_if_none:'N/A' }}
                </td>
              <td class="p-2 whitespace-nowrap">
                <a href="{{p.get_absolute_url}}" class="text-blue-500 hover:text-blue-700">
                {{ p.full_name|default_if_none:'N/A' }}
                </a>
              </td>
              <td class="p-2 whitespace-nowrap">
                {{ p.phone|default_if_none:'N/A' }}
              </td>
              <td class="p-2 whitespace-nowrap">
                {{ p.gender|default_if_none:'N/A' }}
              </td>
              <td class="p-2 whitespace-nowrap">
                {{ p.age|default_if_none:'N/A' }}
              </td>
              <td class="p-2 whitespace-nowrap text-left normal-case">
                Name: <span class="m-2 uppercase font-medium text-blue-500">{{ p.nok_name|default_if_none:'N/A' }}</span> <br>
                Phone: <span class="m-2 uppercase font-medium text-blue-500">{{ p.nok_phone|default_if_none:'N/A' }} </span><br>
                Relationship: <span class="uppercase font-medium text-blue-500">{{ p.nok_rel|default_if_none:'N/A' }}</span>
              </td>
              <td class="p-2 whitespace-nowrap">
                {{ p.updated }}
              </td>
            <td class="p-2 whitespace-nowrap">
                <span class="space-x-4">
                    <a href="{% url 'update_patient' p.pk %}" class="text-blue-500 hover:text-blue-700"><i class="fa-solid fa-pen-nib fa-xl"></i></a>
                </span>
              </td>
              <td class="p-2 whitespace-nowrap">
                <span class="space-x-4">
                  <a href="{% url 'visit_record' p.file_no %}" class="text-emerald-500 hover:text-emerald-700"><i class="fa-solid fa-plus-circle fa-xl"></i></a>
              </span>
              </td>
            </tr>
            
            {% empty %}
            <tr class="bg-white">
              <td colspan="10" class="p-2 text-center text-emerald-500">
                No patients found
              </td>
            </tr>
            {% endfor %}
            <tr class="">
              <td colspan="10" class="p-1 text-center">        
          <div class="pagination flex justify-center">
              <span class="flex items-center">
                  {% if page_obj.has_previous %}
                  <a href="?page=1" class="p-1 rounded-lg bg-emerald-600 text-white mr-2"><i class="fa-solid fa-angle-double-left fa-md"></i></a>
                  <a href="?page={{page_obj.previous_page_number}}" class="p-1 rounded-lg bg-emerald-600 text-white"><i class="fa-solid fa-angle-left fa-md"></i></a>
                  {% endif %}
              </span>
                  <span class="flex item-center"> 
                      {% if page_obj.has_next %}
                      <a href="?page={{page_obj.next_page_number}}" class="p-1 rounded-lg bg-emerald-600 text-white mr-2"><i class="fa-solid fa-angle-right fa-md"></i></a>
                      <a href="?page={{page_obj.paginator.num_pages}}" class="p-1 rounded-lg bg-emerald-600 text-white"><i class="fa-solid fa-angle-double-right fa-md"></i></a>
                      {% endif %}
                  </span>
              </div>
          </td>
        </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{%endblock%}