{%extends "base.html" %}
{% block title %}PATIENT FOLDER{% endblock%}
{%block page_title%}<div class="enom flex justify-center">{{patient.full_name}} FOLDER</div>{%endblock%}
{% block content %}
<div class="p-2">
  <section class="max-w-xl mx-auto text-center border-cyan-700 p-4 m-1">
      {% for message in messages %}
      <div class="">
        <div class="bg-green-100 rounded-2xl text-sm p-4" uk-alert>
          <a href class="uk-alert-close font-bold" uk-close></a>
          <p class="text-green-700 font-semibold">{{ message }}</p>
        </div>
      </div>
      {% endfor %}
    </section>

<div class="md:mx-20 bg-white rounded-xl shadow-black shadow-2xl">
  <div class="text-center rounded-xl md:p-10 bg-gray-50 uppercase">
<!-- start -->
<!-- top  -->

    <ul class="text-cyan-700 uk-subnav uk-subnav-pill uppercase flex justify-center gap-4 border-b-2 mb-10" uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
      <li><a href="#" class="rounded-lg m-4">BIODATA</a></li>
      <li><a href="#" class="rounded-lg ">PAYMENT</a></li>
      <li><a href="#" class="rounded-lg ">VITAL SIGNS</a></li>
      <li><a href="#" class="rounded-lg ">CLINICAL NOTES</a></li>
      <li><a href="#" class="rounded-lg ">LAB INVESTIGATIONS</a></li>
      <li><a href="#" class="rounded-lg ">PRESCRIPTION</a></li>
      <li><a href="#" class="rounded-lg ">RADIOLOGY</a></li>
      <li><a href="#" class="rounded-lg ">PHYSIO</a></li>
      <li><a href="#" class="rounded-lg ">ADMISSION</a></li>
      <li><a href="#" class="rounded-lg ">THEATRE</a></li>
      <li><a href="#" class="rounded-lg ">ICU</a></li>
    </ul>
<!-- top end  -->
    <div class="uk-switcher uk-margin">
      <!-- break -->
      <div class=""> 
        <div class="overflow-x-auto px-4 md:px-10 m-4">
          <table class="min-w-full divide-y divide-cyan-200 mb-4">
              <thead class="bg-cyan-50">
              <tr class="txet-sm">
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">FILE NUMBER</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">NAME</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">AGE</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">GENDER</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">PHONE</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">OCCUPATION</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">MARITAL STATUS</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">RELIGION</th>
                <!-- <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">TRIBE</th> -->
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">ADDRESS</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">NEXT OF KIN</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">RELATIONSHIP WITH NEXT OF KIN</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">NEXT OF KIN PHONE</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">NEXT OF KIN ADDRESS</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-cyan-200">
              <tr class="bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300 text-xs">
                <td class="px-6 py-4">{{ patient.file_no|default_if_none:''|upper}}</td>
                <td class="px-6 py-4">{{ patient.full_name|default_if_none:''|upper}}</td>
                <td class="px-6 py-4">{{ patient.age|default_if_none:''|upper }}</td>
                <td class="px-6 py-4">{{ patient.gender|default_if_none:''|upper }}</td>
                <td class="px-6 py-4">{{ patient.phone|default_if_none:''|upper }}</td>
                <td class="px-6 py-4">{{ patient.occupation|default_if_none:''|upper }}</td>
                <td class="px-6 py-4">{{ patient.marital_status|default_if_none:''|upper }}</td>
                <td class="px-6 py-4">{{ patient.religion|default_if_none:''|upper }}</td>
                <!-- <td class="px-6 py-4">{{ patient.tribe|default_if_none:''|upper }}</td> -->
                <td class="px-6 py-4">{{ patient.address|default_if_none:''|upper }}</td>
                <td class="px-6 py-4">{{ patient.nok_name|default_if_none:''|upper }}</td>
                <td class="px-6 py-4">{{ patient.nok_rel|default_if_none:''|upper }}</td>
                <td class="px-6 py-4">{{ patient.nok_phone|default_if_none:''|upper }}</td>
                <td class="px-6 py-4">{{ patient.nok_addr|default_if_none:''|upper }}</td>
                
              </tr>
            </tbody>
          </table>
        </div>
     </div>
    <!-- break -->
      <!-- break -->
      <div> 
        <div class="overflow-x-auto px-4 md:px-10 m-4">
          <table class="min-w-full divide-y divide-cyan-200 mb-4">
            <thead class="bg-cyan-50">
              <tr class="text-sm">
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">SERVICE</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">PRICE</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">PAYMENT STATUS</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-cyan-200">
              {%for p in payments %}
              <tr class="uppercase bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300 text-xs ">
                <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ p.service }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-green-700">&#x20A6;{{ p.price }}</td>
                {% if p.status == False %}
                <td class="px-6 py-4 whitespace-nowrap text-red-700">
              <i class="fa-solid fa-x text-red-700 fa-2xl"></i>
                </td>
            {% else %}
                <td class="px-6 py-4 whitespace-nowrap text-green-700">
                 <i class="fa-solid fa-thumbs-up fa-2xl"></i>
               </td>
            {% endif %}
              </tr>
              {%empty%}
              <div class="p-4">
                  <p>No payments found yet</p>
              </div>
             {%endfor%}
            </tbody>
          </table>
        </div>
     </div>
    <!-- break -->
      <!-- break -->
      <div> 
        <div>
        <a href="{%url 'vital_signs' patient.file_no%}" class="text-sm text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
      </div>     
        <div class="overflow-x-auto px-4 md:px-10 m-4">
          <table class="min-w-full divide-y divide-cyan-200 mb-4">
            <thead class="bg-cyan-50">
              <tr class="text-sm">
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">body temperature</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">pulse rate</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">respiration rate</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">blood pressure</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">blood oxygen</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">blood glucose</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">height</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">weight</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">date</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-cyan-200">
              {%for v in vitals %}
              <tr class="text-xs bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300">
                <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ v.body_temperature }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ v.pulse_rate }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ v.respiration_rate }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ v.blood_pressure }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ v.blood_oxygen }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ v.blood_glucose }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ v.weight }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ v.height }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ v.updated }}</td>
              </tr>
              {%empty%}
              <div class="p-4">
                  <p>No vital signs yet</p>
              </div>
         {%endfor%}
            </tbody>
          </table>
        </div>
     </div>
    <!-- break -->
      <!-- break -->
      <div> 
        <div>
        <a href="{%url 'clinical_note' patient.file_no%}" class="text-sm text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
      </div>     

        <div class="overflow-x-auto px-4 md:px-10 m-4">
          <table class="min-w-full divide-y divide-cyan-200 mb-4">
            <thead class="bg-cyan-50">
              <tr class="text-sm">
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">DOCTOR</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">NOTE</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">DIAGNOSIS</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">APPOINTMENT</th>
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">DATE CONSULTED</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-cyan-200">
              {% for c in clinical_notes %}
              <tr class="text-xs bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300">
                <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ c.user }}</td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <details>
                    <summary class="bg-blue-600 p-2 text-white rounded-lg text-center">NOTE</summary>
                    <div class="bg-white text-blue-600 h-fit text-xs well-sm overflow-x-auto rounded-md m-4">
                      <p class="text-xs text-center">{{ c.note.html|safe }}</p>
                    </div>
                  </details>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">{{ c.diagnosis|default_if_none:'' }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ c.appointment|default_if_none:'' }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ c.updated }}</td>
              </tr>
              {%empty%}
              <div class="p-4">
                  <p>No clinical notes yet</p>
              </div>
         {%endfor%}
            </tbody>
          </table>
        </div>
     </div>
    <!-- break -->
      <!-- break -->
      <div> 
        <div class="max-w-7xl mx-auto bg-white rounded-xl shadow-black shadow-2xl">
          <div class="text-center rounded-xl p-4 md:p-10 bg-gray-50">
            <ul class="uk-subnav uk-subnav-pill uppercase flex justify-center gap-4 " uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
              <li ><a href="#" class="rounded-lg ">HEMATOLOGY</a></li>
              <li class=><a href="#" class="rounded-lg ">MICROBIOLOGY</a></li>
              <li><a href="#" class="rounded-lg ">CHEMICAL PATHOLOGY</a></li>
              <li><a href="#" class="rounded-lg ">SEROLOGY</a></li>
              <li><a href="#" class="rounded-lg ">GENERAL</a></li>
            </ul>
            
            <div class="uk-switcher uk-margin">
              <div> 
            
                <div >
                <a href="{% url 'pathology:hematology_test' patient.file_no %}" class="text-sm text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
                </div>
             
                <div class="overflow-x-auto px-4 md:px-10 m-4">
                  <table class="min-w-full divide-y divide-cyan-200 mb-4">
                    <thead class="bg-cyan-50">
                      <tr class="text-sm">
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Test</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Date Collected</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Result</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Comment</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Date Reported</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Actions</th>
                      </tr>
            
                    </thead>
                    <tbody class="bg-white divide-y divide-cyan-200">
                      {% for h in hematology_results %}
                      <tr class="text-xs bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300">
                        <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ h.test|default_if_none:''}}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ h.collected|default_if_none:'' }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ h.result.html|safe }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ h.comment|default_if_none:'' }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ h.reported|default_if_none:'' }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <a href="{% url 'pathology:hematology_result' h.patient.file_no h.id %}" class="text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
                        </td>
                      </tr>
                      {%empty%}
                      <div class="p-4">
                          <p>No hematology test and result yet</p>
                      </div>
                     {%endfor%}
                    </tbody>
                  </table>
                </div>
             </div>
            
              <div>
                <div>
                  <a href="{% url 'pathology:micro_test' patient.file_no %}" class="text-sm text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
                </div>
                <div class="overflow-x-auto px-4 md:px-10 m-4">
                  <table class="min-w-full divide-y divide-cyan-200 mb-4">
                    <thead class="bg-cyan-50">
                      <tr class="text-sm">
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Test</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Date Collected</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Result</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Comment</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Date Reported</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Actions</th>
                      </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-cyan-200">
                      {% for m in micro_results %}
                      <tr class="text-xs bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300">
                        <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ m.test|default_if_none:''}}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ m.collected|default_if_none:'' }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ m.result|default_if_none:'' }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ m.comment|default_if_none:'' }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ m.reported|default_if_none:'' }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <a href="{% url 'pathology:micro_result' m.patient.file_no m.id %}" class="text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
                        </td>
                      </tr>
                      {%empty%}
                      <div class="p-4">
                          <p>No microbiology test and result yet</p>
                      </div>
                     {%endfor%}
                    </tbody>
                  </table>
                </div>
            
              </div>
            
            
              <div>
                <div>
                  <a href="{% url 'pathology:chempath_test' patient.file_no %}" class="text-sm text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
                </div>
                <div class="overflow-x-auto px-4 md:px-10 m-4">
                  <table class="min-w-full divide-y divide-cyan-200 mb-4">
                    <thead class="bg-cyan-50">
            
                      <tr class="text-sm">
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Test</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Date Collected</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Result</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Comment</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Date Reported</th>
                        <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Actions</th>
                      </tr>
            
                    </thead>
                    <tbody class="bg-white divide-y divide-cyan-200">
                      {% for c in chempath_results %}
                      <tr class="text-xs bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300">
                        <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ c.test|default_if_none:''}}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ c.collected|default_if_none:'' }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ c.result|default_if_none:'' }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ c.comment|default_if_none:'' }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ c.reported|default_if_none:'' }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <a href="{% url 'pathology:chempath_result' c.patient.file_no c.id %}" class="text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
                        </td>
                      </tr>
                      {%empty%}
                      <div class="p-4">
                          <p>No chemical pathology test and result yet</p>
                      </div>
                     {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            
              <div>
                <div>
                  <a href="{% url 'pathology:serology_test' patient.file_no %}" class="text-sm text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
                      </div>
                      <div class="overflow-x-auto px-4 md:px-10 m-4">    
                        <table class="min-w-full divide-y divide-cyan-200 mb-4">
                          <thead class="bg-cyan-50">
                            <tr class="text-sm">
                              <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
                              <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Test</th>
                              <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Reference Range</th>
                              <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Date Collected</th>
                              <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Result</th>
                              <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Comment</th>
                              <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Date Reported</th>
                              <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="bg-white divide-y divide-cyan-200">
                            {% for s in serology_results %}
                            <tr class="text-xs bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300">
                              <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
                              <td class="px-6 py-4 whitespace-nowrap">{{ s.test.name|default_if_none:''}}</td>
                              <td class="px-6 py-4 whitespace-nowrap">{{ s.test.reference_range|default_if_none:''}}</td>
                              <td class="px-6 py-4 whitespace-nowrap">{{ s.collected|default_if_none:'' }}</td>
                              <td class="px-6 py-4 whitespace-nowrap">{{ s.result|default_if_none:'' }}</td>
                              <td class="px-6 py-4 whitespace-nowrap">{{ s.comments|default_if_none:'' }}</td>
                              <td class="px-6 py-4 whitespace-nowrap">{{ s.reported|default_if_none:'' }}</td>
                              <td class="px-6 py-4 whitespace-nowrap">
                                <a href="{% url 'pathology:serology_result' s.id %}" class="text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
                                </td>
                            </tr>
                            {%empty%}
                            <div class="p-4">
                                <p>No serology test and result yet</p>
                            </div>
                           {%endfor%}
                          </tbody>
                        </table>
                      </div>          
              </div>
            
            
              <div>
                <div>
                  <a href="{% url 'pathology:general_test' patient.file_no %}" class="text-sm text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
                  </div>
                  <div class="overflow-x-auto px-4 md:px-10 m-4">
                    <table class="min-w-full divide-y divide-cyan-200 mb-4">
                      <thead class="bg-cyan-50">
                        <tr class="text-sm">
                          <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
                          <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Test</th>
                          <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Date Collected</th>
                          <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Result</th>
                          <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Comment</th>
                          <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Date Reported</th>
                          <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">Actions</th>
                        </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-cyan-200">
                        {% for g in general_results %}
                        <tr class="text-xs bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300">
                          <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
                          <td class="px-6 py-4 whitespace-nowrap">{{ g.name|default_if_none:''}}</td>
                          <td class="px-6 py-4 whitespace-nowrap">{{ g.collected|default_if_none:'' }}</td>
                          <td class="px-6 py-4 whitespace-nowrap">{{ g.result|default_if_none:'' }}</td>
                          <td class="px-6 py-4 whitespace-nowrap">{{ g.comment|default_if_none:'' }}</td>
                          <td class="px-6 py-4 whitespace-nowrap">{{ g.reported|default_if_none:'' }}</td>
                          <td class="px-6 py-4 whitespace-nowrap">
                            <a href="{% url 'pathology:general_result' g.patient.file_no g.id %}" class="text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
                          </td>
                        </tr>
                        {%empty%}
                        <div class="p-4">
                            <p>No general test and result yet</p>
                        </div>
                       {%endfor%}
                      </tbody>
                    </table>
                  </div>
              </div>        
            </div>
      
      </div>
      </div>     </div>
    <!-- break -->
      <!-- break -->
      <div> 
        <div>    
        <!-- Dispensary Form Section -->
        <a href="{% url 'pharm:add_prescription' patient.file_no %}" class="text-sm text-green-600 hover:text-green-700"><i class="fa-solid fa-prescriptiong fa-2xl"></i></a>

      </div>     
        <div class="overflow-x-auto px-4 md:px-10 m-4">
          <table class="min-w-full divide-y divide-cyan-200 mb-4">
            <thead class="bg-cyan-50">
              <tr class="text-sm">
                <th class="px-6 py-3 text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
                <th class="px-6 py-3 text-xs font-medium text-cyan-500 uppercase tracking-wider">Prescribed Drugs</th>
                <th class="px-6 py-3 text-xs font-medium text-cyan-500 uppercase tracking-wider">Date Prescribed</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-cyan-200">
              {% for p in prescribed_drugs %}
              <tr class="text-xs bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300">
                <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ p.drug|default_if_none:''}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ p.quantity|default_if_none:''}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ p.updated}}</td>
              </tr>
              {%empty%}
              <div class="p-4">
                  <p>No prescriptions yet</p>
              </div>
             {%endfor%}
          </tbody>
          </table>
        </div>
     </div>
    <!-- break -->
      <!-- break -->

      <div> 
        <div>
        <a href="#" class="text-sm text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
      </div>     
        <div class="overflow-x-auto px-4 md:px-10 m-4">
          <table class="min-w-full divide-y divide-cyan-200 mb-4">
            <thead class="bg-cyan-50">
              <tr class="text-sm">
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-cyan-200">
              
              <tr class="text-xs bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300">
                <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
              </tr>

            </tbody>
          </table>
        </div>
     </div>
    <!-- break -->
      <!-- break -->
      <div> 
        <div>
        <a href="#" class="text-sm text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
      </div>     
        <div class="overflow-x-auto px-4 md:px-10 m-4">
          <table class="min-w-full divide-y divide-cyan-200 mb-4">
            <thead class="bg-cyan-50">
              <tr class="text-sm">
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-cyan-200">
              
              <tr class="text-xs uppercase bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300">
                <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
              </tr>

            </tbody>
          </table>
        </div>
     </div>
    <!-- break -->
      <!-- break -->
      <div> 
        <div>
        <a href="#" class="text-sm text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
      </div>     
        <div class="overflow-x-auto px-4 md:px-10 m-4">
          <table class="min-w-full divide-y divide-cyan-200 mb-4 uppercase">
            <thead class="bg-cyan-50">
              <tr class="text-sm">
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-cyan-200">
              
              <tr class="text-xs bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300">
                <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
              </tr>

            </tbody>
          </table>
        </div>
     </div>
    <!-- break -->
      <!-- break -->
      <div> 
        <div>
        <a href="#" class="text-sm text-green-600 hover:text-green-700"><i class="fa-solid fa-plus-square fa-2xl"></i></a>
      </div>     
        <div class="overflow-x-auto px-4 md:px-10 m-4">
          <table class="min-w-full divide-y divide-cyan-200 mb-4">
            <thead class="bg-cyan-50">
              <tr class="text-sm">
                <th class="px-6 py-3  text-xs font-medium text-cyan-500 uppercase tracking-wider">#</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-cyan-200">
              
              <tr class="text-xs bg-cyan-100 hover:bg-cyan-200 transition-colors duration-300">
                <td class="px-6 py-4 whitespace-nowrap">{{ forloop.counter }}</td>
              </tr>

            </tbody>
          </table>
        </div>
     </div>

    <!-- break -->
<!-- end  -->
  </div>
</div>
{% endblock %}
