{% extends 'base.html' %}
{% load static %}
{%block title%}PATIENT LIST{%endblock%}
{%block page_title%}<div class="flex justify-center"><a href="{%url 'medical_record' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>PATIENT LIST</div>{%endblock%}
{%block content %}
<div class="p-1 ">
    <section class="text-center border-emerald-700 p-1 m-1">
        {% for message in messages %}
        <div class="mt-2 ">
          <div class="uk-alert-success rounded-2xl text-sm w-fit mx-auto" uk-alert>
              <a href class="uk-alert-close font-bold" uk-close></a>
              <p class="text-green-700  uppercase p-4">{{ message }}</p>
          </div>
      </div>
        {% endfor %}
      </section>
    <div class="mx-2 md:mx-20 rounded-xl p-2 shadow-black shadow-sm bg-emerald-50">
        <div class="m-2 md:m-2 text-center">
            <span class="shadow-sm shadow-emerald-700 gap-4 bg-emerald-700 text-white uppercase text-xs md:text:md border-b-2 border-emerald-900 py-2 px-2 rounded-xl mx-2 w-fit">
                <span class=" shadow-white md:text-sm text-xs p-1 rounded-full bg-white text-emerald-900">{{total_patient}}</span>&nbsp;patients registered
                    {% if request.GET.urlencode %}
                    <span class="p-2">
                        <a href="?" class=" p-2 focus:opacity-10  focus:border-emerald-600 bg-orange-500 text-white rounded shadow-lg hover:shadow-sm text-center w-fit ">
                            <i class="fa-solid fa-rotate fa-lg text-white"></i></a>
                        </span>
                        {%endif%}
                    </span>
                </div>
      <div class="text-emerald-900 text-center flex justify-center">
        <form method="get" class="text-xs text-center">
            <div class="text-center">
                {% for field in patientFilter.form %}
                <!-- <label for="{{field.id_for_label}}" class="inline">{{ field.label_tag }}</label> -->
                <input type="field.field.widget.input_type" name="{{field.name}}" placeholder="{{field.name}}"
                class="md:text-center text-xs uppercase focus:outline-none w-1/3 md:w-fit text-emerald-950 p-2
                rounded shadow-sm shadow-emerald-900 border-emerald-900 border"
                {%if field.value%} value="{{field.value}}"{%endif%}> 
                {% endfor %}
                <button type="submit" class="shadow-sm shadow-emerald-700 w-fit p-2 focus:opacity-10 uppercase border-gray-500 focus:border-emerald-600 bg-emerald-700 text-white rounded hover:border-emerald-700 ">
                    <i class="fa-solid fa-search fa-xl "></i>
                </button>
            </div>
        </form>
    </div>
      <div class="overflow-x-auto p-2 m-1 uppercase">
        <table class="min-w-full divide-y divide-emerald-200">
          <thead class="bg-emerald-50">
            <tr class="text-xs">
                <th class="p-3 text-center text-emerald-500 uppercase tracking-wider">
                    #
                </th>
              <th class="p-3 text-center text-emerald-500 uppercase tracking-wider">
                FILE NUMBER
              </th>
              <th class="p-3 text-center text-emerald-500 uppercase tracking-wider">
                NAME
              </th>
              <th class="p-3 text-center text-emerald-500 uppercase tracking-wider">
                PHONE
              </th>
              <th class="p-3 text-center text-emerald-500 uppercase tracking-wider">
                AGE
              </th>
              <th class="p-3 text-center text-emerald-500 uppercase tracking-wider">
                NEXT OF KIN
              </th>
              <th class="p-3 text-center text-emerald-500 uppercase tracking-wider">
                NEXT OF KIN PHONE
              </th>
              <th class="p-3 text-center text-emerald-500 uppercase tracking-wider">
                RELATIONSHIP
              </th>
              <th class="p-3 text-center text-emerald-500 uppercase tracking-wider">
                DATE REGISTERED
              </th>
              <th class="p-3 text-center text-emerald-500 uppercase tracking-wider">
                EDIT
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-emerald-200">
            {% for p in patients %}
            <tr class="text-xs bg-emerald-100 hover:bg-emerald-200 transition-colors duration-300">
                <td class="p-3 whitespace-nowrap">
                    {{forloop.counter}}
                </td>
                <td class="p-3 whitespace-nowrap">
                  {{ p.file_no|default_if_none:'N/A' }}
                </td>
              <td class="p-3 whitespace-nowrap">
                <a href="{{p.get_absolute_url}}" class="text-blue-500 hover:text-blue-700">
                {{ p.full_name|default_if_none:'N/A' }}
                </a>
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ p.phone|default_if_none:'N/A' }}
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ p.age|default_if_none:'N/A' }}
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ p.nok_name|default_if_none:'N/A' }}
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ p.nok_phone|default_if_none:'N/A' }}
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ p.nok_rel|default_if_none:'N/A' }}
              </td>
              <td class="p-3 whitespace-nowrap">
                {{ p.updated }}
              </td>
            <td class="p-3 whitespace-nowrap">
                <span class="space-x-4">
                    <a href="{% url 'update_patient' p.pk %}" class="text-blue-500 hover:text-blue-700"><i class="fa-solid fa-pen-nib "></i></a>
                </span>
              </td>
            </tr>
            
            {% empty %}
            <tr class="bg-white">
              <td colspan="2" class="p-3 text-center text-emerald-500">
                No patients found
              </td>
            </tr>
            {% endfor %}
            <tr class="">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="p-1 text-left">        
          <div class="pagination flex justify-center">
              <span class="flex items-center">
                  {% if page_obj.has_previous %}
                  <a href="?page=1" class="p-1 rounded-lg bg-amber-600 text-white mr-2"><i class="fa-solid fa-angle-double-left fa-md"></i></a>
                  <a href="?page={{page_obj.previous_page_number}}" class="p-1 rounded-lg bg-amber-600 text-white"><i class="fa-solid fa-angle-left fa-md"></i></a>
                  {% endif %}
              </span>
                  <span class="flex item-center"> 
                      {% if page_obj.has_next %}
                      <a href="?page={{page_obj.next_page_number}}" class="p-1 rounded-lg bg-amber-600 text-white mr-2"><i class="fa-solid fa-angle-right fa-md"></i></a>
                      <a href="?page={{page_obj.paginator.num_pages}}" class="p-1 rounded-lg bg-amber-600 text-white"><i class="fa-solid fa-angle-double-right fa-md"></i></a>
                      {% endif %}
                  </span>
              </div>
          </td>
          <td></td>
          <td></td>
        </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{%endblock%}