{% extends 'base.html' %}
{%load static %}
{% block content %}
<div class="mt-5 p-4">
  <div class="max-w-6xl mx-auto rounded-xl p-4 shadow-black shadow-2xl bg-emerald-50">
  <div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-emerald-500">
    <thead class="bg-emerald-100">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">S/N</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">FILE NUMBER</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
          PATIENT NAME
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-emerald-500 uppercase tracking-wider">
          PHONE NUMBER
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-emerald-200">
      {% for h in handovers %}
      <tr class="bg-emerald-50 hover:bg-emerald-200 transition-colors duration-300">
        <td class="px-6 py-4 whitespace-nowrap">
          {{forloop.counter}}
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        {{ h.patient.file_no|default_if_none:'' }}
      </td>
        <td class="px-6 py-4 whitespace-nowrap">
          {{ h.patient.full_name|default_if_none:'' }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          {{ h.patient.phone|default_if_none:'' }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
{% endblock %}