{%extends "base.html" %}
<h1>Stats</h1>
{% block title %}stats{% endblock%}
{%block page_title%}
<div class="flex justify-center items-end"><a href="{%url 'medical_record' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>PATIENT PERSONAL STATISTICS</div>
 {%endblock%}

 {% block content %}
<div class="flex md:justify-center justify-start items-center bg-stone-100 shadow-sm shadow-black md:mx-20 mx-2 md:p-8 p-2 md:mt-10 mt-2 rounded-xl">
<div class="grid md:grid-cols-5 md:gap-24 grid-cols-1 gap-4">
<div>
<details> 
    <summary class="bg-cyan-600 p-2 text-white text-center text-sm rounded-md w-fit">GENDER</summary>
    <div class="overflow-x-auto px-1 md:px-10 m-4 uppercase">
    <table class="md:justify-center justify-start table-auto m-2 max-sm:flex p-2">
        <tbody class="uppercase text-xs rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-cyan-600 bg-white">
            <tr class=" text-xs">
              {%for g in gender_counts %}
            <th scope="col" class="border-2 p-2 ">{{g.gender}}</th>
            <th class="border-2 p-2 text-center">{{g.pc}}</th>
            {% endfor %}
          </tr>
        </tbody>
    </table>
    </div>
</details>
</div>
<div>
    <details>
        <summary class="bg-blue-600 p-2 text-white text-sm rounded-md w-fit text-center">GEO-POLITICAL ZONE</summary>
        <div class="overflow-x-auto px-4 md:px-10 m-4 uppercase">
    <table class="md:justify-center justify-start table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-xs rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-blue-700 bg-white">
            <tr class=" text-xs">
            {%for gz in geo_counts %}
            <th scope="col" class="border-2 p-2 ">{{gz.zone}}</th>
            <td class="border-2 p-2 text-center">{{gz.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </div>
    </details>
</div>

<div>
    <details>
        <summary class=" bg-amber-600 p-2 text-white  text-sm rounded-md w-fit text-center">STATE OF ORIGIN</summary>
        <div class="overflow-x-auto px-4 md:px-10 m-4 uppercase">
            <table class="md:justify-center justify-start table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-xs rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-amber-600 bg-white">
            <tr class=" text-xs">
                {%for s in state_counts %}
            <th scope="col" class="border-2 p-2 ">{{s.state}}</th>
            <td class="border-2 p-2 text-center">{{s.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </div>
    </details>
</div>

<div>
    <details>
        <summary class=" bg-cyan-800 p-2 text-white  text-sm rounded-md w-fit text-center">LGA</summary>
        <div class="overflow-x-auto px-4 md:px-10 m-4 uppercase">
    <table class="md:justify-center justify-start table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-xs rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-cyan-800 bg-white">
            <tr class=" text-xs">
                {%for l in lga_counts%}
            <th scope="col" class="border-2 p-2 ">{{l.lga}}</th>
            <td class="border-2 p-2 text-center">{{l.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </div>
    </details>    
</div>

<div>
    <details>
        <summary class=" bg-teal-400 p-2 text-white  text-sm rounded-md w-fit text-center">RELIGION</summary>
        <div class="overflow-x-auto px-4 md:px-10 m-4 uppercase">
        <table class="md:justify-center justify-start table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-xs rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-teal-400 bg-white">
            <tr class=" text-xs">
                {%for r in religion_counts %}
            <th scope="col" class="border-2 p-2 ">{{r.religion}}</th>
            <td class="border-2 p-2 text-center">{{r.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </div>
</details>    
</div>

<div>
    <details>
        <summary class=" bg-orange-500 p-2 text-white  text-sm rounded-md w-fit text-center">MARITAL STATUS</summary>
        <div class="overflow-x-auto px-4 md:px-10 m-4 uppercase">
        <table class="md:justify-center justify-start table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-xs rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-orange-500 bg-white">
            <tr class=" text-xs">
            {%for m in marital_status_counts %}
            <th scope="col" class="border-2 p-2 ">{{m.marital_status}}</th>
            <td class="border-2 p-2 text-center">{{m.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </div>
</details>    
</div>

<div>
    <details>
        <summary class=" bg-green-500 p-2 text-white  text-sm rounded-md w-fit text-center">NATIONALITY</summary>
        <div class="overflow-x-auto px-4 md:px-10 m-4 uppercase">
        <table class="md:justify-center justify-start table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-xs rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-green-500 bg-white">
            <tr class=" text-xs">
                {%for n in nationality_counts %}
            <th scope="col" class="border-2 p-2 ">{{n.nationality}}</th>
            <td class="border-2 p-2 text-center">{{n.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </div>
</details>    
</div>

<div>
    <details>
        <summary class=" bg-purple-600 p-2 text-white  text-sm rounded-md w-fit text-center">OCCUPATION</summary>
        <div class="overflow-x-auto px-4 md:px-10 m-4 uppercase">
            <table class="md:justify-center justify-start table-auto  m-2 max-sm:flex p-2">
                <tbody class="uppercase  text-xs rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-purple-600 bg-white">
                    <tr class=" text-xs">
                {%for c in occupation_counts%}
                <th scope="col" class="border-2 p-2 ">{{c.occupation}}</th>
            <td class="border-2 p-2 text-center">{{c.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
</div>
</details>    
</div>

<div>
    <details>
        <summary class=" bg-red-600 p-2 text-white  text-sm rounded-md w-fit text-center">ROLE IN OCCUPATION</summary>
        <div class="overflow-x-auto px-4 md:px-10 m-4 uppercase">
    <table class="md:justify-center justify-start table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-xs rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-red-600 bg-white">
            <tr class=" text-xs">
                {%for r in role_in_occupation_counts %}
            <th scope="col" class="border-2 p-2 ">{{r.role_in_occupation}}</th>
            <td class="border-2 p-2 text-center">{{r.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </div>
    </details>    
</div>

<div>
    <details>
        <summary class=" bg-teal-600 p-2 text-white  text-sm rounded-md w-fit text-center">ADDRESS</summary>
        <div class="overflow-x-auto px-4 md:px-10 m-4 uppercase">
    <table class="md:justify-center justify-start table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-xs rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-teal-600 bg-white">
            <tr class=" text-xs">
                {%for a in address_counts %}
            <th scope="col" class="border-2 p-2 ">{{a.address}}</th>
            <td class="border-2 p-2 text-center">{{a.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </div>
    </details>    
</div>

</div>
<div>
{% endblock %}