{%extends "base.html" %}
{% load static %}
{% block title %}VISIT FORM{% endblock%}
{%block page_title%}<div class="flex justify-center">HOSPITAL VISIT</div>{%endblock%}
{% block content %}
<div class="mt-10">
  <div class="rounded-xl bg-white mx-auto w-fit py-4 px-20">
      {% if form.errors %}
      <div class="uk-alert-danger block text-xs uppercase text-rose-700 rounded-xl" uk-alert>
          <a href class="uk-alert-close font-bold" uk-close></a>
          <p>{{form.errors}}</p>
      </div>
          {% endif %}
<form method="post" enctype="multipart/form-data" >
  {% csrf_token %}
  <div class="mb-2 uppercase text-cyan-900 px-10">
    <div class="flex justify-start text-center">
      <div class=" grid grid-cols-1 md:flex p-2 gap-6 text-xs">
{% for field in form %}
      <div class="">
          <label for="{{field.id_for_label}}">{{ field.label_tag }}</label>
          {{ field }}
      </div>
      {%endfor%}
  </div>
  </div>

  </div>
  <div class="flex justify-center align-middle">
    <input type="submit" value="send" class="text-xs focus:opacity-10 uppercase focus:border-green-900 hover:bg-white hover:text-green-600 hover:border-2 hover:border-green-600
bg-green-700 text-white py-2 px-4 rounded shadow-lg hover:shadow-xl">
  </div>
  </form>
  </div>
  </div>
{% endblock %}
