{% extends "base.html" %}
{% load static %}
{% block title %}RECORD REPORT{% endblock %}
{%block page_title%}<div class="flex justify-center uppercase"><a href="{%url 'inventory:store_inventory' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>inventory record report</div>{%endblock%}
{% block content %}
<div class="flex justify-center">
    <!-- start of first grid  -->
    <div class="inline-block bottom-2 w-fit mx-20">
        <div class="rounded-xl shadow-2xl bg-amber-500 p-6 text-white">
            <form method="get" class="text-xs">
                {% for field in recordfilter.form %}
                {{field.errors}}
                {% endfor %}
                
                <div class="grid grid-cols-1 md:grid-cols-5 lg:grid-cols-10 gap-2 text-center">
                    {% for field in recordfilter.form %}
                    <div class="flex flex-col space-y-1">
                        <label class="">{{ field.label_tag }}</label>
                        {% if field.field.widget.input_type == 'select' %}
                        {{ field }}
                    {% else %}
                        <input type="{{field.field.widget.input_type}}" name="{{field.name}}"
                               class="text-center text-xs focus:outline-none  text-indigo-800
                                      rounded shadow-sm  border">
                    {% endif %}                    
                        <span class="text-red-500 text-xs">{{ field.errors }}</span>
                    </div>
                    {% endfor %}
                    
                    <div class="mt-6">
                        <button type="submit"
                        class="focus:opacity-10 uppercase focus:border-green-600 bg-gradient-to-r from-green-700 
                        via-green-500 to-green-700 text-white px-6 py-2 rounded shadow-lg hover:shadow-xl">
                        <i class="fa-solid fa-search fa-lg"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    
    <!-- end of first grid -->

    {% if request.GET.urlencode %}
<div class="">
    <div class="flex justify-center m-2 gap-2">
        <a class="text-xl text-white focus:opacity-10 focus:border-zinc-600 bg-green-600 px-4 py-1 rounded shadow-lg hover:shadow-xl text-center"
            href="{% url 'inventory:record_pdf' %}?{{request.GET.urlencode}}">
            <i class="fa-solid fa-file-pdf fa-lg"></i>
        </a>
        <a href="?"
            class="text-xl text-white focus:opacity-10 focus:border-blue-600 bg-white px-4 py-1 rounded shadow-lg hover:shadow-xl text-center">
            <i class="fa-solid fa-rotate fa-lg text-zinc-700"></i>
        </a>
    </div>
   <table class="table-auto max-sm:flex flex rounded-2xl items-center justify-center">
        <tbody class="bg-white border-1 shadow-2xl rounded-2xl max-sm:p-4 p-2 overflow-x-auto border-amber-700">
            <tr class="text-xs bg-amber-500 text-white">
                <th scope="col" class=" p-3">ITEM</th>
                <th scope="col" class=" p-3">DATE ADDED</th>
                <th scope="col" class=" p-3">VENDOR</th>
                <th scope="col" class=" p-3">ISSUED TO</th>
                <th scope="col" class=" p-3">ISSUED BY</th>
                <th scope="col" class=" p-3">QUANITITY</th>
                <th scope="col" class=" p-3">BALANCE</th>
                <th scope="col" class=" p-3">DATE ISSUED</th>
            </tr>
            {% for r in recordfilter.qs %}
        <tr class="text-xs {% cycle 'bg-white hover:bg-amber-200' 'bg-amber-100 hover:bg-amber-200' %} border-b border-amber-700 uppercase">
            <td class="border-1 border-amber-700 p-3 text-center">
                {{r.item|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
                {{r.item.date_added|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
            {{r.item.vendor|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
            {{r.issued_to|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-1 text-center">
            {{r.issued_by|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
            {{r.quantity|default_if_none:''}}
            </td>
            
            <td class="border-1 border-amber-700 p-3 text-center">
            {{r.balance|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
            {{r.date_issued|default_if_none:''}}
            </td>
        </tr> 
        {% empty %}
        {%endfor%} 
        <tr class="">
            <td class="p-3 text-center">        
          <!-- <div class="pagination flex justify-between my-4 ">
            <span class="flex items-center">
                {% if po.has_previous %}
                <a href="?page=1" class="p-2 px-4 rounded-lg bg-amber-500 text-white mr-2"><i class="fa-solid fa-angle-double-left fa-lg"></i></a>
                <a href="?page={{po.has_previous_page_number}}" class="p-2 px-4 rounded-lg bg-amber-500 text-white"><i class="fa-solid fa-angle-left fa-lg"></i></a>
                {% endif %}
            </span>
                <span class="text-sm text-gray-700 m-2 font-semibold">
                    Page {{po.number}} of {{po.paginator.num_pages}}
                </span>
                <span class="flex item-center">
                    {% if po.has_next %}
                    <a href="?page=1{{po.next_page_number}}" class="p-2 px-4 rounded-lg bg-amber-500 text-white mr-2"><i class="fa-solid fa-angle-right fa-lg"></i></a>
                    <a href="?page={{po.paginator.num_pages}}" class="p-2 px-4 rounded-lg bg-amber-500 text-white"><i class="fa-solid fa-angle-double-right fa-lg"></i></a>
                    {% endif %}
                </span>
            </div> -->

        </td>
        </tr>
</tbody>
</table>

</div>
{% endif %}

  <!-- end of second grid  -->
  </div>
{% endblock %}
