{% extends 'base.html' %}
{% load static %}
{% block title %}NURSING DESK{% endblock %}
{% block page_title %}
<div class="flex justify-center uppercase">
    <a href="{% url 'nursing_desks_list' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>
    {{ nursing_desk.clinic.name }} Nusring Desk
</div>
{% endblock %}
{% block content %}
<div class="">
    <section class="max-w-xl mx-auto text-center border-cyan-700 p-1 m-1">
        {% for message in messages %}
        <div class="">
            <div class="uk-alert-success rounded-2xl text-sm w-fit mx-auto" uk-alert>
                <a href class="uk-alert-close font-bold" uk-close></a>
                <p class="text-green-700 font-medium uppercase p-4">{{ message }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
    <form method="get" class="mb-2 flex justify-center">
        <input type="text" name="q" placeholder="Search patients..." value="{{ query|default:'' }}"
               class="p-3 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-xs">
        <button type="submit"
                class="p-3 bg-blue-500 text-white rounded-r hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 text-xs">
                <i class="fa fa-solid fa-search fa-xl"></i>
        </button>
        {% if request.GET.urlencode %}
        <a href="{% url 'nursing_station_detail' nursing_desk.id %}"
           class="p-3 bg-white text-amber-600 rounded-r-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 text-xs">
           <i class="fa-solid fa-rotate fa-xl"></i>
        </a>
        {%endif%}
      </form>
      
    <div class="mx-2 md:mx-20 rounded-b-xl p-4 bg-sky-50 shadow-md">
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-sky-300">
                <thead class="bg-emerald-100 text-emerald-600 text-xs">
                    <tr>
                        <th class="p-2 text-left font-medium uppercase">#</th>
                        <th class="p-2 text-left font-medium uppercase">File Number</th>
                        <th class="p-2 text-left font-medium uppercase">Patient Name</th>
                        <th class="p-2 text-left font-medium uppercase">Phone Number</th>      
                        <th class="p-2 text-left font-medium uppercase">Gender</th>
                        <th class="p-2 text-left font-medium uppercase">Age</th>
                        <th class="p-2 text-left font-medium uppercase">Clinic</th>
                        <th class="p-2 text-left font-medium uppercase">Team</th>
                        <th class="p-2 text-left font-medium uppercase">Room</th>
                        <th class="p-2 text-left font-medium uppercase">Payment</th>
                        <th class="p-2 text-left font-medium uppercase">Process</th>
                        <th class="p-2 text-left font-medium uppercase">Date</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-sky-200">
                    {% for h in visits %}
                    <tr class="text-xs bg-sky-50 hover:bg-sky-200 transition-colors duration-300 uppercase">
                        <td class="p-2 whitespace-nowrap">{{ forloop.counter }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.patient.file_no|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.patient.full_name|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.patient.phone|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.patient.gender|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.patient.age|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.clinic|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.team|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.room|default_if_none:'' }}</td>
                        
                        <td>
                            {% if h.payment.status %}
                            <span class="px-2 inline-flex leading-5 rounded-full bg-green-100 text-green-800">Paid</span>
                            {% else %}
                                <span class="px-2 inline-flex leading-5 rounded-full bg-red-100 text-red-800">Unpaid</span>
                            {% endif %}
                        </td>
                        
                        <!-- Actions column -->
                        <td class="p-2 whitespace-nowrap">
                                {% if h.payment.status %}
                                <a href="{% url 'vital_signs' h.patient.file_no %}" class="text-emerald-500 hover:text-emerald-700">
                                    <i class="fa-solid fa-heartbeat text-base"></i>
                                </a>
                                {% else %}
                                <i class="fa-solid fa-x text-red-700 fa-xl"></i>
                                {% endif %}
                            </td>
                            <td class="p-2 whitespace-nowrap">{{ h.updated}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="p-2 text-center text-xs text-gray-600">No patients waiting at this nursing desk.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>
{% endblock %}