{% extends 'base.html' %}
{% load static %}
{% block title %}NURSING DESKS{% endblock %}
{% block page_title %}
<div class="flex justify-center">
    <a href="{% url 'get_started' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>NURSING DESKS
</div>
{% endblock %}
{% block content %}
<section class="text-center border-cyan-700 p-1 m-1">
    {% for message in messages %}
    <div class="">
        <div class="uk-alert-success rounded-2xl text-sm w-fit mx-auto" uk-alert>
            <a href class="uk-alert-close font-bold" uk-close></a>
            <p class="text-green-700 uppercase p-2">{{ message }}</p>
        </div>
    </div>
    {% endfor %}
</section>
<div class="md:mx-20 mx-2">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 uppercase text-center rounded-xl p-8 bg-zinc-200">
        {% for desk in nursing_desks %}
        <div>
            <a href="{% url 'nursing_station_detail' desk.id %}">
                <div class="hover:bg-slate-600 hover:text-white bg-white text-slate-800 rounded-2xl shadow-2xl p-4 md:p-8 border-2 border-white-400 transition duration-300">
                    <div class="text-xs">{{ desk.clinic.name }}</div>
                    <div class="text-sm mt-2">Patients waiting: {{ desk.patient_count }}</div>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="col-span-full text-center">
            <p>No nursing desks available.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}