{% extends 'base.html' %}
{% load static %}
{% block title %}NURSING DESKS{% endblock %}
{% block page_title %}
<div class="flex justify-center">
    <a href="{% url 'get_started' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>NURSING DESKS
</div>
{% endblock %}
{% block content %}
<section class="text-center border-cyan-700 p-1 m-1">
    {% for message in messages %}
    <div class="">
        <div class="uk-alert-success rounded-2xl text-xs w-fit mx-auto" uk-alert>
            <a href class="uk-alert-close font-medium" uk-close></a>
            <p class="text-green-700 uppercase p-2">{{ message }}</p>
        </div>
    </div>
    {% endfor %}
</section>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
    <div class="bg-gray-100 rounded-lg shadow-xl overflow-hidden mt-1">
        <div class="bg-gradient-to-r from-emerald-600 to-sky-600 p-2 text-center">
            <span class="text-sm text-white  uppercase">Nursing stations</span>
        </div>
  
      <div class="grid grid-cols-5 gap-6 p-8 bg-gray-50">
            {% for desk in nursing_desks %}
            <div class="transform transition duration-500 hover:scale-105">
                <a href="{% url 'nursing_station_detail' desk.id %}" class="block h-fit">
                    <div class="bg-white rounded-lg shadow-md overflow-hidden h-fit">
                        <div class="bg-sky-600 text-center">
                            <h3 class="text-sm font-semibold text-white truncate">{{ desk.clinic.name }}</h3>
                        </div>
                        <div class="p-2">
                            <div class="flex items-center justify-center gap-2">
                                <span class="text-gray-600 text-xs">Patients waiting:</span>
                                <span class="text-xs font-medium text-sky-600">{{ desk.patient_count }}</span>
                            </div>
                            <div class="mt-4 bg-sky-200 rounded-full overflow-hidden">
                                <div class="bg-sky-700 text-xs leading-none py-1 text-center text-white" 
                                     style="width: {% widthratio desk.patient_count 20 100 %}%">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="col-span-full">
                <div class="bg-white rounded-lg shadow-md p-8 text-center">
                    <i class="fas fa-info-circle text-4xl text-gray-400 mb-4"></i>
                    <p class="text-xl text-gray-600">No nursing desks available at the moment.</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}