{% extends 'base.html' %}
{% load static %}
{% block title %}NURSING DESK{% endblock %}
{% block page_title %}
<div class="flex justify-center">
    <a href="{% url 'nursing_desks_list' %}"><i class="fa-solid fa-backward fa-2xl mr-4"></i></a>
    {{ nursing_desk.clinic.name }} Nusring Desk
</div>
{% endblock %}
{% block content %}
<div class="">
    <section class="max-w-xl mx-auto text-center border-cyan-700 p-1 m-1">
        {% for message in messages %}
        <div class="">
            <div class="uk-alert-success rounded-2xl text-sm w-fit mx-auto" uk-alert>
                <a href class="uk-alert-close font-bold" uk-close></a>
                <p class="text-green-700 font-medium uppercase p-4">{{ message }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
    <div class="mx-2 md:mx-20 rounded-b-xl p-4 bg-sky-50 shadow-md">
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-sky-300">
                <thead class="bg-emerald-100 text-emerald-600 text-xs">
                    <tr>
                        <th class="p-2 text-left font-medium uppercase">#</th>
                        <th class="p-2 text-left font-medium uppercase">File Number</th>
                        <th class="p-2 text-left font-medium uppercase">Patient Name</th>
                        <th class="p-2 text-left font-medium uppercase">Phone Number</th>      
                        <th class="p-2 text-left font-medium uppercase">Gender</th>
                        <th class="p-2 text-left font-medium uppercase">Age</th>
                        <th class="p-2 text-left font-medium uppercase">Clinic</th>
                        <th class="p-2 text-left font-medium uppercase">Team</th>
                        <th class="p-2 text-left font-medium uppercase">Room</th>
                        <th class="p-2 text-left font-medium uppercase">Process</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-sky-200">
                    {% for h in visits %}
                    <tr class="text-xs bg-sky-50 hover:bg-sky-200 transition-colors duration-300">
                        <td class="p-2 whitespace-nowrap">{{ forloop.counter }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.patient.file_no|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.patient.full_name|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.patient.phone|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ v.patient.gender|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ v.patient.age|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.clinic|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.team|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">{{ h.room|default_if_none:'' }}</td>
                        <td class="p-2 whitespace-nowrap">
                            <a href="{% url 'vital_signs' h.patient.file_no %}" class="text-emerald-500 hover:text-emerald-700">
                                <i class="fa-solid fa-heartbeat text-base"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="p-2 text-center text-xs text-gray-600">No patients waiting at this nursing desk.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>
{% endblock %}